<div id="spinner"></div>

<div class="container-fluid">
    <div class="page-header">
	<div class="row">
	    <div class="col-sm-2 text-left">
		<h4>S360 (interaktiv)</h4>
	    </div>
	    <div class="col-sm-10 text-right">
		<h5>( Kunde: {{kundeVon}}-{{kundeBis}} / Datum: {{reklVon|date:'dd.MM.yyyy'}}-{{reklBis|date:'dd.MM.yyyy'}} / ReklNr: {{reklnr}} / TeilNr: {{teilnr}}) </h5>
	    </div>
	</div>
	<!--<h4>S360 (interaktiv) ( Kunde: {{kundeVon}}-{{kundeBis}} / Datum: {{reklVon}}-{{reklBis}} / ReklNr: {{reklnr}} / TeilNr: {{teilnr}}) </h4>-->
    </div>
<!--    <div>
	{{showGroups|json}}
    </div>-->
<table ng-init="columns=15" id='d550it' st-table="dZeilen" st-safe-src="zeilen" class="table table-bordered table-striped table-condensed table-hover table-responsive">
	<thead>
	    <tr class="no-print">
		<th colspan="{{columns}}">
		    <div style="display:inline-block;">
			<input tabindex="1" style="width:8em;" class="form-control" ng-keypress="getZeilen($event)" maxlength="5" ng-model="kundeVon" placeholder="Kunde von" type="text"/>
			<input tabindex="2" style="width:8em;" class="form-control" ng-keypress="getZeilen($event)" maxlength="5" ng-model="kundeBis" placeholder="Kunde bis" type="text"/>
		    </div>
		    <div style="display:inline-block;">
			<input tabindex="3" ng-model="reklVon" style="width:8em;" ui-date="dateOptions" type="text" class="form-control" id="" placeholder="Erhalten von">
			<input tabindex="4" ng-model="reklBis" style="width:8em;" ui-date="dateOptions" type="text" class="form-control" id="" placeholder="Erhalten bis">
		    </div>
		    <div style="display:inline-block;">
			<input tabindex="5" style="width:8em;" class="form-control" ng-keypress="getZeilen($event)" maxlength="10" ng-model="reklnr" placeholder="ReklNr" type="text"/>
			<input tabindex="6" style="width:8em;" class="form-control" ng-keypress="getZeilen($event)" maxlength="10" ng-model="teilnr" placeholder="TeilNr" type="text"/>
		    </div>
		    <div style="display:inline-block;vertical-align:top;">
		    <label class="radio-inline">
			<input ng-model="wahrung" type="radio" name="wahrungRadioOptions" id="inlineRadio1" value="EUR"> EUR
		    </label>
		    <label class="radio-inline">
			<input ng-model="wahrung" type="radio" name="wahrungRadioOptions" id="inlineRadio2" value="CZK"> CZK
		    </label>
		    </div>
		    <div style="display:inline-block;">
			<button class="btn btn-primary no-print" ng-click="showPrintDialog()">drucken</button>
		    </div>
		    <div style="display:inline-block;vertical-align: top;width:40em;">
			<input ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 }}" type="text" class="form-control" placeholder="global Suche / glob. hledani" ng-model="globalsearch"/>
		    </div>
		</th>
	    </tr>
	    <tr>
		<th>
		    ReklNr<hr>
		    Kd.Rekl
		</th>
		<th>Auftrag</th>
		<th>
		<div class="checkbox no-print">
		<label>
		    <input type="checkbox" ng-model="filter_nichterledigt">
		    nicht erledigt
		    </label>
		</div>
		    Erhalten<hr>
		    Erledigt<hr>
		    <span style="background-color:#fcc">widerspr.</span>
		</th>
		<th>Abweichung</th>
		<th>Ursache</th>
		<th>Art der Beseitigung</th>
		<th>
		    Teil<hr>
		    Giesstag
		</th>
		<th class="text-right">Stk exp.</th>
		<th class="text-right">
		    <div class="checkbox no-print">
			<label>
			<input type="checkbox" ng-model="filter_ppm" ng-click="getZeilen($event)">
			PPM</label>
		    </div>
		    Stk rekl.
		</th>
		<th class="text-right">Bew.</th>
		<th style="width:8em;" class="text-right">
		    <div class="row rowstk">
			<div class="col-xs-6 text-left">Typ</div>
			<div class="col-xs-6 text-right">Stk</div>
		    </div>
		</th>
		<th class="text-right">forecast<br>Kosten[{{wahrung}}]<br>Pauschale{{wahrung}}</th>
		<th class="text-right">ist<br>Kosten[{{wahrung}}]<br>Pauschale{{wahrung}}</th>
		<th class="text-right">Abmahn. Betrag [CZK]<br>Vorschl.<br>Ist</th>
		<th>Bemerkung</th>
	    </tr>
	</thead>
	<tbody ng-if="zeilen===null">
	    <tr>
		<td colspan="{{columns}}" class="text-center text-danger">
		    <h1>Keine Data !</h1>
		</td>
	    </tr>
	</tbody>
	<tbody>
	    <tr ng-show="(filter_ppm&&r.rekl.ppm!='0')||(!filter_ppm)" class="{{r.section}}" ng-repeat="r in dZeilen|filter:globalsearch" ng-init="zeilenIndex = $index">
		
		<!--kundeheader------------------------------------------------> 
		<td colspan="{{columns-6}}" class="{{r.section}}" ng-if="r.section=='kundeheader'">
		    {{r.kunde}}
		</td>
		<td colspan="{{1}}" class="{{r.section}} text-right" ng-if="r.section=='kundeheader'">
		    {{r.summen.interne_bewertung}}
		</td>
		<td colspan="{{1}}" class="{{r.section}} text-right" ng-if="r.section=='kundeheader'">
		    
		</td>
		<td colspan="{{1}}" class="{{r.section}} text-right" ng-if="r.section=='kundeheader'">
		    <span ng-show="wahrung=='EUR'">{{
			r.summen.forecast_anerkannt_ausschuss_eur
			+r.summen.forecast_anerkannt_nacharbeit_eur
			+r.summen.forecast_dif_falsch_deklariert_eur
			+r.summen.forecast_verpackung_eur
			+r.summen.forecast_kreislauf_eur|numeraljs:'0,000.00'}}<br>
			{{r.summen.forecast_pauschale_eur|numeraljs:'0,000.00'
			}}</span>
		    <span ng-show="wahrung=='CZK'">{{
			r.summen.forecast_anerkannt_ausschuss_czk
			+r.summen.forecast_anerkannt_nacharbeit_czk
			+r.summen.forecast_dif_falsch_deklariert_czk
			+r.summen.forecast_verpackung_czk
			+r.summen.forecast_kreislauf_czk|numeraljs:'0,000.00'}}<br>
			{{r.summen.forecast_pauschale_czk|numeraljs:'0,000.00'
			}}</span>
		</td>
		<td colspan="{{1}}" class="{{r.section}} text-right" ng-if="r.section=='kundeheader'">
		    <span ng-show="wahrung=='EUR'">{{
			r.summen.anerkannt_ausschuss_preis_eur
			+r.summen.anerkannt_nacharbeit_preis_eur
			+r.summen.dif_falsch_deklariert_preis_eur
			+r.summen.verpackung_preis_eur
			+r.summen.kreislauf_preis_eur|numeraljs:'0,000.00'}}<br>
			{{r.summen.pauschale_preis_eur|numeraljs:'0,000.00'
			}}</span>
		    <span ng-show="wahrung=='CZK'">{{
			r.summen.anerkannt_ausschuss_preis_czk
			+r.summen.anerkannt_nacharbeit_preis_czk
			+r.summen.dif_falsch_deklariert_preis_czk
			+r.summen.verpackung_preis_czk
			+r.summen.kreislauf_preis_czk|numeraljs:'0,000.00'}}<br>
			{{r.summen.pauschale_preis_czk|numeraljs:'0,000.00'
			}}</span>
		</td>
		<td colspan="{{1}}" class="{{r.section}} text-right" ng-if="r.section=='kundeheader'">
		    <span title="Vorschlag" style="white-space: nowrap;">{{r.summen.abmahnungenbetrag|numeraljs:'0,000.00'}}</span><br>
		    <span title="Ist" style="white-space: nowrap;">{{r.summen.abmahnungenbetrag_ist|numeraljs:'0,000.00'}}</span>
		</td>
		<td colspan="{{1}}" class="{{r.section}} text-right" ng-if="r.section=='kundeheader'">
		    
		</td>
		
		<!--rekldetail---------------------------------------------- -->
		<td  ng-show="(filter_nichterledigt&&r.rekl.rekl_erledigt_am=='')||(!filter_nichterledigt)" class="{{r.section}}" ng-if="r.section=='rekldetail'">
		    <a target="_blank" href="../reklamation/reklamation.php#/detail/{{r.rekl.id}}">{{r.rekl.rekl_nr}}</a><hr>
		    {{r.rekl.kd_rekl_nr}}
		</td>
		
		<td  ng-show="(filter_nichterledigt&&r.rekl.rekl_erledigt_am=='')||(!filter_nichterledigt)" class="{{r.section}}" ng-if="r.section=='rekldetail'">
		    {{r.rekl.export}}
		    <!--{{r.rekl.export.toString().replace(/,/g, ', ')}}-->
		</td>
		
		<td  ng-show="(filter_nichterledigt&&r.rekl.rekl_erledigt_am=='')||(!filter_nichterledigt)" class="{{r.section}}" ng-if="r.section=='rekldetail'">
		    <div title="erhalten am">{{r.rekl.rekl_datum}}</div><hr>
		    <!--<div title="erledigt am" style="position:absolute;">{{r.rekl.rekl_erledigt_am}}</div>-->
		    <div title="erledigt am">{{r.rekl.rekl_erledigt_am}}</div><hr>
		    <div ng-if="r.rekl.wider_am.length>0" title="widersprochen am" style="background-color:#fcc;">{{r.rekl.wider_am}}</div>
		</td>
		
		<td  ng-show="(filter_nichterledigt&&r.rekl.rekl_erledigt_am=='')||(!filter_nichterledigt)" class="{{r.section}}" ng-if="r.section=='rekldetail'">
		    {{r.rekl.beschr_abweichung}}
		</td>
		
		<td  ng-show="(filter_nichterledigt&&r.rekl.rekl_erledigt_am=='')||(!filter_nichterledigt)" class="{{r.section}}" ng-if="r.section=='rekldetail'">
		    {{r.rekl.beschr_ursache}}
		</td>
		
		<td  ng-show="(filter_nichterledigt&&r.rekl.rekl_erledigt_am=='')||(!filter_nichterledigt)" class="{{r.section}}" ng-if="r.section=='rekldetail'">
		    {{r.rekl.beschr_beseitigung}}
		</td>
		
		<td  ng-show="(filter_nichterledigt&&r.rekl.rekl_erledigt_am=='')||(!filter_nichterledigt)" class="{{r.section}}" ng-if="r.section=='rekldetail'">
		    <a target="_blank" href="../dkopf/dkopf.php?teil={{r.rekl.teil}}">{{r.rekl.teil}}</a><hr>
		    <div title="giesstag">{{r.rekl.giesstag}}</div>
		</td>
		
		<td  ng-show="(filter_nichterledigt&&r.rekl.rekl_erledigt_am=='')||(!filter_nichterledigt)" class="{{r.section}} text-right" ng-if="r.section=='rekldetail'">
		    {{r.rekl.stk_expediert}}
		</td>
		
		<td  title="{{r.rekl.ppm!='0'?'ist im PPM':''}}" ng-class="{hasppm:r.rekl.ppm!='0'}" ng-show="(filter_nichterledigt&&r.rekl.rekl_erledigt_am=='')||(!filter_nichterledigt)" class="{{r.section}} text-right" ng-if="r.section=='rekldetail'">
		    <span ng-show="(filter_ppm&&r.rekl.ppm!='0')||(!filter_ppm)">{{r.rekl.stk_reklammiert}}</span>
		</td>
		
		<td  ng-show="(filter_nichterledigt&&r.rekl.rekl_erledigt_am=='')||(!filter_nichterledigt)" class="{{r.section}} text-right" ng-if="r.section=='rekldetail'">
		    {{r.rekl.interne_bewertung}}
		</td>
		
		<td  ng-show="(filter_nichterledigt&&r.rekl.rekl_erledigt_am=='')||(!filter_nichterledigt)" class="{{r.section}} text-right" ng-if="r.section=='rekldetail'">
		    <div title="Ausschuss" ng-show="r.rekl.anerkannt_stk_ausschuss!=0" class="row rowstk">
			<div class="col-xs-6 text-left">A</div>
			<div class="col-xs-6 text-right">{{r.rekl.anerkannt_stk_ausschuss}}</div>
		    </div>
		    <div title="Ausschuss Selbstanzeige" ng-show="r.rekl.anerkannt_stk_ausschuss_selbst!=0" class="row rowstk">
			<div class="col-xs-6 text-left">A6</div>
			<div class="col-xs-6 text-right">{{r.rekl.anerkannt_stk_ausschuss_selbst}}</div>
		    </div>
		    <div title="Nacharbeit" ng-show="r.rekl.anerkannt_stk_nacharbeit!=0" class="row rowstk">
			<div class="col-xs-6 text-left">NA</div>
			<div class="col-xs-6 text-right">{{r.rekl.anerkannt_stk_nacharbeit}}</div>
		    </div>
		    <div title="Dif / falsch deklariert" ng-show="r.rekl.dif_falsch_deklariert_stk!=0" class="row rowstk">
			<div class="col-xs-6 text-left">Dif</div>
			<div class="col-xs-6 text-right">{{r.rekl.dif_falsch_deklariert_stk}}</div>
		    </div>
		    <div title="Verpackung" ng-show="r.rekl.verpackung_stk!=0" class="row rowstk">
			<div class="col-xs-6 text-left">VPA</div>
			<div class="col-xs-6 text-right">{{r.rekl.verpackung_stk}}</div>
		    </div>
		    <div title="Kreislauf" ng-show="r.rekl.kreislauf_stk!=0" class="row rowstk">
			<div class="col-xs-6 text-left">Mat</div>
			<div class="col-xs-6 text-right">{{r.rekl.kreislauf_stk}}</div>
		    </div>
		    <div title="Unklar" ng-show="r.rekl.unklar_stk!=0" class="row rowstk">
			<div class="col-xs-6 text-left">?</div>
			<div class="col-xs-6 text-right">{{r.rekl.unklar_stk}}</div>
		    </div>
		    <div title="nicht anerkannt" ng-show="r.rekl.anerkannt_stk_nein!=0" class="row  rowstk">
			<div class="col-xs-6 text-left">
			    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
			</div>
			<div class="col-xs-6 text-right">{{r.rekl.anerkannt_stk_nein}}</div>
		    </div>
		</td>
		<td  ng-show="(filter_nichterledigt&&r.rekl.rekl_erledigt_am=='')||(!filter_nichterledigt)" class="{{r.section}} text-right" ng-if="r.section=='rekldetail'">
		    <span ng-show="wahrung=='EUR'">{{
			r.rekl.forecast_anerkannt_ausschuss_eur
			+r.rekl.forecast_anerkannt_ausschuss_selbst_eur
			+r.rekl.forecast_anerkannt_nacharbeit_eur
			+r.rekl.forecast_dif_falsch_deklariert_eur
			+r.rekl.forecast_verpackung_eur
			+r.rekl.forecast_kreislauf_eur|numeraljs:'0,000.00'}}<br>
			{{r.rekl.forecast_pauschale_eur|numeraljs:'0,000.00'
			}}</span>
		    <span ng-show="wahrung=='CZK'">{{
			r.rekl.forecast_anerkannt_ausschuss_czk
			+r.rekl.forecast_anerkannt_ausschuss_selbst_czk
			+r.rekl.forecast_anerkannt_nacharbeit_czk
			+r.rekl.forecast_dif_falsch_deklariert_czk
			+r.rekl.forecast_verpackung_czk
			+r.rekl.forecast_kreislauf_czk|numeraljs:'0,000.00'}}<br>
			{{r.rekl.forecast_pauschale_czk|numeraljs:'0,000.00'
			}}</span>
		</td>		
		<td  ng-show="(filter_nichterledigt&&r.rekl.rekl_erledigt_am=='')||(!filter_nichterledigt)" class="{{r.section}} text-right" ng-if="r.section=='rekldetail'">
		    <span ng-show="wahrung=='EUR'">{{
			r.rekl.anerkannt_ausschuss_preis_eur
			+r.rekl.anerkannt_ausschuss_selbst_preis_eur
			+r.rekl.anerkannt_nacharbeit_preis_eur
			+r.rekl.dif_falsch_deklariert_preis_eur
			+r.rekl.verpackung_preis_eur
			+r.rekl.kreislauf_preis_eur|numeraljs:'0,000.00'}}<br>
			{{r.rekl.pauschale_preis_eur|numeraljs:'0,000.00'
			}}</span>
		    <span ng-show="wahrung=='CZK'">{{
			r.rekl.anerkannt_ausschuss_preis_czk
			+r.rekl.anerkannt_ausschuss_selbst_preis_czk
			+r.rekl.anerkannt_nacharbeit_preis_czk
			+r.rekl.dif_falsch_deklariert_preis_czk
			+r.rekl.verpackung_preis_czk
			+r.rekl.kreislauf_preis_czk|numeraljs:'0,000.00'}}<br>
			{{r.rekl.pauschale_preis_czk|numeraljs:'0,000.00'
			}}</span>
		</td>
		
		<td  ng-show="(filter_nichterledigt&&r.rekl.rekl_erledigt_am=='')||(!filter_nichterledigt)" class="{{r.section}}  text-right" ng-if="r.section=='rekldetail'">
		    <span title="Vorschlag" style="white-space: nowrap;">{{r.rekl.abmahnungenbetrag|numeraljs:'0,000.00'}}</span><br>
		    <span title="Ist" style="white-space: nowrap;">{{r.rekl.abmahnungenbetrag_ist|numeraljs:'0,000.00'}}</span>
		</td>
		
		<td  ng-show="(filter_nichterledigt&&r.rekl.rekl_erledigt_am=='')||(!filter_nichterledigt)" class="{{r.section}}" ng-if="r.section=='rekldetail'">
		    {{r.rekl.bemerkung}}
		    <div ng-if="r.rekl.verursacherArray.length>0">(Verursacher: <span ng-repeat="v in r.rekl.verursacherArray">{{v.persnr}}<span ng-if="!$last">, </span></span>)</div>
		</td>
		
		<!--tableSummen------------------------------------------------> 
		<td colspan="{{columns-6}}" class="{{r.section}}" ng-if="r.section=='tableSummen'">
		    Gesamtsumme
		</td>
		<td colspan="{{1}}" class="{{r.section}} text-right" ng-if="r.section=='tableSummen'">
		    {{r.summen.interne_bewertung}}
		</td>
		<td colspan="{{1}}" class="{{r.section}} text-right" ng-if="r.section=='tableSummen'">
		    
		</td>
		<td colspan="{{1}}" class="{{r.section}} text-right" ng-if="r.section=='tableSummen'">
		    <span ng-show="wahrung=='EUR'">{{
			r.summen.forecast_anerkannt_ausschuss_eur
			+r.summen.forecast_anerkannt_ausschuss_selbst_eur
			+r.summen.forecast_anerkannt_nacharbeit_eur
			+r.summen.forecast_dif_falsch_deklariert_eur
			+r.summen.forecast_verpackung_eur
			+r.summen.forecast_kreislauf_eur|numeraljs:'0,000.00'}}<br>
			{{r.summen.forecast_pauschale_eur|numeraljs:'0,000.00'
			}}</span>
		    <span ng-show="wahrung=='CZK'">{{
			r.summen.forecast_anerkannt_ausschuss_czk
			+r.summen.forecast_anerkannt_ausschuss_selbst_czk
			+r.summen.forecast_anerkannt_nacharbeit_czk
			+r.summen.forecast_dif_falsch_deklariert_czk
			+r.summen.forecast_verpackung_czk
			+r.summen.forecast_kreislauf_czk|numeraljs:'0,000.00'}}<br>
			{{r.summen.forecast_pauschale_czk|numeraljs:'0,000.00'
			}}</span>
		</td>		

		<td colspan="{{1}}" class="{{r.section}} text-right" ng-if="r.section=='tableSummen'">
		    <span ng-show="wahrung=='EUR'">{{
			r.summen.anerkannt_ausschuss_preis_eur
			+r.summen.anerkannt_ausschuss_selbst_preis_eur
			+r.summen.anerkannt_nacharbeit_preis_eur
			+r.summen.dif_falsch_deklariert_preis_eur
			+r.summen.verpackung_preis_eur
			+r.summen.kreislauf_preis_eur|numeraljs:'0,000.00'}}<br>
			{{r.summen.pauschale_preis_eur|numeraljs:'0,000.00'
			}}</span>
		    <span ng-show="wahrung=='CZK'">{{
			r.summen.anerkannt_ausschuss_preis_czk
			+r.summen.anerkannt_ausschuss_selbst_preis_czk
			+r.summen.anerkannt_nacharbeit_preis_czk
			+r.summen.dif_falsch_deklariert_preis_czk
			+r.summen.verpackung_preis_czk
			+r.summen.kreislauf_preis_czk|numeraljs:'0,000.00'}}<br>
			{{r.summen.pauschale_preis_czk|numeraljs:'0,000.00'
			}}</span>
		</td>
		<td colspan="{{1}}" class="{{r.section}} text-right" ng-if="r.section=='tableSummen'">
		    <span title="Vorschlag" style="white-space: nowrap;">{{r.summen.abmahnungenbetrag|numeraljs:'0,000.00'}}</span><br>
		    <span title="Ist" style="white-space: nowrap;">{{r.summen.abmahnungenbetrag_ist|numeraljs:'0,000.00'}}</span>
		</td>
		<td colspan="{{1}}" class="{{r.section}} text-right" ng-if="r.section=='tableSummen'">
		    
		</td>
	    </tr>
	</tbody>
	
	<tfoot>
	</tfoot>
    </table>
</div>
