<!--<div id="spinner"></div>-->

<div class="container-fluid">
    <div class="page-header">
	<h4>Auftragpositionen erstellen / pozice zakazky 
	<span class="label label-info">{{auftragsnr}}</span>
	</h4>
    </div>

    <form novalidate name="erfassenform">

    <div class="row">
	
	<!--informace pro vytvoreni pozice-->
	<div class="col-sm-6">
	    <div class="row">
		<div class="col-sm-12">
		    <div class="form-group">
			<label for="Teil">Teil ( suchen / hledat )</label>
			    <ui-select
				    autofocus
				    ng-model="teil.selected" 
				    enterfocus
				    reset-search-input="false" 
				    theme="bootstrap"
				    on-select="teilOnSelect($item, $model)"
				>
				<ui-select-match placeholder="Teil">{{$select.selected.teil}}</ui-select-match>
				<ui-select-choices repeat="p in teilArray track by $index"
						   refresh="refreshTeil($select.search)"
						   refresh-delay="0">
				    <div ng-bind-html="p.formattedTeil | highlight: $select.search"></div>
				</ui-select-choices>
			    </ui-select>
		    </div>
		</div>
	    </div>
	    
	    <div ng-show="teilInfo!==undefined" class="row">
		<div class="col-sm-12">
		    <!--teilbezeichnung-->
		    <div class="row">
			<div class="col-sm-12">
			    <div class="form-group">
				<label for="">Teilbezeichnung</label>
				<input ng-model="teilInfo.teil.Teilbez" disabled type="text" class="form-control">
			    </div>	    
			</div>
		    </div>
		    <div ng-show="teilInfo.teil.status=='ALT'" class="row">
			<div class="col-sm-12">
			    <div class="form-group">
				<input readonly type="text" style="background-color: orangered;" class="form-control text-danger bg-danger" value="ALTES Teil, nicht benutzen !!!">
			    </div>	    
			</div>
		    </div>
		    <div ng-show="teilInfo.teil.status=='ZT'" class="row">
			<div class="col-sm-12">
			    <div class="form-group">
				<input readonly type="text" style="background-color: orange;" class="form-control text-danger bg-warning" value="Zeitaufnahme und Technologie prufen">
			    </div>	    
			</div>
		    </div>
		    <div ng-show="teilInfo.teil.status=='GSP'" class="row">
			<div class="col-sm-12">
			    <div class="form-group">
				<input readonly type="text" class="form-control text-danger" value="gesperrtes Teil, nicht benutzen !!!">
			    </div>	    
			</div>
		    </div>
		    <!-- restmenge, verpackung-->
		    <div class="row">
			<div class="col-sm-3">
				<label for="">Restmenge verw.</label>
			</div>
			<div class="col-sm-3">
				<label for="">Verpackungmenge</label>
			</div>
			<div class="col-sm-3">
				<label for="">Br. Gewicht [kg]</label>
			</div>
			<div class="col-sm-3">
				<label for="">NettoGewich [kg]</label>
			</div>
		    </div>
		    <div class="row">
			<div class="col-sm-3">
				<input ng-model="teilInfo.teil.restmengen_verw" disabled type="text" class="form-control">
			</div>
			<div class="col-sm-3">
				<input ng-model="teilInfo.teil.verpackungmenge" disabled type="text" class="form-control text-right">
			</div>
			<div class="col-sm-3">
				<input ng-model="teilInfo.teil.BrGew" disabled type="text" class="form-control text-right">
			</div>
			<div class="col-sm-3">
				<input name="gew" id='gew' enterfocus required="" ng-model="teilInfo.teil.Gew" type="text" class="form-control text-right">
			</div>
		    </div>
		    <!------------------------------------------------------------------------------------------------------>
		    <!-- informace pro vytvoreni palet -->
		    <div class="row">
			<div class="col-sm-3">
				<label for="">PalStūckzahl / pocet palet</label>
			</div>
			<div class="col-sm-3">
				<label for="">Stk pro Pal / kusu na palete</label>
			</div>
			<div class="col-sm-3">
				<label for="">erste Palnummer / cislo prvni palety</label>
			</div>
			<div class="col-sm-3">
				<label for="">Increment / prirustek</label>
			</div>
		    </div>
		    <div class="row">
			<div class="col-sm-3">
				<input  enterfocus required="" min="0" max="99" ng-model="positionInfo.palstk" type="number" class="form-control text-right">
			</div>
			<div class="col-sm-3">
				<input  enterfocus required="" min="0" max="99999" ng-model="positionInfo.stkpropal" type="number" class="form-control text-right">
			</div>
			<div class="col-sm-3">
				<input   enterfocus name="erstepal" stkinc="{{positionInfo.palstk}}:{{positionInfo.increment}}:{{auftragsnr}}" palcanexist-validator required="" ng-model-options="{allowInvalid: true,updateOn: 'default blur', debounce: { default: 200, blur: 0 }}" min="0" max="9999" ng-model="positionInfo.firstpal" type="number" class="form-control text-right">
			</div>
			<div class="col-sm-3">
				<input   enterfocus required="" min="1" max="100"  ng-model="positionInfo.increment" type="number" class="form-control text-right">
			</div>
		    </div>
		    <!------------------------------------------------------------------------------------------------------------>
		    
		    <!-- -->
		    		    <div class="row">
			<div class="col-sm-3">
				<label title="aus Auftrag: {{positionInfo.fremdausauftrag}}" for="">fremdauftr</label>
			</div>
			<div class="col-sm-3">
				<label title="aus Auftrag: {{positionInfo.fremdausauftrag}}" for="">fremdpos</label>
			</div>
			<div class="col-sm-3">
				<label for="">giesstag</label>
			</div>
			<div class="col-sm-3">
				<label for="">EX geplant mit</label>
			</div>
		    </div>

		    <div class="row">
			<div class="col-sm-3">
				<input  enterfocus title="aus Auftrag: {{positionInfo.fremdausauftrag}}" ng-model="positionInfo.fremdauftr" type="text" class="form-control text-left">
			</div>
			<div title="aus Auftrag: {{positionInfo.fremdausauftrag}}" class="col-sm-3">
				<input  enterfocus title="aus Auftrag: {{positionInfo.fremdausauftrag}}" ng-model="positionInfo.fremdpos" type="text" class="form-control text-right">
			</div>
			<div class="col-sm-3">
				<input  enterfocus ng-model="positionInfo.gt" type="text" class="form-control text-left">
			</div>
			<div class="col-sm-3">
			    <input  enterfocus ng-change="explanmitChange()" ng-model="positionInfo.explanmit" maxlength="9" type="text" class="form-control">
			</div>
		    </div>
		    <!---------------------------------------------------------------->
		    <div class="row">
			<div class="col-sm-12">
			    <div class="form-group">
				<label for="">Bemerkung</label>
				<input enterfocus ng-model="positionInfo.bemerkung" type="text" class="form-control">
			    </div>	    
			</div>
		    </div>
		    <!-- -->
		    <div class="row">
			<div class="col-sm-6">
			    <button  type='button' ng-click="posErstellen('formValid')" ng-show="(erfassenform.$valid && allowErfassen)" class="btn btn-info form-control">Positionen erstellen</button>
			</div>
			<div class="col-sm-6">
			    <button type='button' ng-click="endeClick()" class="btn btn-danger form-control">Ende / konec</button>
			</div>
		    </div>
		    
		    <!-- dokumenty k dilu -->
		    <div ng-if="teilInfo.dokumente.length>0" class="row">
			<div class="col-sm-12">
			    <table id='dokutable' class="table table-condensed table-striped">
				<thead>
				    <tr>
					<th>dokunr</th>
					<th>dokutyp</th>
					<th>freigabe am</th>
					<th>freigabe vom</th>
					<th>musterplatz</th>
				    </tr>
				</thead>
				<tbody>
				    <tr ng-repeat="d in teilInfo.dokumente">
					<td>{{d.doku_nr}}</td>
					<td>{{d.doku_beschreibung}}</td>
					<td>{{d.freigabe_am}}</td>
					<td>{{d.freigabe_vom}}</td>
					<td>{{d.musterplatz}}</td>
				    </tr>
				</tbody>
			    </table>
			</div>
		    </div>
		    
		    
		</div>
	    </div>

	    <!--vypis chyb-->
	    
	    <div style="margin-top:20px;" class="panel panel-danger" ng-if="(teilInfo!==undefined)&&(erfassenform.erstepal.$error.palexists)">
		<div class="panel-heading">
		    Fehler / Chyba
		</div>
		<div class="panel-body">
		    <p ng-show="erfassenform.erstepal.$error.palexists">
			Eingegebene kombination kann Palettenduplikate erstellen !
			<button type='button' ng-show="allowErfassen" ng-click="posErstellen('mitPalExists')" class="btn btn-info form-control">trotzdem Positionen erstellen</button>
		    </p>
		</div>
	    </div>
	    
	</div>
	<!--pozice z pracoviho planu pro vybrany dil-->
	<div class="col-sm-6">
	    <table id='dpos' ng-show="teilInfo!==undefined" st-table="displaydpos" st-safe-src="dpos" class="table table-bordered table-striped table-condensed table-hover">
	    <thead>
	    <tr>
		<th>tat</th>
		<th>abgnr</th>
		<th style="width:3em;">G</th>
		<th>Preis</th>
		<th>VzKd</th>
		<th>VzAby</th>
		<th>Lag Von</th>
		<th>Lag Nach</th>
		<th>Bedarf</th>
	    </tr>
	    </thead>
	    <tbody>
		<tr ng-class="{kzgut:(r.kzgut=='G'),disabled:(r.kz_druck==0)}" ng-repeat="r in displaydpos" >
		    <td ng-click="dposRowClicked(r)" class='text-left'>{{r.tat}}</td>
		    <td ng-click="dposRowClicked(r)" class='text-right'>{{r.abgnr}}</td>
		    <td>
			<input ng-change="updateKzGut(r)" maxlength="1" ng-pattern="G" ng-disabled="r.kz_druck==0"  type="text" class="form-control input-sm" ng-model="r.kzgut"/>
		    </td>
		    <td class='text-right'>{{r.preis|number:4}}</td>
		    <td class='text-right'>
			<input ng-change="vzChanged(r,'vzkd')" ng-model-options="{updateOn:'blur'}" ng-disabled="r.kz_druck==0" type="text" class="form-control input-sm text-right" ng-model="r.vzkd"/>
		    </td>
		    <td class='text-right'>
			<input ng-change="vzChanged(r,'vzaby')" ng-model-options="{updateOn:'blur'}"  ng-disabled="r.kz_druck==0"  type="text" class="form-control input-sm text-right" ng-model="r.vzaby"/>
		    </td>
		    <td>{{r.lager_von}}</td>
		    <td>{{r.lager_nach}}</td>
		    <td>{{r.bedarf_typ}}</td>
		</tr>
	    </tbody>
	    </table>
	</div>
    </div>

    </form>
</div>
