body{
		background-color: rgb(179,179,179);
		font-family: Arial;
		}

.abyStartButton {width:180px; margin:2px 2px 2px 2px;}
.formularbutton
{
	width:180px;
	font-size:10px;
}

.formularEndbutton
{
	width:180px;
	font-size:10px;
	background-color:rgb(255,0,0);
	color:rgb(255,255,255);
	font-weight:bold;
}

.fertigrow
{
	background-color: #ffeeee;
}

.highlightrow
{
	background-color: #FFFF00;
	cursor: pointer
}

.hidden
{
	display:none
}

.showbutton
{
	display:inline;
}


.error
{
	display:inline;
	margin-left:0px;
	border:none;
	color:#ff0000;
	background-color:rgb(220,220,220);
	font-size:10px;
	font-weight:bold
}

.disabled_bold
{
	font-weight:bold;
	background-color:white;
}

tr.Grow
{
	background-color:rgb(255,255,180);
	font-weight:bold;
}

tr.oddel_paletu
{
	background-color:rgb(100,100,255);
	font-size:0px;
}


td.int
{
	text-align: right;
}

td.real
{
	text-align: right;
}

td.string
{
	text-align: left;
}

td.timestamp
{
	font-size: smaller;
}
