/* CSS Document */
body{
    background-color: rgb(179,179,179);
    font-family: Arial;
    margin: 0px;
}

h3{
    margin: 0px
}

#header {
    width: 100%;
    height: 65px;
    background-image: url(img/zahlavi30.jpg);
    margin: 0px
}

#podheader {
    width: 100%;
/*    height: 20px;*/
    background-color:rgb(220,220,220);
    border-bottom: solid 1px black;
    border-top: solid 1px black;
    font-size: 1em;
}

#logindiv {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

table.logintable{
    background-color:rgb(220,220,220);
    border: solid 1px black;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    width: 100%;
}

input.abyStartButton{
    font-size: 1em;
    width: 49%;
    margin: 0px;
    display: inline-block;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    margin-top: 0.2em;
}

fieldset.buttonsection{
    margin: 0px;
    padding: 0px;
    text-align: left;
    padding-left: 0.1em;
    padding-right: 0.1em;
    margin-top: 0.1em;
    padding-bottom: 0.4em;
    background-color: #ccc;
    padding-top: 0.3em;
}

fieldset.buttonsection legend{
    width: 90%;
    background-color: #ff0;
    padding: 0.3em;
    text-align: center;
    font-weight: bold;
    margin: 0px;
    border: 1px solid;
}    

#leistungtabelle {
    background-color:rgb(179,179,179);
    width: 100%; 
    margin-top: 1em;
}

#tlacitka {
    background-color:rgb(179,179,179);
    width: 100%;
}

table.monatleistungtable
{
	background-color:rgb(220,220,220);
	border: solid 1px black;
	width: 100%;
}

#parametry {
		  }

table.paramtable
{
    width: 100%;
    background-color:rgb(220,220,220);
    border: solid 1px black;
}
		
table.paramtable td.paramlabel{
    width: 60%;
}    

input.paraminput{
    width: 95%;
    font-size: 1em;
    margin: 0px;
    display: inline-block;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    margin-top: 0.2em;
}    

table.paramtable input.datepicker{
    width: 95%;
    font-size: 1em;
    margin: 0px;
    display: inline-block;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    margin-top: 0.2em;
}    

@media screen and (min-width:780px){
    table.logintable{
	width: 50%;
	margin-top: 1em;
    }

    #leistungtabelle {
	background-color:rgb(179,179,179);
	width: 40%; 
	float: left;
	margin-left: 2em;
	margin-top: 1em;
    }

    #tlacitka {
	background-color:rgb(179,179,179);
	width: 50%;
	float: left;
	margin-top: 1em;
	margin-left: 1em;
    }

    table.paramtable
    {
	margin-top: 1em;
	width: 50%;
    }
}


	  
		


#celek{width:1020px;}
#headers{width: 400px;}
#headers h1 { width: 200px; height: 30px; color: rgb(255,51,102);float:left; font: normal small-caps bolder 30px bolder Verdana;}

#headers h2{width: 200px; float:left; height: 30px; font: normal normal bold 13px bold Verdana;}

#raw{color: rgb(0,255,0); font-weight: bold; }

#tables{float: left; margin-right: 30px;}
#table1{ background-color: rgb(179,179,179); clear: left;}
#table1 th{width: 75px; font: normal normal bold 15px bold Verdana;}
#table1 td{text-align: right; border-right: solid 1px black; border-top: solid 1px black; font: normal normal bold 20px bold Verdana;}

#table2{}
#table2 th{width: 70px; font: normal normal normal 13px normal Verdana;}
#table2 td{text-align: right;    background-color: rgb(255,255,255); border-right: solid 1px black; border-top: solid 1px black; font: normal normal normal 13px normal Verdana; margin:0px;}



/*table.logintable
{
	position:relative;
	top:10px;
	background-color:rgb(220,220,220);
	border: solid 1px black;
}*/

table.formulartable
{
	position:relative;
	top:10px;
	background-color:rgb(220,220,220);
	border: solid 1px black;
}



tr.login_username
{
	background-color:rgb(220,220,220);
	
}

tr.login_username
{
	background-color:rgb(220,220,220);
	
}

td.progresspopis
{
	background-color:rgb(200,200,255);
	text-align:center;
	font-weight: bold;
	border-bottom: dotted 1px black;
	padding: 5px;
}

td.ganzmonat
{
	background-color:rgb(255,200,200);
	text-align:right;
	font-size:10pt;
	font-weight: bold;
	border-bottom: dotted 1px black;
	padding: 1px;
}

td.progresspolozka
{
	background-color:rgb(255,255,255);
	text-align:right;
	font-weight: normal;
	font-size:8pt;
	border-bottom: none 1px black;
	padding: 1px;
}

td.personalpopis
{
	background-color:rgb(255,255,200);
	text-align:center;
	font-weight: bold;
	border-bottom: dotted 1px black;
	padding: 5px;
}

td.kundenpopis
{
	background-color:rgb(255,255,200);
	text-align:center;
	font-weight: bold;
	border-bottom: dotted 1px black;
	padding: 5px;
}

td.auftragpopis
{
	background-color:rgb(255,255,200);
	text-align:center;
	font-weight: bold;
	border-bottom: dotted 1px black;
	padding: 5px;
}

td.hlasenipopis
{
	background-color:rgb(255,255,200);
	text-align:center;
	font-weight: bold;
	border-bottom: dotted 1px black;
	padding: 5px;
}

td.sestavypopis
{
	background-color:rgb(255,255,200);
	text-align:center;
	font-weight: bold;
	border-bottom: dotted 1px black;
	padding: 5px;
}


.cleaner{clear: both; visibility: hidden;}



.formularbutton
{
	width:180px;
	font-size:10px;
}
.formularEndbutton
{
	width:180px;
	font-size:10px;
	background-color:rgb(255,0,0);
	color:rgb(255,255,255);
	font-weight:bold;
}