<div class="container-fluid">
    <p>detail: {{reklid}}</p>
    <table class="table table-condensed table-responsive table-striped">
	<thead>
	    <tr id='uploader'>
		<th colspan="2">{{rekl.savePath|limitTo:255:10}}<div id='filelist'></div></th>
		<th><button id='pickfiles' type="button" class="btn btn-sm btn-primary btn-block">add files</button></th>
	    </tr>
	    <tr>
		<th>name</th>
		<th>mtime</th>
		<th class="text-right">size</th>
	    </tr>
	</thead>
	<tbody>
	    <tr ng-repeat="f in rekl.files">
		<td><a href="{{f.url}}">{{f.filename}}</a></td>
		<td>{{f.mtime*1000|date:'yyyy-MM-dd HH:mm:ss'}}</td>
		<td class="text-right">{{f.size}}</td>
	    </tr>
	</tbody>
    </table>
    
    <table class="table table-condensed table-responsive table-striped">
	<thead>
<!--	    <tr>
		<th colspan="2">{{rekl.savePath|limitTo:255:10}}<div id='filelist'></div></th>
		<th><button id='pickfiles' type="button" class="btn btn-sm btn-primary btn-block">add files</button></th>
	    </tr>-->
	    <tr>
		<th><input type="text" class="form-control" placeholder="Datum" ></th>
		<th>
		    <ui-select
				    ng-model="abmahnungPersnr.selected" 
				    ng-disabled="disabled" 
				    reset-search-input="false" 
				    theme="bootstrap"
				    on-select="abmahnungPersnrSelected()"
				    >
				    <ui-select-match placeholder="Persnr">{{$select.selected.persnr}}</ui-select-match>
				    <ui-select-choices repeat="p in abmahnungPersnrArray track by $index"
					refresh="refreshAbmahnungPersnr($select.search)"
					refresh-delay="0">
					<div ng-bind-html="p.formattedPersnr | highlight: $select.search"></div>
				    </ui-select-choices>
		    </ui-select>
		</th>
		<th><input type="number" class="form-control text-right" placeholder="Betrag" ></th>
		<th><input type="text" class="form-control text-left" placeholder="Von" value="{{user}}"></th>
		<th><input type="text" class="form-control text-left" placeholder="Bemerkung" ></th>
		<th><button id='add_abmahnung' type="button" class="btn btn-sm btn-primary btn-block">+</button></th>
	    </tr>
	    <tr>
		<th>Datum</th>
		<th class="text-right">PersNr</th>
		<th class="text-right">Betrag</th>
		<th class="text-left">Von</th>
		<th colspan="2">Bemerkung</th>
	    </tr>
	</thead>
	<tbody>
	    <tr ng-repeat="a in rekl.abmahnungen">
		<td>{{a.datum}}</td>
		<td class="text-right">{{a.persnr}}</td>
		<td class="text-right">{{a.vorschlag_betrag}}</td>
		<td>{{a.vorschlag_von}}</td>
		<td colspan="2">{{a.vorschlag_bemerkung}}</td>
	    </tr>
	</tbody>
    </table>
    
    
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseDebug" aria-expanded="false" aria-controls="collapseDebug">
    debuginfo
    </button>
    <div class="collapse" id="collapseDebug">
	<div class="well">
	    <p><pre>{{rekl|json}}</pre></p>
	</div>
    </div>
</div>
