<div class="container-fluid">
    <div class="page-header">
	<h4>Auftrag pflegen / sprava zakazky - Auftrag suchen ( NEU )
	</h4>
    </div>

    <div class="col-sm-9">
    <div class="row">
	<div class="col-sm-12">
	    <div class="form-group">
		<label for="auftragsnr">Auftrag suchen / hledat zakázku</label>
		<input ng-keypress="goToAufrag($event)" ng-change="getAuftragsMatch()" ng-model="auftragsnr" autofocus type="text" maxlength="8" class="form-control" id="auftragsnr" placeholder="Auftragsnr suchen">
		<span id="helpBlock" class="help-block">min. 3 Zeichen eingeben, zeigt max. 100 Ergebnisse / zadejte min. 3 znaky, zobrazi se max. 100 výsledků</span>
	    </div>
	</div>
	<div ng-show="createNew==true && securityInfo.showArray.newauftrag" class="col-sm-4">
	    <div class="input-group">
		<input enterfocus name='newkunde' id='newkunde' ng-model="newkunde" type="text" maxlength="3" class="form-control" id="newkunde" placeholder="Kundenr eingeben">
		<span class="input-group-btn">
		    <button ng-click="createNewAuftrag()" class="btn btn-primary" type="button">Neu Auftrag / nová zakázka</button>
		</span>
	    </div>
	    <div ng-show="createNewKundeError.length>0" class="alert alert-danger" role="alert">
		<h4>{{createNewKundeError}}</h4>
	    </div>
	</div>
    </div>
    
    <div ng-show="auftrags.length>0" class="row">
	<div class="col-sm-12">
	    <table class="table table-condensed table-striped table-hover table-responsive">
		<thead>
		    <tr>
			<th>Kunde</th>
			<th>Auftragsnr</th>
			<th>Bestellnr</th>
			<th>Auftragsdatum</th>
			<th>Rechnung am</th>
			<th>ausgeliefert am</th>
		    </tr>
		</thead>
		<tbody>
		    <tr ng-click="listRowClicked(auftrag)" ng-repeat="auftrag in auftrags">
			<td>{{auftrag.kunde}}</td>
			<td>{{auftrag.auftragsnr}}</td>
			<td>{{auftrag.bestellnr}}</td>
			<td>{{auftrag.Aufdat}}</td>
			<td>{{auftrag.fertig}}</td>
			<td>{{auftrag.ausliefer_datum}}</td>
		    </tr>
		</tbody>
	    </table>
	</div>
    </div>
    </div>
    
    <div class="col-sm-3">
	<div class="panel panel-default">
	    <div class="panel-heading">
		F
	    </div>
	    <div class="panel-body">
		<a class="btn btn-default form-control" ng-href="../d607i/d607i.php">D607i</a>
		<a class="btn btn-default form-control" ng-href="../cmr/cmr.php">CMR</a>
	    </div>
	</div>
    </div>
</div>