/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21.4.2015, 11:33:19
    Author     : jr
*/

.customSearchClass{
    background-color: #0066cc;
}

#filterDiv{
    background-color: #ddd;
    padding: 4px;
}