.reportbutton
{
    width: 32%;
    text-align: left;
    font-size: 0.8em;
    border: solid 1px black;
    margin: 0px;
    cursor: pointer;
    padding: 0.2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    height: 3em;
}

div#buttoncontainer div{
    margin: 0;
}    

div#rs_DXXX input.reportbutton
{
    background-color:rgb(255,200,200);	
}

div#rs_S1XX input.reportbutton
{
    background-color:rgb(255,200,255);	
}

div#rs_S190 input.reportbutton
{
    background-color:rgb(255,200,255);	
}

div#rs_S2XX input.reportbutton
{
    background-color:rgb(200,200,255);	
}

div#rs_S36X input.reportbutton
{
    background-color:rgb(230,230,230);	
}

div#rs_S34XX input.reportbutton
{
    background-color:rgb(230,230,230);	
}

div#rs_S31X input.reportbutton
{
    background-color:rgb(230,230,230);	
}

div#rs_S5XX input.reportbutton
{
    background-color:rgb(230,230,230);	
}

div#rs_S280 input.reportbutton
{
    background-color:rgb(200,200,255);	
}

div#S7XX input.reportbutton
{
    background-color:rgb(255,255,200);	
}

div#rs_S67XX input.reportbutton
{
    background-color:rgb(200,255,255);	
}

div#rs_S8XX input.reportbutton
{
    background-color:rgb(200,255,200);
}

div#miscReports input.reportbutton
{
    background-color:rgb(255,255,255);
}

div#rs_GF input.reportbutton
{
    background-color:rgb(0,255,0);
}

@media screen and (min-width:800px){
    .reportbutton
    {
	width: 24%;
    }
}
