<div id="spinner"></div>

<div class="container-fluid">
    <div class="page-header">
	<div class="row">
	    <div class="col-sm-10">
		<h4 class="text-left">
		    <span class="glyphicon glyphicon-road"></span>
		CMR
		<span class="label label-info">{{auftragInfo.auftragsnr}}</span>
		</h4>
	    </div>
	    <div class="col-sm-2">
		<a href="" ng-click="showPrintDialog()" class="btn btn-block btn-xs btn-info">Drucken</a>		
	    </div>
	</div>
    </div>

<!--    <p>
	SecInfo:
    <pre>
	{{securityInfo.editArray|json}}
    </pre>
    </p>-->
    <div class="row">
	<div class="col-sm-6">
	    <pre>
Abydos s.r.o.
Hazlov 247
CZ 35132 Hazlov
	    </pre>
	</div>
	
	<div class="col-sm-6">
	    <div class="form-group">
		<label for="auftragsnr">Export ( suchen / hledat )</label>
		<ui-select
		    ng-model="auftrag.selected" 
		    ng-disabled="disabled" 
		    reset-search-input="false" 
		    theme="bootstrap"
		    on-select="auftragOnSelect($item, $model)"
		    >
		    <ui-select-match placeholder="Export">{{$select.selected.auftragsnr}}</ui-select-match>
		    <ui-select-choices repeat="p in auftragsnrArray track by $index"
				       refresh="refreshAuftragsnr($select.search)"
				       refresh-delay="0">
			<div ng-bind-html="p.formattedAuftragsnr | highlight: $select.search"></div>
		    </ui-select-choices>
		</ui-select>
	    </div>
	    <div class="alert alert-warning" ng-show="rundlaufInfo===null">
		<strong>{{auftragInfo.auftragsnr}}</strong> ist in keinem Rundlauf
		<a class="btn btn-default" target="_blank" href="../dispo_2/imexcalendar.php">Rundlauf-Kalendar</a>
    	    </div>
	</div>
    </div>

    <div class="row">  
	<div class="col-sm-6">
	    <pre>
{{zielOrtInfo.firma}}<span ng-show="zielOrtInfoStandard!==null"> in Name {{zielOrtInfoStandard.firma}}</span>
{{zielOrtInfo.strasse}}
{{zielOrtInfo.stat}} - {{zielOrtInfo.plz}} {{zielOrtInfo.ort}}
	    </pre>
	</div>
	<div class="col-sm-6">
	    <label>Spediteur</label>
	    <select ng-disabled="rundlaufInfo.archiv!='0'" ng-change="rundlaufChanged(rundlaufInfo,'dspediteur_id')" ng-model="rundlaufInfo.dspediteur_id" class="form-control">
		<option ng-repeat="sp in spedArray" value="{{sp.id}}" ng-selected="sp.id==rundlaufInfo.dspediteur_id">{{sp.name}}</option>
	    </select>
	</div>
    </div>

<!--palety-->
<div class="row">
    <div class="col-sm-6">
	<table class="table table-condensed table-striped">
	    <thead>
		<tr>
		    <th>Počet / Anzahl</th>
		    <th>Druh obalu / Art der Verpackung</th>
		    <th>Označení zboží / Bezeichnung des Gutes <button ng-click="addPalToArray()" class="btn btn-primary btn-xs" type="button">
	+ Palette
	</button></th>
		</tr>
	    </thead>
	    <tbody>
	    <tr ng-repeat="pal in palArray">
		<td class="text-right">
		    <span ng-if="pal.editable===undefined">{{pal.sum_stk}}</span>
		    <span ng-if="pal.editable===true"><input type="number" ng-model="pal.sum_stk" class="text-right form-control" /></span>
		</td>
		<td>
		    <span ng-if="pal.editable===undefined">{{pal.behname}}</span>
		    <span ng-if="pal.editable===true"><input type="text" ng-model="pal.behname" class="form-control" /></span>
		</td>
		<td>
    		    <span ng-if="pal.editable===undefined">{{pal.zustand_text}}</span>
		    <span ng-if="pal.editable===true"><input type="text" ng-model="pal.zustand_text" class="form-control" /></span>
		</td>
	    </tr>
	    </tbody>
	</table>
	
	<label for="bruttogew">hr. hmotnost [kg] / Bruttogewicht [kg]</label>
	<input type="text" class="form-control text-right" ng-model="rundlaufInfo.bruttogewicht"/>
	
	<button ng-click="cmrGenerieren()" class="btn btn-primary" type="button">
	CMR generieren und speichern
	</button>
	<a class="btn btn-info" ng-if="pdfReady" ng-href="{{pdfPath}}">CMR PDF ({{filename}})</a>
    </div>
    <div class="col-sm-6">
	<label for="ppo">pokyny pro odesilatele</label>
	<textarea class="form-control" ng-model="pokynyProOdesilatele"></textarea>
    </div>
        <div class="col-sm-6">
	<label for="mdv">misto a datum vystaveni</label>
	<div class="row">
	    <div class="col-sm-6">
		Hazlov, {{aktualniDatum|date:'d.M.y'}}
	    </div>
	    <div class="col-sm-6">
		<input type="text" class="form-control" ng-model="usernameFull"/>
	    </div>
	</div>
	
	<label for="vt">Vozidlo - tahač / Kfz</label>
	<input ng-change="rundlaufChanged(rundlaufInfo,'lkw_kz')" type="text" class="form-control" ng-model="rundlaufInfo.lkw_kz"/>
	<label for="pn">Přívěs - návěs / Anhānger</label>
	<input ng-change="rundlaufChanged(rundlaufInfo,'naves_kz')" type="text" class="form-control" ng-model="rundlaufInfo.naves_kz"/>
	<label for="fahrer">Jméno Řidiče</label>
	<input ng-change="rundlaufChanged(rundlaufInfo,'fahrername')" type="text" class="form-control" ng-model="rundlaufInfo.fahrername"/>

	<label for="rl_bemerkung">poznámka / Bemerkung</label>
	<textarea class="form-control" ng-model="rundlaufInfo.bemerkung"></textarea>

    </div>
</div>


</div>
