/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23.7.2015, 9:40:51
    Author     : jr
*/

.panel-body div.row{
    margin-bottom: 10px;
}
.panel-body div.col-sm-1{
    padding-left: 1px;
    padding-right: 1px;
    border: 1px solid black;
}
div.row{
/*    border-bottom: 1px solid black;*/
}
div.page-header{
    background-color: lightyellow;
    text-align: center;
    margin: 0px 0px 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}

div.page-header h4{
    margin: 0px;
}

.st-sort-ascent:before{
    content: '\25B2';
  }

  .st-sort-descent:before{
    content: '\25BC';
  }

  .table > thead > tr > th {
    background-color: #DCEAF5;
  }
  
  th[st-sort]{
      cursor: pointer;
  }
  

/*.table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}*/

@media print
{    
    * {
	background: inherit;
	color: inherit;
    }
    
    .no-print, .no-print *
    {
        display: none !important;
    }
    
    #dauftr{
	font-size: 0.7em;
    }
    
    #dauftr a[href]:after {
	content: none;
    }
}

#dauftr td{
    padding: 1px;
}
#dauftr tr.kzgut{
	font-weight: bold;
	background-color: lightyellow;
}

#dauftr td.newpal{
	border-top:2px solid blue;
}


#spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -100px 0 0 -100px;
	height: 200px;
	width: 200px;
	text-indent: 250px;
	white-space: nowrap;
	overflow: hidden;
	background-image: url(../../images/spinner2.gif);
	background-repeat: no-repeat;
	z-index: 9999;
	display:none;
}

.ui-select-bootstrap > .ui-select-choices{
    width: auto;
    max-height: 250px;
}

.ui-select-bootstrap .ui-select-choices-row{
    border-bottom: 1px solid blue !important;
}

div.list_kunde{
    display: inline-block;
    /*width: 3em;*/
}
div.list_import{
    display: inline-block;
    width: 5em;
}
div.list_bestellnr{
    display: inline-block;
    width: 10em;
}
div.list_aufdat{
    display: inline-block;
    width: 10em;
}
div.list_auslieferdatum{
    display: inline-block;
    width: 10em;
}

div.hatrechnung{
    background-color: lightpink;
}