/* CSS Document */

div.payloadList{
    margin-top: 1em;
    margin-bottom: 0.5em;
    border-bottom: 2px solid;
    padding-bottom: 0.2em;
}

tr.endsection td{
    border-bottom: 2px solid black;
}

table.formtable{
    width: 100%;
    border-collapse: collapse;
    font-size: 0.7em;
}

table.formtable input{
    border: none;
    font-size: 0.7em;
}

table.formtable td{
    padding: 0.15em;
}

.lkwPayLoad{
    display: inline-block;
    margin-right: 2px;
    border: 1px solid black;
    padding: 3px;
    font-size: 0.7em;
    border-radius: 0.3em;
}
.payLoad_I{
    background-color: #FDD;
}

.payLoad_E{
    background-color: #90EE90;
}

div#dispoform a {
    display: block;
    float: left;
    border-style: outset;
    margin-left: 8px;
    background-color: #ccc;
    cursor: pointer;
    padding: 4px;
    text-decoration: none;
    color: black;
    border-radius: 3px;
}

div.closebutton {
    float: right;
    border: 1px solid black;
    margin-left: 8px;
    background-color: #faa;
    cursor: pointer;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); /* Yep! */
  width: 48%;
  height: 59%;
}

body{
    font-family: sans-serif;
    font-size: 1em;
}    

div.newimportdiv h2{
text-align: center;
border-bottom: 1px solid black;
}    

.newimportdiv{
    margin: 0 auto;
    position: absolute;
    border: 2px solid black;
    background-color: lightyellow;
    padding: 1em;
    /*width: 20em;*/
}    

.newlkwdiv{
    margin: 0 auto;
    position: absolute;
    border: 2px solid black;
    background-color: lightyellow;
    padding: 1em;
    /*width: 20em;*/
}    

.editlkwdiv{
    margin: 0 auto;
    position: absolute;
    border: 2px solid black;
    background-color: lightyellow;
    padding: 1em;
    /*width: 20em;*/
}    

table.imextable td{
width: 30em;
}    

table.imextable{
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
    font-family: sans-serif;
    font-size: 1em;
}    

table.imextable thead{
    background-color: #D2F85B;
    color: black;
    font-size: 1.5em;
}    

table.imextable tr{
    border-bottom: 1px solid black;
}    

table.imextable tr.So{
    background-color: #cccccc;
}    

table.imextable tr.Ne{
    background-color: #cccccc;
}    

td.kundeTagBox{
    /*width: 10em;*/
    border: 1px solid black;
    vertical-align: top;
    padding: 0px;
}    

th.kundeheader{
    width: 10em;
    vertical-align: middle;
    text-align: center;
    font-size: 0.6em;
    border: 1px solid black;
}    

th.datumheader{
    vertical-align: top;
    text-align: center;
    font-size: 0.6em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}   

div.importnr{
    background-color: #ffdddd;
    border: 1px solid #ffdddd;
    display: inline-block;
    padding: 0.2em;
    font-size: 0.6em;
    margin: 2px;
}    

div.lkw{
    background-color: #ddddff;
    border: 1px solid #0000ff;
    display: block;
    padding: 0.5em;
    font-size: 1em;
    margin: 2px;
    white-space: nowrap;
    border-radius: 0.3em;
}    

div.exportnr{
    background-color: #90EE90;
    border: 1px solid #90EE90;
    display: inline-block;
    padding: 0.2em;
    font-size: 0.6em;
    margin: 2px;
}

.dnes{
    background-color: #ffffbb;
}

.noex{
    font-weight: normal;
}
.norech{
    font-style: italic; 
}


#spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -100px 0 0 -100px;
	height: 200px;
	width: 200px;
	text-indent: 250px;
	white-space: nowrap;
	overflow: hidden;
	background-image: url(../images/spinner2.gif);
	background-repeat: no-repeat;
	z-index: 9999;
}

tr{
/*    background-color: white;*/
}

tr.sum{
    font-weight: bold;
}

.ui-widget-header th{
    background-color: #d2f85b;
    color: black;
}

tr.ui-widget-content{
    background-color: #ffffff;
}

.sat{
    background-color: #dddddd;
}

.sun{
    background-color: #bbbbbb;
}

td.negativ{
    color: #ff0000;
    font-weight: bold;
}

.today{
    background-color: #FFB;
}

table.exporttag{
    background-color: lightgreen;
}    

div#dispodiv{
    border: 1px solid black;
/*    width: 100%;*/
    height: 500px;
    overflow: auto;
    font-size: 15px;
}      

table.dispotable{
    border-collapse: collapse;
}    

table.dispotable td th{
    vertical-align: top;
    padding: 0px;
    border-top: 4px solid lightblue;
    border-bottom: 4px solid lightblue;
}

/******************************************************************************/
/* exporttable */
table.exporttable{
    width: 380px;
    border-collapse: collapse;
    margin: 0px;
/*    border: 1px solid black;*/
    font-size: 12px;
    font-family: monospace;
}

table.exporttable td{
    vertical-align: middle;
    padding-left: 3px;
    padding-right: 3px;
    white-space: nowrap;
}

table.exporttable td.statnr{
    width: 55px;
    border: 1px solid black;
    text-align: left;
}

table.exporttable td.vzkdplan{
    width: 60px;
    border: 1px solid black;
    text-align: right;
}

table.exporttable td.istfertig{
    width: 75px;
    border: 1px solid black;
    text-align: right;
}

table.exporttable td.zubearbeiten{
    width: 70px;
    border: 1px solid black;
    text-align: right;
}

table.exporttable td.solltag{
    width: 75px;
    border: 1px solid black;
    text-align: right;
}

table.exporttable td.solltaginput{
    width: 75px;
    border: 1px solid black;
    text-align: right;
    background-color: lightgoldenrodyellow;
}



table.exporttable td.ist{
    border: 1px solid black;
    text-align: right;
}


table.exporttable td.planheader{
    border: 1px solid black;
    text-align: center;
    font-weight: bold;
}

table.exporttable td.solltag input{
    border: none;
    text-align: right;
    width: 70px;
    background-color: transparent;
    font-weight: bold;
    color: black;
}

table.exporttable td.solltaginput input{
    border: none;
    text-align: right;
    width: 70px;
    background-color: lightgoldenrodyellow;
}

table.exporttable tr{
    height: 30px;
}

table.exporttable td.importarrived{
    background-color: #FDD;
    color: black;
    text-align: left;
}    

table.exporttable td.exportsollweg{
    background-color: #DFD;
    color: black;
    text-align: left;
}    

/******************************************************************************/
/* tagsummetable */

table.tagsummetable{
    width: 380px;
    border-collapse: collapse;
    border-right: 4px solid lightblue;
    font-size: 12px;
    font-family: monospace;
}

table.tagsummetable td{
    border: 1px solid black;
    vertical-align: middle;
    padding-left: 3px;
    padding-right: 3px;
    white-space: nowrap;
}

table.tagsummetable tr{
    height: 30px;
}

table.tagsummetable td.datumheader{
    border: 1px solid black;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

table.tagsummetable td.statnr{
    width: 60px;
    text-align: left;
}

table.tagsummetable td.solltag{
    width: 60px;
    text-align: right;
}

table.tagsummetable td.ist{
    width: 60px;
    text-align: right;
}

table.tagsummetable td.sollprotag{
    width: 60px;
    text-align: right;
}

table.tagsummetable td.summinvalue{
    text-align: right;
    font-weight: bold;
    font-size: 22px;
}
