<div class="container-fluid">
    <div class="page-header">
	<h4>Arbeitsplan pflegen / sprava pracovniho planu {{teil}}
	</h4>
    </div>

    <div>
	<uib-accordion close-others="false">

	    <uib-accordion-group>
		<uib-accordion-heading>
		    <div class="row">
			<div class="col-md-6 text-danger text-capitalize text-left">
			    secinfo 1/2
			</div>
			<div class="col-md-6 text-danger text-capitalize text-right">
			    <span class='badge'>secinfo 2/2</span>
			</div>
		    </div>
		</uib-accordion-heading>
		<div class='col-md-2'>
		    2 sloupce - placeholder
		</div>
		<pre>
		<h2>opravneni pro pole podle puvodniho dkopf</h2>
		{{securityInfo|json}}
		</pre>
	    </uib-accordion-group>
    
	    <uib-accordion-group>
		<uib-accordion-heading>
		    <div class="row">
			<div class="col-md-6 text-info text-uppercase text-left">
			    grundinfo 1/2
			</div>
			<div class="col-md-6 text-danger text-capitalize text-right">
			    <span class='badge'>grundinfo 2/2</span>
			</div>
		    </div>
		</uib-accordion-heading>
		content
	    </uib-accordion-group>
	    
	    <uib-accordion-group>
				<uib-accordion-heading>
		    <div class="row">
			<div class="col-md-6 text-info text-uppercase text-left">
			     GDat Anlagen
			</div>
			<div class="col-md-6 text-danger text-capitalize text-right">
			    <span class='badge'>GDat Anlagen</span>
			</div>
		    </div>
		</uib-accordion-heading>
		content
	    </uib-accordion-group>
	    
	    <uib-accordion-group>
				<uib-accordion-heading>
		    <div class="row">
			<div class="col-md-6 text-info text-uppercase text-left">
			     Musterlager
			</div>
			<div class="col-md-6 text-danger text-capitalize text-right">
			    <span class='badge'>Musterlager</span>
			</div>
		    </div>
		</uib-accordion-heading>
		content
	    </uib-accordion-group>
	    
	    <uib-accordion-group>
				<uib-accordion-heading>
		    <div class="row">
			<div class="col-md-6 text-info text-uppercase text-left">
			     Teildoku
			</div>
			<div class="col-md-6 text-danger text-capitalize text-right">
			    <span class='badge'>Teildoku</span>
			</div>
		    </div>
		</uib-accordion-heading>
		content
	    </uib-accordion-group>
	    
	    <uib-accordion-group>
				<uib-accordion-heading>
		    <div class="row">
			<div class="col-md-6 text-info text-uppercase text-left">
			     VPM
			</div>
			<div class="col-md-6 text-danger text-capitalize text-right">
			    <span class='badge'>VPM</span>
			</div>
		    </div>
		</uib-accordion-heading>
		content
	    </uib-accordion-group>
	    
	    <uib-accordion-group>
				<uib-accordion-heading>
		    <div class="row">
			<div class="col-md-6 text-info text-uppercase text-left">
			     IMA / EMA
			</div>
			<div class="col-md-6 text-danger text-capitalize text-right">
			    <span class='badge'>IMA / EMA</span>
			</div>
		    </div>
		</uib-accordion-heading>
		content
	    </uib-accordion-group>
	    
	    <uib-accordion-group>
				<uib-accordion-heading>
		    <div class="row">
			<div class="col-md-6 text-info text-uppercase text-left">
			     AM / MM
			</div>
			<div class="col-md-6 text-danger text-capitalize text-right">
			    <span class='badge'>AM / MM</span>
			</div>
		    </div>
		</uib-accordion-heading>
		content
	    </uib-accordion-group>
	    
	    <uib-accordion-group>
				<uib-accordion-heading>
		    <div class="row">
			<div class="col-md-6 text-info text-uppercase text-left">
			     Tatigkeiten
			</div>
			<div class="col-md-6 text-danger text-capitalize text-right">
			    <span class='badge'>Tatigkeiten</span>
			</div>
		    </div>
		</uib-accordion-heading>
		content
	    </uib-accordion-group>
	</uib-accordion>
    </div>
</div>