<div class="container-fluid">
    <div class="page-header">
	<h4>Arbeitsplan pflegen / sprava pracovniho planu {{teilaktual.Teil}}
	</h4>
    </div>

    <!--sekce pro hledani dilu + tabulka-->
    <div class="row">
	<div class="col-sm-12">
	    <div class="form-group">
		<label for="teil_search">Teil suchen / hledat dil</label>
		<input ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 }}" ng-model="teil_search" ng-keypress="setTeilAktual($event)" ng-change="getTeilMatch()" autofocus type="text" maxlength="10" class="form-control input-lg text-center" id="teil_search" placeholder="Teil suchen / hledat dil">
		<!--<span id="helpBlock" class="help-block">hledá v čísle dílu, originál čísle, popisku dílu</span>-->
	    </div>
	</div>
	<div ng-show="teile.length > 0" class="col-sm-12">
	    <table id='searchtable' class="table table-condensed table-striped table-hover table-responsive">
		<thead>
		    <tr class="bg-primary">
			<th>Kunde</th>
			<th>Teil</th>
			<th>Bezeichnung</th>
			<th>Teil Original</th>
			<th class="text-right">Gewicht</th>
			<th class="text-right">Verpackungsmenge</th>
			<th>Status</th>
		    </tr>
		</thead>
		<tbody>
		    <tr ng-class="{altteil:t.status.toString().indexOf('ALT')>-1}" ng-click="listRowClicked($index)" ng-repeat="t in teile">
			<td>{{t.Kunde}}</td>
			<td>{{t.Teil}}</td>
			<td>{{t.Teilbez}}</td>
			<td>{{t.teillang}}</td>
			<td class="text-right">{{t.Gew|number:3}}</td>
			<td class="text-right">{{t.verpackungmenge|number}}</td>
			<td>{{t.status}}</td>
		    </tr>
		</tbody>
	    </table>
	</div>
    </div>
    <div ng-if="teilaktual.Teil.length>0" class="row">
	<div class="col-md-12">
	    <uib-accordion close-others="false">
		
		<uib-accordion-group>
		    <uib-accordion-heading>
			<div class="row">
			    <div class="col-md-6 text-danger text-capitalize text-left">
				<span class='badge'>{{teilaktual.Kunde}} | {{teilaktual.Teil}} | {{teilaktual.Teilbez}} | {{teilaktual.Gew|number:3}} kg | {{teilaktual.status}}</span>
			    </div>
			    <div class="col-md-6 text-info text-uppercase text-right">
				grundinfo
			    </div>
			</div>
		    </uib-accordion-heading>
		    <!---------------------------------------------------------------->
		    <form ng-model-options="{ updateOn: 'blur', debounce: { 'default': 500, 'blur': 0 }}" >
		    <div class="row">
			<div class="form-group col-md-1 form-group-sm ">
			    <label class="control-label" for="kunde">Kunde:</label>
			    <input readonly maxlength="3" ng-model="teilaktual.Kunde" type="text" class="form-control" id="kunde" placeholder="Kunde">
			</div>
			<div class="form-group col-md-3 form-group-sm ">
			    <label class="control-label" for="teillang">Original TeilNr. / originální číslo</label>
			    <input ng-change="teilaktualChanged('teillang')" maxlength="255" ng-model="teilaktual.teillang" type="text" class="form-control" id="teillang" placeholder="Original TeilNr">
			</div>
			<div class="form-group col-md-3 form-group-sm ">
			    <label class="control-label" for="teilbez">Teilbez</label>
			    <input ng-change="teilaktualChanged('Teilbez')" maxlength="255" ng-model="teilaktual.Teilbez" type="text" class="form-control" id="teilbez" placeholder="Teilbez">
			</div>
			<div class="form-group col-md-1 form-group-sm ">
			    <label class="control-label" for="status">Status</label>
			    <input ng-change="teilaktualChanged('status')" maxlength="255" ng-model="teilaktual.status" type="text" class="form-control" id="status" placeholder="status">
			</div>
		    </div>
		    
		    <!---------------------------------------------------------------->
		    <div class="row">
			<div class="form-group col-md-2 form-group-sm valign_bottom">
			    <label class="control-label" for="kunde">Nettogewicht/netto vaha</label>
			    <input ng-change="teilaktualChanged('Gew')" maxlength="10" ng-model="teilaktual.Gew" type="text" class="form-control text-right" id="kunde" placeholder="Kunde">
			</div>
			<div class="form-group col-md-2 form-group-sm valign_bottom ">
			    <label class="control-label" for="teillang">Bruttogewicht/brutto vaha</label>
			    <input ng-change="teilaktualChanged('BrGew')" maxlength="255" ng-model="teilaktual.BrGew" type="text" class="form-control text-right" id="teillang" placeholder="Original TeilNr">
			</div>
			<div class="form-group col-md-2 form-group-sm valign_bottom ">
			    <label class="control-label" for="verpackungmenge">Verpackungsmenge / balící předpis</label>
			    <input ng-change="teilaktualChanged('verpackungmenge')" maxlength="255" ng-model="teilaktual.verpackungmenge" type="text" class="form-control text-right" id="verpackungmenge" placeholder="verpackungmenge">
			</div>
			<div class="form-group col-md-2 form-group-sm valign_bottom ">
			    <label class="control-label" for="stk_pro_gehaenge">Stk pro Gehänge</label>
			    <input ng-change="teilaktualChanged('stk_pro_gehaenge')" maxlength="255" ng-model="teilaktual.stk_pro_gehaenge" type="text" class="form-control text-right" id="stk_pro_gehaenge" placeholder="stk_pro_gehaenge">
			</div>
			<div class="form-group col-md-2 form-group-sm valign_bottom ">
			    <label class="control-label" for="restmengen_verw">Restmengenverw.</label>
			    <input ng-change="teilaktualChanged('restmengen_verw')" maxlength="255" ng-model="teilaktual.restmengen_verw" type="text" class="form-control" id="restmengen_verw" placeholder="restmengen_verw">
			</div>
			<div class="form-group col-md-1 form-group-sm valign_bottom ">
			    <label class="control-label" for="FA">FA</label>
			    <input ng-change="teilaktualChanged('FA')" maxlength="255" ng-model="teilaktual.FA" type="text" class="form-control text-right" id="FA" placeholder="FA">
			</div>
		    </div>
		    <!---------------------------------------------------------------->
		    <div class="row">
			<div class="form-group col-md-2 form-group-sm valign_bottom">
			    <label class="control-label" for="kunde">Werkst. / material</label>
			    <select ng-change="teilaktualChanged('Wst')" ng-options="option.beschreibung for option in werkstoffe track by option.id" 
				    class="form-control" 
				ng-model="teilaktual.Wst">
			    </select>
			</div>
			<div class="form-group col-md-2 form-group-sm valign_bottom ">
			    <label class="control-label" for="Art_Guseisen">Art Gusseisen / druh litiny</label>
			    <input ng-change="teilaktualChanged('Art Guseisen')" maxlength="255" ng-model="teilaktual['Art Guseisen']" type="text" class="form-control" id="Art_Guseisen" placeholder="Art_Guseisen">
			</div>
			<div class="form-group col-md-2 form-group-sm valign_bottom ">
			    <label class="control-label" for="fremdauftr_dkopf">Fremdauftr</label>
			    <input ng-change="teilaktualChanged('fremdauftr_dkopf')" maxlength="255" ng-model="teilaktual['fremdauftr_dkopf']" type="text" class="form-control" id="fremdauftr_dkopf" placeholder="fremdauftr_dkopf">
			</div>
			<div class="form-group col-md-2 form-group-sm valign_bottom ">
			    <label class="control-label" for="preis_stk_gut">Zielpreis gut</label>
			    <input ng-change="teilaktualChanged('preis_stk_gut')" maxlength="255" ng-model="teilaktual['preis_stk_gut']" type="text" class="form-control text-right" id="preis_stk_gut" placeholder="preis_stk_gut">
			</div>
			<div class="form-group col-md-2 form-group-sm valign_bottom ">
			    <label class="control-label" for="preis_stk_auss">Zielpreis auss</label>
			    <input ng-change="teilaktualChanged('preis_stk_auss')" maxlength="255" ng-model="teilaktual['preis_stk_auss']" type="text" class="form-control text-right" id="preis_stk_auss" placeholder="preis_stk_auss">
			</div>
			<div class="form-group col-md-1 form-group-sm valign_bottom ">
			    <label class="control-label" for="kosten_stk_auss">Kosten Stk Auss</label>
			    <input ng-change="teilaktualChanged('kosten_stk_auss')" maxlength="255" ng-model="teilaktual['kosten_stk_auss']" type="text" class="form-control text-right" id="kosten_stk_auss" placeholder="kosten_stk_auss">
			</div>
		    </div>
		    <!---------------------------------------------------------------->
		    <div class="row">
			<div class="form-group col-md-2 form-group-sm valign_bottom ">
			    <label class="control-label" for="jb_lfd_2">Jahresbedarf {{aktualJahr-2}}</label>
			    <input ng-change="teilaktualChanged('jb_lfd_2')" maxlength="255" ng-model="teilaktual['jb_lfd_2']" type="text" class="form-control text-right" id="jb_lfd_2" placeholder="jb_lfd_2">
			</div>
			<div class="form-group col-md-2 form-group-sm valign_bottom ">
			    <label class="control-label" for="jb_lfd_1">Jahresbedarf {{aktualJahr-1}}</label>
			    <input ng-change="teilaktualChanged('jb_lfd_1')" maxlength="255" ng-model="teilaktual['jb_lfd_1']" type="text" class="form-control text-right" id="jb_lfd_1" placeholder="jb_lfd_1">
			</div>
			<div class="form-group col-md-2 form-group-sm valign_bottom ">
			    <label class="control-label" for="jb_lfd_j">Jahresbedarf {{aktualJahr-0}}</label>
			    <input ng-change="teilaktualChanged('jb_lfd_j')" maxlength="255" ng-model="teilaktual['jb_lfd_j']" type="text" class="form-control text-right" id="jb_lfd_j" placeholder="jb_lfd_j">
			</div>
			<div class="form-group col-md-2 form-group-sm valign_bottom ">
			    <label class="control-label" for="jb_lfd_plus_1">Jahresbedarf {{aktualJahr+1}}</label>
			    <input ng-change="teilaktualChanged('jb_lfd_plus_1')" maxlength="255" ng-model="teilaktual['jb_lfd_plus_1']" type="text" class="form-control text-right" id="jb_lfd_plus_1" placeholder="jb_lfd_plus_1">
			</div>
		    </div>
		    <!---------------------------------------------------------------->
		    <div class="row">
			<div class="form-group col-md-3 form-group-sm valign_bottom ">
			    <label class="control-label" for="schwierigkeitsgrad_S11">Schwierigkeitsgrad S11 / obtížnost S11</label>
			    <input ng-change="teilaktualChanged('schwierigkeitsgrad_S11')" maxlength="255" ng-model="teilaktual['schwierigkeitsgrad_S11']" type="text" class="form-control" id="schwierigkeitsgrad_S11" placeholder="../....../..">
			</div>
			<div class="form-group col-md-3 form-group-sm valign_bottom ">
			    <label class="control-label" for="schwierigkeitsgrad_S51">Schwierigkeitsgrad S51 / obtížnost S51</label>
			    <input ng-change="teilaktualChanged('schwierigkeitsgrad_S51')" maxlength="255" ng-model="teilaktual['schwierigkeitsgrad_S51']" type="text" class="form-control" id="schwierigkeitsgrad_S51" placeholder="../....../..">
			</div>
			<div class="form-group col-md-3 form-group-sm valign_bottom ">
			    <label class="control-label" for="schwierigkeitsgrad_SO">Schwierigkeitsgrad SO / obtížnost SO</label>
			    <input ng-change="teilaktualChanged('schwierigkeitsgrad_SO')" maxlength="255" ng-model="teilaktual['schwierigkeitsgrad_SO']" type="text" class="form-control" id="schwierigkeitsgrad_SO" placeholder="">
			</div>
		    </div>
		    <!---------------------------------------------------------------->
		    <div class="row">
			<div class="form-group col-md-12 form-group-sm ">
			    <label class="control-label" for="bemerk">Anderungen/Bemerkung / poznamka</label>
			    <textarea ng-change="teilaktualChanged('bemerk')" maxlength="255" ng-model="teilaktual.bemerk" class="form-control" rows="1"></textarea>
			</div>
		    </div>
		    </form>
		</uib-accordion-group>
		
		<uib-accordion-group>
		    <uib-accordion-heading>
			<div class="row">
			    <div class="col-md-6 text-danger text-left">
				<span class='badge'>{{dposActive()}} von {{dpos.length}} Positionen | SumVzKd: {{getDposSumme('VZ-min-kunde')|number:4}} | SumVzAby: {{getDposSumme('vz-min-aby')|number:4}}</span>
			    </div>
			    <div class="col-md-6 text-info text-uppercase text-right">
				Tatigkeiten
			    </div>
			</div>
		    </uib-accordion-heading>
		    <button ng-click="addDpos()" type="button" class="btn btn-xs btn-success" aria-label="Left Align">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Neue Taetigkeit / nova operace
		    </button>
		    <table class="table table-condensed table-striped table-bordered table-hover">
			<thead>
			    <tr class="bg-primary">
				<th>druck</th>
				<th class="text-right">taetnr</th>
				<th>bezeichnung - D</th>
				<th>bezeichnung - T</th>
				<th class="text-right">vzkd</th>
				<th class="text-right">vzaby</th>
				<th style='width:3em;'>G</th>
				<th>Bedarf</th>
				<th style='width:5em;'>l.von</th>
				<th style='width:5em;'>l.nach</th>
				<th>AM / MM</th>
				<th></th>
			    </tr>
			</thead>
			<tbody>
			    <tr ng-class="{kzgut:p['KzGut'].toString().indexOf('G')>-1,'tatnotactive':p['kz-druck']=='0'}" ng-repeat="p in dpos">
				<td ng-click="kzdruckClicked(p)" style='cursor: pointer;' ng-class="{edited:p.edit===1,'tatactive':p['kz-druck']!='0'}" class="text-center">
				    <span ng-if="p['kz-druck']!='0'" class="glyphicon glyphicon-check" aria-hidden="true"></span>
				</td>
				<td ng-class="{edited:p.edit===1}" class="text-right">
				    <input ng-change="newAbgnrChanged(p)" ng-model-options="{ updateOn: 'blur', debounce: { 'default': 500, 'blur': 0 }}" maxlength="5" ng-if="p.edit==1 && p.dpos_id=='0'" ng-model="p['TaetNr-Aby']" type="text" class="form-control input-sm text-right">
				    <span ng-if="p.edit==0" >{{p['TaetNr-Aby']}}</span>
				</td>
				<td ng-class="{edited:p.edit===1}" class="text-left">
				    <input maxlength="50" ng-if="p.edit==1" ng-model="p['TaetBez-Aby-D']" type="text" class="form-control input-sm text-left">
				    <span ng-if="p.edit==0" >{{p['TaetBez-Aby-D']}}</span>
				</td>
				<td ng-class="{edited:p.edit===1}" class="text-left">
				    <input maxlength="50" ng-if="p.edit==1" ng-model="p['TaetBez-Aby-T']" type="text" class="form-control input-sm text-leftt">
				    <span ng-if="p.edit==0" >{{p['TaetBez-Aby-T']}}</span>
				</td>
				<td ng-class="{edited:p.edit===1}" class="text-right">
				    <input maxlength="50" ng-if="p.edit==1" ng-model="p['VZ-min-kunde']" type="text" class="form-control input-sm text-left">
				    <span ng-if="p.edit==0" >{{p['VZ-min-kunde']|number:4}}</span>
				</td>
				<td ng-class="{edited:p.edit===1}" class="text-right">
				    <input maxlength="50" ng-if="p.edit==1" ng-model="p['vz-min-aby']" type="text" class="form-control input-sm text-left">
				    <span ng-if="p.edit==0" >{{p['vz-min-aby']|number:4}}</span>
				</td>
				<td ng-class="{edited:p.edit===1}" class="text-right">
				    <input maxlength="1" ng-if="p.edit==1" ng-model="p['KzGut']" type="text" class="form-control input-sm text-center">
				    <span ng-if="p.edit==0" >{{p['KzGut']}}</span>
				</td>
				<td ng-class="{edited:p.edit===1}" class="text-left">
				    <input maxlength="5" ng-if="p.edit==1" ng-model="p['bedarf_typ']" type="text" class="form-control input-sm text-left">
				    <span ng-if="p.edit==0" >{{p['bedarf_typ']}}</span>
				</td>
				<td ng-class="{edited:p.edit===1}" class="text-left">
				    <div ng-if="p.edit==1" class="form-group form-group-sm">
					<select ng-options="option.lager for option in lager track by option.lager" 
					    class="form-control" 
					ng-model="p['lager_von']">
					</select>
				    </div>
				    <span ng-if="p.edit==0" >{{p['lager_von'].lager}}</span>
				</td>
				<td ng-class="{edited:p.edit===1}" class="text-left">
				    <div ng-if="p.edit==1" class="form-group form-group-sm">
					<select ng-options="option.lager for option in lager track by option.lager" 
					    class="form-control" 
					ng-model="p['lager_nach']">
					</select>
				    </div>
				    <span ng-if="p.edit==0" >{{p['lager_nach'].lager}}</span>
				</td>
				<td ng-class="{edited:p.edit===1}" class="text-left">
				    <div ng-repeat="m in getMittelForAbgNr(p)">
					<a ng-if="m.urlpath.length>0" ng-href="{{m.urlpath}}"><span style="white-space: nowrap;">{{m.nazev}} ({{m.poznamka}})</span></a>
					<span style="white-space: nowrap;" ng-if="m.urlpath.length==0">{{m.nazev}} ({{m.poznamka}})</span>&nbsp;
					<button ng-if="p.edit===1" ng-click="delMittel(m)" type="button" class="btn btn-xs btn-default" aria-label="Left Align">
					    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
					</button>
				    </div>
				    <div ng-if="p.edit===1 && p.dpos_id!='0'" class="form-group form-group-sm">
					<select ng-options="option.nazev+' ('+option.poznamka+')' for option in mittelList track by option.id" 
					    class="form-control" 
					ng-model="selectedMittel[p['dpos_id']]">
					</select>
					<button ng-click="addMittel(p)" type="button" class="btn btn-xs btn-default" aria-label="Left Align">
					    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					</button>
				    </div>
				</td>
				<td ng-class="{edited:p.edit===1,'tatactive':p['kz-druck']!='0'}" style="width:4em;">
				    <div class="no-print btn-group btn-group-xs btn-group-justified" role="group">
					<div ng-if="p.edit==0" class="btn-group btn-group-xs" role="group">
					    <button ng-click="makeEditable(p)" class="btn btn-sm">
						<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
					    </button>
					</div>
					<div ng-if="p.edit==0" class="btn-group btn-group-xs" role="group">
					    <button ng-click="deleteDposRow(p)" class="btn btn-sm btn-danger">
						<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
					    </button>
					</div>
					<div ng-if="p.edit==1" class="btn-group btn-group-xs" role="group">
					    <button ng-click="saveDposRow(p)" class="btn btn-sm btn-success">
						<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
					    </button>
					</div>
					<div ng-if="p.edit==1" class="btn-group btn-group-xs" role="group">
					    <button ng-click="cancelEditDposRow(p)" class="btn btn-sm btn-warning">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					    </button>
					</div>
				    </div>
				</td>
			    </tr>
			</tbody>
			<tfoot>
			    <tr class="bg-primary">
				<th colspan="4" class="text-left">Summe aktive Tat</th>
				<th class="text-right">{{getDposSumme('VZ-min-kunde')|number:4}}</th>
				<th class="text-right">{{getDposSumme('vz-min-aby')|number:4}}</th>
				<th colspan="6" class="text-right"></th>
			    </tr>
			</tfoot>
		    </table>
		</uib-accordion-group>

		<uib-accordion-group>
		    <uib-accordion-heading>
			<div class="row">
			    <div class="col-md-6 text-danger text-capitalize text-left">
				<span class='badge'>{{teildokuarray.length}} Teildoku</span>
			    </div>
			    <div class="col-md-6 text-info text-uppercase text-right">
				Teildoku
			    </div>
			</div>
		    </uib-accordion-heading>
		    <button ng-click="addTeilDoku()" type="button" class="btn btn-xs btn-success" aria-label="Left Align">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Neu / novy dokument
		    </button>
		    <table ng-if="teildokuarray.length>0" class="table table-condensed table-striped table-bordered table-hover">
			<thead>
			    <tr class="bg-primary">
				<th>DokuTyp</th>
				<th style="width:11em;">Einlag.Datum</th>
				<th>MusterPlatz / Datei</th>
				<th style="width:11em;">Freigabe am</th>
				<th>Freigabe vom</th>
				<th></th>
			    </tr>
			</thead>
			<tbody>
			    <tr ng-repeat="d in teildokuarray">
				<td>
				    <input ng-if="d.id==0" typeahead-min-length="0" type="text" ng-model="d.doku_nr" uib-typeahead="doc.doku_nr as doc.doku_nr+' '+doc.doku_beschreibung for doc in dokumenttyp | filter:$viewValue" class="form-control input-sm">
				    <span ng-if="d.id!=0">{{d.doku_nr}} - {{getDokuBeschreibung(d.doku_nr)}}</span>
				</td>
				<td>
				    <p class="input-group input-group-sm">
					<input ng-change="teilDokuRowChanged(d,'einlag_datum')" readonly type="text" class="form-control input-sm" uib-datepicker-popup="{{datePickerFormat}}" ng-model="d.einlag_datum" is-open="d.einlag_datumPopup.opened" datepicker-options="dateOptions" close-text="Close"/>
					<span class="input-group-btn">
					    <button type="button" class="btn btn-default" ng-click="openEinlagPopup(d)"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				    </p>
				</td>
				<td>
				    <input ng-model-options="{ updateOn: 'blur'}" ng-change="teilDokuRowChanged(d,'musterplatz')" maxlength="255" ng-model="d.musterplatz" type="text" class="form-control input-sm text-left">
				</td>
				<td>
				    <p class="input-group input-group-sm">
					<input ng-change="teilDokuRowChanged(d,'freigabe_am')" readonly type="text" class="form-control input-sm" uib-datepicker-popup="{{datePickerFormat}}" ng-model="d.freigabe_am" is-open="d.freigabe_amPopup.opened" datepicker-options="dateOptions" close-text="Close"/>
					<span class="input-group-btn">
					    <button type="button" class="btn btn-default btn-sm" ng-click="openFreigabePopup(d)"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				    </p>
				</td>
				<td>
				    <input typeahead-editable="false" typeahead-on-select="selectedItem($item, $model, $label, $event,d,'freigabe_vom')" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 }}" typeahead-min-length="0" type="text" ng-model="d.freigabe_vom" uib-typeahead="fr.name as fr.name for fr in getFreigabeVom($viewValue)" class="form-control input-sm">
				</td>
				<td>
				    <div class="btn-group btn-group-xs" role="group">
					<button ng-if="d.id==0" ng-click="saveTeilDoku(d)" class="btn btn-sm btn-success">
					    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
					</button>
					<button ng-click="deleteTeilDokuRow(d)" class="btn btn-sm btn-danger">
					    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
					 </button>
				    </div>
				</td>
			    </tr>
			</tbody>
		    </table>
		</uib-accordion-group>

		<uib-accordion-group>
		    <uib-accordion-heading>
			<div class="row">
			    <div class="col-md-6 text-danger text-capitalize text-left">
				<span class='badge'>GDat Anlagen</span>
			    </div>
			    <div class="col-md-6 text-info text-uppercase text-right">
				GDat Anlagen
			    </div>
			</div>
		    </uib-accordion-heading>
		    <div class="row">
			<div class="col-sm-12">
			    <div class="btn-group btn-group-justified" role="group" aria-label="...">
				<div ng-repeat="b in anlagenButtons" class="btn-group" role="group">
				    <button ng-click="anlagenButtonClicked(b)" class="btn btn-success" ng-class="{'btn-warning':b.selected}">{{b.name}}</button>
				</div>
			    </div>
			</div>
		    </div>
		    <div class="row">
			<div class="col-xs-12">
			    <h4>{{selectedButtonName}}</h4>
			    <p>{{anlagenDir}}</p>
			</div>
			<div class="row container-fluid">
			    <div ng-repeat="a in anlagenArray" class="col-md-2">
				<!--{{a|json}}-->
				<!--<thumbnail ng-if="a.filetype.length>0" file-type="{{a.filetype}}" source="a.url" max-height="150" max-width="150"></thumbnail>-->
				<a href="#" class="thumbnail">
				    <img ng-if="a.filetype=='image'" ng-src="{{a.url}}">
				    <span ng-if="a.filetype==''">{{a.filename}}</span>
				</a>
				
				<p>{{a.filename}}</p>
				<p>{{a.mtime/1000|date}}</p>
				<p>{{a.size}}</p>
			    </div>
			</div>
		    </div>
		</uib-accordion-group>

		<uib-accordion-group>
		    <uib-accordion-heading>
			<div class="row">
			    <div class="col-md-6 text-danger text-capitalize text-left">
				<span class='badge'>Musterlager</span>
			    </div>
			    <div class="col-md-6 text-info text-uppercase text-right">
				Musterlager
			    </div>
			</div>
		    </uib-accordion-heading>
		    content
		</uib-accordion-group>


		<uib-accordion-group>
		    <uib-accordion-heading>
			<div class="row">
			    <div class="col-md-6 text-danger text-capitalize text-left">
				<span class='badge'>VPM</span>
			    </div>
			    <div class="col-md-6 text-info text-uppercase text-right">
				VPM
			    </div>
			</div>
		    </uib-accordion-heading>
		    content
		</uib-accordion-group>

		<uib-accordion-group>
		    <uib-accordion-heading>
			<div class="row">
			    <div class="col-md-6 text-danger text-capitalize text-left">
				<span class='badge'>IMA / EMA</span>
			    </div>
			    <div class="col-md-6 text-info text-uppercase text-right">
				IMA / EMA
			    </div>
			</div>
		    </uib-accordion-heading>
		    content
		</uib-accordion-group>

		<!-------------------------------------------------------------------->
		<uib-accordion-group>
		    <uib-accordion-heading>
			<div class="row">
			    <div class="col-md-6 text-danger text-capitalize text-left">
				<span class='badge'>debug</span>
			    </div>
			    <div class="col-md-6 text-danger text-capitalize text-right">
				debug
			    </div>
			</div>
		    </uib-accordion-heading>
		    <div class="row">
			    <div class="col-md-6 text-danger text-left">
				<pre>
				    <p>{{teilaktual|json}}</p>
				    <p>{{selectedMittel|json}}</p>
				</pre>
			    </div>
			    <div class="col-md-6 text-danger text-left">
				<pre>
				    <p>{{dpos|json}}</p>
				</pre>
			    </div>
			</div>
		    
		</uib-accordion-group>
		
		<uib-accordion-group>
		    <uib-accordion-heading>
			<div class="row">
			    <div class="col-md-6 text-danger text-capitalize text-left">
				<span class='badge'>secinfo 2/2</span>
			    </div>
			    <div class="col-md-6 text-danger text-capitalize text-right">
				secinfo 1/2
			    </div>
			</div>
		    </uib-accordion-heading>
		    <div class='col-md-2'>
			2 sloupce - placeholder
		    </div>
		    <pre>
		<h2>opravneni pro pole podle puvodniho dkopf</h2>
		{{securityInfo|json}}
		    </pre>
		</uib-accordion-group>
	    </uib-accordion>
	</div>
    </div>
</div>