<div class="container-fluid">
    <div class="page-header">
	<h4>Arbeitsplan pflegen / sprava pracovniho planu {{teil}}
	</h4>
    </div>

    <div>
	<uib-accordion close-others="false">

	    <uib-accordion-group heading="secInfo">
	    <pre>
		<h2>opravneni pro pole podle puvodniho dkopf</h2>
		{{securityInfo|json}}
	    </pre>
	    </uib-accordion-group>
    
	    <uib-accordion-group heading="grundinfo">
		content
	    </uib-accordion-group>
	    
	    <uib-accordion-group heading="GDat Anlagen">
		content
	    </uib-accordion-group>
	    
	    <uib-accordion-group heading="Musterlager">
		content
	    </uib-accordion-group>
	    
	    <uib-accordion-group heading="Teildoku">
		content
	    </uib-accordion-group>
	    
	    <uib-accordion-group heading="VPM">
		content
	    </uib-accordion-group>
	    
	    <uib-accordion-group heading="AM / MM">
		content
	    </uib-accordion-group>
	    
	    <uib-accordion-group heading="Tatigkeiten">
		content
	    </uib-accordion-group>
	</uib-accordion>
    </div>
</div>