
<div class="container-fluid" ng-controller="persController">
    <div>
	<button type="button" class="btn btn-warning btn-xs no-print" ng-model="showHelp" uib-btn-checkbox>
	    ?
	</button>
	<button title="admin info" type="button" class="btn btn-info btn-xs" ng-model="showhI" uib-btn-checkbox ng-show="securityInfo.showArray['admininfo_btn']"  >
	    AI
	</button>
    </div>
    <div class="page-header">
	<div class="row">
	    <div class="col-sm-10">
		<h4>Personal</h4>
		<apl-help editable="isEditor" helpTextUpdater="./updateHelpText.php" el="hIArray['form_help']" showhelp="showHelp" showadmininfo="showhI"></apl-help>
	    </div>

	    <div class="col-sm-2 no-print">
		<button ng-if="securityInfo.showArray['btn_hromadneoperace']" class="btn btn-primary btn-small" type="button" ng-click="toggleHromadneOperace()">
		    hromadné operace
		</button>
	    </div>
	</div>
    </div>

    <!--debug-->
<!--    <div>
	{{securityInfo|json}}
    </div>-->

    <form name="persForm" ng-model-options="{ updateOn: 'blur default' , debounce: { 'default': 500, 'blur': 0 }}" ng-submit="formSubmitted()">
	<div class="row no-print well-sm well">
	    <div class="col-sm-2">
		<div class="form-group form-group-sm">
		    <label class="control-label" for="osoba">os. číslo / jméno</label>
		    <input ng-change="osobaChanged()" ng-model="osoba" type="text" class="form-control" id="osoba" placeholder="hledání pracovníka, zadejte osobní, číslo, jméno ..">
		    <apl-help  editable="isEditor" helpTextUpdater="./updateHelpText.php"  el="hIArray['osoba_suchen']" showhelp="showHelp" showadmininfo="showhI"></apl-help>
		</div>
		<div ng-if="(osoby.length == 0 || osoby == null) && ma.selectedIndex == - 1 && persnrExists === false && isPersNr(osoba)" class="form-group form-group-sm">
		    <button class="btn btn-primary btn-small" type="button" ng-click="addNewBewerber(osoba)">
		    nový uchazeč
		    </button>
		</div>
	    </div>

	    <div class="col-sm-2">
		<div class="form-group form-group-sm">
		    <label class="control-label" for="dpersstatus">status</label>
		    <ui-select multiple ng-model="filt.dstatus" theme="bootstrap" close-on-select="false" style="width: 200px;" title="dpersstatus vybrat" ng-change="dpersstatusChanged()">
			<ui-select-match placeholder="vyberte status">{{$item}}</ui-select-match>
			<ui-select-choices repeat="s in dpersstatuses | filter:$select.search">
			    {{s}}
			</ui-select-choices>
		    </ui-select>
		    <apl-help editable="isEditor" helpTextUpdater="./updateHelpText.php" el="hIArray['dpersstatus']" showhelp="showHelp" showadmininfo="showhI"></apl-help>
		</div>
	    </div>
	    <!--	    
			<div class="col-sm-1">
			    <div class="form-group form-group-sm">
				<label class="control-label" for="jenma">pouze MA</label>
				<input ng-change="jenMAChanged()" ng-model="jenma" type="checkbox" class="form-control" id="jenma">
				<apl-help  editable="isEditor" helpTextUpdater="./updateHelpText.php"  el="hIArray['jenma']" showhelp="showHelp" showadmininfo="showhI"></apl-help>
			    </div>
			</div>-->

	    <div class="col-sm-1" ng-show="isDstatusOnlyMA()">
		<div class="form-group form-group-sm" title="ukončen maximálně před 60 dny">
		    <label class="control-label" for="jenma">60 dnu</label>
		    <input ng-change="austritt60Changed()" ng-model="austritt60" type="checkbox" class="form-control" id="austritt60">
		    <apl-help  editable="isEditor" helpTextUpdater="./updateHelpText.php"  el="hIArray['austritt60']" showhelp="showHelp" showadmininfo="showhI"></apl-help>
		</div>
	    </div>

	    <div class="col-sm-2">
		<div class="form-group form-group-sm">
		    <label class="control-label" for="oearray">OE</label>
		    <ui-select multiple ng-model="filt.oearray" theme="bootstrap" close-on-select="false" style="width: 200px;" title="vybrat OE" ng-change="oeArrayChanged()">
			<ui-select-match placeholder="vyberte OE">{{$item.oe}}</ui-select-match>
			<ui-select-choices repeat="s.oe as s in oes.oeArray | filter:$select.search"><div ng-bind-html="s.oe"></div>
			    <small>
				{{s.beschreibung_cz}}
			    </small>
			</ui-select-choices>
		    </ui-select>
		    <apl-help editable="isEditor" helpTextUpdater="./updateHelpText.php" el="hIArray['oearray']" showhelp="showHelp" showadmininfo="showhI"></apl-help>
		</div>
	    </div>

	    <!--	    <div class="col-sm-1">
			    <div class="form-group form-group-sm">
				<label class="control-label" for="oe">OE</label>
				<select class="form-control" id="oe" name="oe" ng-model="oes.oeSelected" ng-change="oeChanged()">
				    <option ng-selected="oe.oe=='*'" ng-repeat="oe in oes.oeArray" value="{{oe.oe}}">{{oe.oe}} - {{oe.beschreibung_cz}}</option>
				</select>
				<apl-help editable="isEditor" helpTextUpdater="./updateHelpText.php" el="hIArray['oeselect']" showhelp="showHelp" showadmininfo="showhI"></apl-help>
			    </div>
			</div>-->



	</div>

	<div class="row no-print">
	    <!--HF Premie ------------------------------------------------------->
	    <div ng-show="showHromadneOperace" class='col-sm-2'>
		<div class="panel panel-info">
		    <div class="panel-heading">
			<h3 class="panel-title">HFPremie</h3>
			<apl-help editable="isEditor" helpTextUpdater="./updateHelpText.php" el="hIArray['hroperace']" showhelp="showHelp" showadmininfo="showhI"></apl-help>
		    </div>
		    <div class="panel-body">
			<div class="form-group">
			    <label class="control-label" for="jahr">rok</label>
			    <input ng-min="curJahr-1" ng-max="curJahr+1" min="{{curJahr-1}}" max="{{curJahr+1}}" ng-model="hfPremieJahr" type="number" class="form-control text-right" id="jahr">
			    <apl-help editable="isEditor" helpTextUpdater="./updateHelpText.php" el="hIArray['hrjahr']" showhelp="showHelp" showadmininfo="showhI"></apl-help>
			</div>
			<div class="form-group">
			    <label class="control-label" for="monat">měsíc</label>
			    <input ng-model="hfPremieMonat" ng-min="1" ng-max="12" min="1" max="12" type="number" class="form-control text-right" id="monat">
			    <apl-help editable="isEditor" helpTextUpdater="./updateHelpText.php" el="hIArray['hrmonat']" showhelp="showHelp" showadmininfo="showhI"></apl-help>
			</div>
			<button type="button" ng-disabled="fillHFButtonDisabled" class="btn btn-warning btn-block" ng-click="fillHFPremie()">převzít vypočtené</button>
			<apl-help editable="isEditor" helpTextUpdater="./updateHelpText.php" el="hIArray['btn_fillhf']" showhelp="showHelp" showadmininfo="showhI"></apl-help>
			<button type="button" ng-disabled="lockHFButtonDisabled" class="btn btn-danger btn-block" ng-click="lockHFPremie(1)">zamknout hotnoty</button>
			<apl-help editable="isEditor" helpTextUpdater="./updateHelpText.php" el="hIArray['btn_lockhf']" showhelp="showHelp" showadmininfo="showhI"></apl-help>
			<button type="button" ng-disabled="lockHFButtonDisabled" ng-if="isAdmin" class="btn btn-success btn-block" ng-click="lockHFPremie(0)">odemknout hodnoty</button>
			<apl-help editable="isEditor" helpTextUpdater="./updateHelpText.php" el="hIArray['btn_unlockhf']" showhelp="showHelp" showadmininfo="showhI"></apl-help>
			<div class="alert alert-warning" ng-show="lockHFButtonDisabled" role="alert"> aktualizuji zaznamy pro HF premie</div>
		    </div>
		</div>
	    </div>
	    <!-------------------------------------------------------------------->

	    <!--osobni hodnoceni ------------------------------------------------------->
	    <div ng-show="showHromadneOperace" class='col-sm-2'>
		<div class="panel panel-primary">
		    <div class="panel-heading">
			<h3 class="panel-title">osobní hodnocení</h3>
			<apl-help editable="isEditor" helpTextUpdater="./updateHelpText.php" el="hIArray['hroperace_osobnihodnoceni']" showhelp="showHelp" showadmininfo="showhI"></apl-help>
		    </div>
		    <div class="panel-body">
			<div class="form-group">
			    <label class="control-label" for="jahr">rok</label>
			    <input ng-min="curJahr-1" ng-max="curJahr+1" min="{{curJahr-1}}" max="{{curJahr+1}}" ng-model="osobniHodnoceniJahr" type="number" class="form-control text-right" id="jahr">
			    <apl-help editable="isEditor" helpTextUpdater="./updateHelpText.php" el="hIArray['hrjahr_osobnihodnoceni']" showhelp="showHelp" showadmininfo="showhI"></apl-help>
			</div>
			<div class="form-group">
			    <label class="control-label" for="monat">měsíc</label>
			    <input ng-model="osobniHodnoceniMonat" ng-min="1" ng-max="12" min="1" max="12" type="number" class="form-control text-right" id="monat">
			    <apl-help editable="isEditor" helpTextUpdater="./updateHelpText.php" el="hIArray['hrmonat_osobnihodnoceni']" showhelp="showHelp" showadmininfo="showhI"></apl-help>
			</div>
			<button type="button" ng-disabled="fillOHButtonDisabled" class="btn btn-warning btn-block" ng-click="fillOsobniHodnoceni()">převzí firemní hodnoceni</button>
			<apl-help editable="isEditor" helpTextUpdater="./updateHelpText.php" el="hIArray['btn_fill_osobnihodnoceni']" showhelp="showHelp" showadmininfo="showhI"></apl-help>
			<button type="button" ng-disabled="lockOHButtonDisabled" class="btn btn-danger btn-block" ng-click="lockOsobniHodnoceniAll(1)">zamknout hotnoty</button>
			<apl-help editable="isEditor" helpTextUpdater="./updateHelpText.php" el="hIArray['btn_lock_osobnihodnoceni']" showhelp="showHelp" showadmininfo="showhI"></apl-help>
			<button type="button" ng-disabled="lockOHButtonDisabled" ng-if="isAdmin" class="btn btn-success btn-block" ng-click="lockOsobniHodnoceniAll(0)">odemknout hodnoty</button>
			<apl-help editable="isEditor" helpTextUpdater="./updateHelpText.php" el="hIArray['btn_unlock_osobnihodnoceni']" showhelp="showHelp" showadmininfo="showhI"></apl-help>
			<div class="alert alert-warning" ng-show="lockOHButtonDisabled" role="alert"> aktualizuji zaznamy pro osobní hodnocení</div>
		    </div>
		</div>
		<!-------------------------------------------------------------------->

	    </div>
	    <div ng-if="osoby.length > 0 && ma.selectedIndex == - 1" class='col-sm-12'>
		<table class="table table-condensed table-striped table-hover" >
		    <thead>
			<tr>
			    <th>persnr</th>
			    <th>jmeno</th>
			    <th>datum nar.</th>
			    <th>nastup. datum</th>
			    <th>ukonč. datum</th>
			    <th>OE-Schicht (Regel)</th>
			    <th>status</th>
			</tr>
		    </thead>
		    <tbody>
			<tr ng-repeat="r in osoby" ng-click="listRowClicked($index)">
			    <td>{{r.persnr}}</td>
			    <td>{{r.name}} {{r.vorname}}</td>
			    <td>{{r.geboren}}</td>
			    <td>{{r.eintritt}}</td>
			    <td>{{r.austritt}}</td>
			    <td>{{r.regeloe}}</td>
			    <td>{{r.dpersstatus}}</td>
			</tr>
		    </tbody>
		</table>
	    </div>
	</div>

	<div class='row' ng-show="ma.selectedIndex >= 0">
	    <div class="col-sm-12">

		<!--tlacitka pro posun na dalsi/predchozi MA-->
		<div class="row">
		    <div class="col-sm-2 no-print">
			<div class="btn-group btn-group-justified btn-small" role="group" aria-label="...">
			    <div class="btn-group" role="group">
				<button ng-click="moveMA( - 1)" type="button" class="btn btn-default btn-info">
				    <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
				</button>
			    </div>
			    <div class="btn-group" role="group">
				<button ng-click="moveMA(1)" type="button" class="btn btn-default btn-info btn-small">
				    <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
				</button>
			    </div>

			</div>
		    </div>

		    <!--button group pro zobrazeni jednotlivych panelu -------->
		    <div ng-show="securityInfo.showArray['select_panelswitch']" class="col-sm-2 no-print">
			<div class="btn-group">
				<button type="button" class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				panel <span class="caret"></span>
				</button>
			    <ul class="dropdown-menu">
<!--				<li><a ng-click="panelSwitch('bewerber')" role="button" href="">uchazeč (Bewerber)</a></li>
				<li role="separator" class="divider"></li>
				<li><a ng-click="panelSwitch('inventar')" role="button" href="">inventar</a></li>-->
				<li><a ng-click="panelSwitch('kvalifikace')" role="button" href="">kvalifikace</a></li>
				<li role="separator" class="divider"></li>
				<li><a ng-click="panelSwitch('hfpremie')" role="button" href="">HF Premie</a></li>
				<li><a ng-click="panelSwitch('osobnihodnoceni')" role="button" href="">osobní hodnocení</a></li>
				<li><a ng-click="panelSwitch('lohnberechnung')" role="button" href="">výpočet mzdy</a></li>
			    </ul>
			</div>
		    </div>
		    
		    <div class="col-sm-8 no-print">
			<div class="btn-group btn-group-justified btn-group-sm" role="group">
			    <div class="btn-group" role="group">
				<button type="button" ng-click="panelSwitch('grundinfo')" class="btn btn-info" role="button" href="">Grundinfo</button>
			    </div>
			    <div class="btn-group" role="group">
				<button type="button" ng-click="panelSwitch('bewerber')" class="btn btn-info" role="button" href="">uchazeč (Bewerber)</button>
			    </div>
			    <div class="btn-group" role="group">
				<button type="button" ng-click="panelSwitch('inventar')"  class="btn btn-info" role="button" href="">inventar</button>
			    </div>
			</div>
		    </div>
		    
		    
		    
		<!--------------------------------------------------------->
		</div>

		<!--stale viditelna informace o vybranem MA-->
		<!--jako header-->
		<div  class="row">
		    <div class="col-sm-12">
			<div class="well well-sm">
			    <div class="row">
				<div class="col-sm-6">
				    <h4>{{ma.maInfo.PersNr}} {{ma.maInfo.Vorname}} {{ma.maInfo.Name}} <small><span class="label label-success">{{ma.maInfo.dpersstatus}}</span><span class="label label-info">{{ma.maInfo.regeloe}} (OE:{{ma.oeInfo.oe}})</span></small></h4>
				    <img style="width:120px;" class="img-thumbnail" ng-if="ma.maFotoUrl!==null" ng-src="{{ma.maFotoUrl}}" />
				    <div ng-if="ma.maFotoUrl==null">
				    <!--<div>-->
					<button ngf-select="uploadFiles1($files,$invalidFiles,selectedButton)" type="button" class="btn btn-xs btn-success" aria-label="Left Align">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>foto
				    </button>
				    <div ng-if="files.length>0">
					<ul class="list-group">
					    <li class="list-group-item" ng-repeat="f in files" style="font:smaller">{{f.name}}
						<div class="progress">
						<div aria-valuenow="{{f.progress}}" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-warning" role="progressbar" style="width: {{f.progress}}%">
						{{f.progress}} %
						</div>
						</div>
					    </li>
					</ul>
				    </div>
				    </div>
				    
				</div>
				<div class="col-sm-6">
				    <p><small>Geburtsdatum: </small> {{ma.maInfo.geborenF}}</p>
				    <p><small>Gegurtsort: </small> {{ma.maInfo.gebort}}</p>
				    <p><small>Tel.: </small> {{ma.dpersDetail.kom7}}</p>
				</div>
			    </div>
			    
			</div>
		    </div>
		</div>
	    </div>
	</div>


	
	<div class="row"  ng-show="ma.selectedIndex >= 0">
	    <div class="col-sm-12">
		
		<!--lohn berechnung ------------------------------------------->
		<div ng-show="showPanel.lohnberechnung" id="lohnberechnung">
		    <div class="panel panel-success">
			<div class="panel-heading">
			    výpočet mzdy
			    <apl-help editable="isEditor" helpTextUpdater="./updateHelpText.php" el="hIArray['lohnberechnung_panel']" showhelp="showHelp" showadmininfo="showhI"></apl-help>
			</div>
			<div ng-show="lohnArray===null" class="panel-body">
			    <div class="alert alert-warning text-center"><h4>počítám ....</h4></div>
			</div>
			<div ng-show="lohnArray!==null" class="panel-body">
			    <div class="row">
				<div class='col-sm-12'>
				<div class="form-group col-md-2 form-group-sm">
				    <label class="control-label"  for="lohnMonat">měsíc:</label>
				    <div class="input-group">
					<input ng-change="updateLohn()" ng-model="lohnMonat" type="number" class="form-control" id="lohnMonat" placeholder="měsíc">
				    </div>
				</div>
				<div class="form-group col-md-2 form-group-sm">
				    <label class="control-label"  for="lohnJahr">rok:</label>
				    <div class="input-group">
					<input ng-change="updateLohn()" ng-model="lohnJahr" type="number" class="form-control" id="lohnJahr" placeholder="rok">
				    </div>
				</div>
				</div>
				<div class="col-sm-6">
    					<fieldset>
					    <legend>hodiny / dny</legend>
					    <table class="table-condensed table-striped table-responsive table-bordered">
						<thead>
						    <tr>
							<th class="text-right">Anw - Akkord</th>
							<th class="text-right">Anw - Zeit</th>
							<th class="text-right">Tage - d</th>
							<th class="text-right">Tage - z</th>
						    </tr>
						</thead>
						<tbody>
						    <tr>
							<td class="text-right">{{lohnArray.grundinfo.sumstundena_akkord|numeraljs:'0,0.0'}}</td>
							<td class="text-right">{{(lohnArray.grundinfo.sumstundena-lohnArray.grundinfo.sumstundena_akkord)|numeraljs:'0,0.0'}}</td>
							<td class="text-right">{{lohnArray.grundinfo.tage_d}}</td>
							<td class="text-right">{{lohnArray.grundinfo.tage_z}}</td>
						    </tr>
						</tbody>
					    </table>
					</fieldset>

					<fieldset>
					    <legend>mzda pro cely mesic akkord/zeit</legend>
					    <table class="table-condensed table-striped table-responsive table-bordered">
						<thead>
						    <tr>
							<th>OE</th>
							<th class="text-right">vzaby</th>
							<th class="text-right">vzaby_akkord</th>
							<th class="text-right">vzaby_akkord_kc</th>
							<th class="text-right">vzaby_zeit</th>
							<th class="text-right">vzaby_zeit_kc</th>
						    </tr>
						</thead>
						<tbody>
						    <tr ng-repeat="r in lohnArray.monatlohn.oes">
							<td>{{r.oe}}</td>
							<td class="text-right">{{r.vzaby|numeraljs:'0,0'}}</td>
							<td class="text-right">{{r.vzaby_akkord|numeraljs:'0,0'}}</td>
							<td class="text-right">{{r.vzaby_akkord_kc|numeraljs:'0,0.00'}}</td>
							<td class="text-right">{{r.vzaby_zeit|numeraljs:'0,0'}}</td>
							<td class="text-right">{{r.vzaby_zeit_kc|numeraljs:'0,0.00'}}</td>
						    </tr>
						</tbody>
						<tfoot>
						    <tr>
							<th>Sum</th>
							<th class="text-right">{{lohnArray.monatlohn.sumVzaby|numeraljs:'0,0'}}</th>
							<th class="text-right">{{lohnArray.monatlohn.sumVzabyAkkord|numeraljs:'0,0'}}</th>
							<th class="text-right">{{lohnArray.monatlohn.sumVzabyAkkordKc|numeraljs:'0,0.00'}} Kč</th>
							<th class="text-right">{{lohnArray.monatlohn.sumVzabyZeit|numeraljs:'0,0'}}</th>
							<th class="text-right">{{lohnArray.monatlohn.sumVzabyZeitKc|numeraljs:'0,0.00'}} Kč</th>
						    </tr>
						</tfoot>
					    </table>
					</fieldset>
					
				</div>
				<div class="col-sm-6">
				    <fieldset>
					    <legend>C.1 prémie za kvalifikaci</legend>
					    <table class="table-condensed table-striped table-responsive table-bordered">
						<thead>
						    <tr>
							<th>OE</th>
							<th>platí od</th>
							<th class="text-right">%</th>
						    </tr>
						</thead>
						<tbody>
						    <tr ng-repeat="(oe,r) in lohnArray.premieZaKvalifikaci.oeKvalifikaceArray">
							<td>{{oe}}</td>
							<td>{{r.gilt_ab}}</td>
							<td class="text-right">{{r.pct|numeraljs:'0,0.00'}}</td>
						    </tr>
						</tbody>
						<tfoot>
						    <tr>
							<th>Sum</th>
							<th class="text-right"></th>
							<th class="text-right">{{lohnArray.premieZaKvalifikaci.sumPctKvalifikace|numeraljs:'0,0.00'}}</th>
						    </tr>
						</tfoot>
					    </table>
					    <table  class="table-condensed table-striped table-responsive table-bordered">
						<thead>
						    <tr>
							<th></th>
							<th class="text-right">Kč</th>
						    </tr>
						</thead>
						<tbody>
						    <tr>
							<th>akkord</th>
							<td class="text-right">{{lohnArray.premieZaKvalifikaci.akkord|numeraljs:'0,0.00'}} Kč</td>
						    </tr>
    						    <tr>
							<th>zeit</th>
							<td class="text-right">{{lohnArray.premieZaKvalifikaci.zeit|numeraljs:'0,0.00'}} Kč</td>
						    </tr>
						</tbody>
					    </table>
					</fieldset>
				    
				    <fieldset ng-if="lohnArray.aPremie.apremie_flag.length>0">
					    <legend>C.2 A-Prémie (prémie za kvalitu)</legend>
					    <table class="table-condensed table-striped table-responsive table-bordered">
						<thead>
						    <tr>
							<th>částka</th>
							<th>info</th>
						    </tr>
						</thead>
						<tbody>
						    <tr>
							<th class="text-right">{{lohnArray.aPremie.apremie|numeraljs:'0,0.00'}} Kč</th>
							<td class="text-center">
							    <span ng-if="lohnArray.aPremie.apremie_flag=='V'" class="label label-success">{{lohnArray.aPremie.apremie_flag}}</span>
							    <span ng-if="lohnArray.aPremie.apremie_flag=='!'" class="label label-danger">{{lohnArray.aPremie.apremie_flag}}</span>
							</td>
						    </tr>
						</tbody>
					    </table>
					</fieldset>
				    
				    <fieldset>
					    <legend>C.3 výkonnostní prémie</legend>
					    <table class="table-condensed table-striped table-responsive table-bordered">
						<thead>
						    <tr>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
						    </tr>
						</thead>
						<tbody>
						    <tr>
							<th class="text-left">vzabyLeistung = vzabyAkkord + leistungZeit</th>
							<td style='white-space: nowrap;' class="text-right">{{lohnArray.leistungPremie.vzabyAkkord|numeraljs:'0,0'}}</td>
							<td style='white-space: nowrap;'  class="text-right">{{lohnArray.leistungPremie.leistungZeit|numeraljs:'0,0'}}</td>
							<th  style='white-space: nowrap;' class="text-right">{{(lohnArray.leistungPremie.leistungZeit+lohnArray.leistungPremie.vzabyAkkord)|numeraljs:'0,0'}}</th>
						    </tr>
						    <tr>
							<th class="text-left">monatNormMinuten</th>
							<td  style='white-space: nowrap;' class="text-right">{{lohnArray.leistungPremie.monatNormMinuten|numeraljs:'0,0'}}</td>
							<th class="text-left">leistungsGrad</th>
							<td  style='white-space: nowrap;' class="text-right">{{lohnArray.leistungPremie.leistungsGrad|numeraljs:'0,0.00'}}</td>
						    </tr>
						    <tr>
							<th class="text-left">ganzMonatNormMinuten</th>
							<td  style='white-space: nowrap;' class="text-right">{{lohnArray.leistungPremie.ganzMonatNormMinuten|numeraljs:'0,0'}}</td>
							<th class="text-left">leistungsGradGanzMonat</th>
							<td  style='white-space: nowrap;' class="text-right">{{lohnArray.leistungPremie.leistungsGradGanzMonat|numeraljs:'0,0.00'}}</td>
						    </tr>
						    <tr>
							<th class="text-left" colspan="2">Betrag</th>
							<th  style='white-space: nowrap;' class="text-right" colspan="2">{{lohnArray.leistungPremie.leistungsPremieBetrag|numeraljs:'0,0.00'}} Kč</th>
						    </tr>
						</tbody>
					    </table>
					</fieldset>
				    
				    <fieldset>
					    <legend>C.4 čtvrtletní prémie</legend>
					    <table class="table-condensed table-striped table-responsive table-bordered">
						<thead>
						    <tr>
							<th></th>
							<th></th>
						    </tr>
						</thead>
						<tbody>
						    <tr>
							<th class="text-left">QTL Leistung SOLL</th>
							<td class="text-right">{{lohnArray.qtlPremie.qtlLeistungSoll|numeraljs:'0,0'}}</td>
						    </tr>
   						    <tr>
							<th class="text-left">QTL Leistung IST</th>
							<td class="text-right">{{lohnArray.qtlPremie.qtlLeistungIst|numeraljs:'0,0'}}</td>
						    </tr>
						    <tr>
							<th class="text-left">QTL Leistung Kč</th>
							<td class="text-right">{{lohnArray.qtlPremie.qtlLeistungIstKc|numeraljs:'0,0.00'}} Kč</td>
						    </tr>						    
						    <tr>
							<th class="text-left">QTL Premie Kč</th>
							<th class="text-right">{{lohnArray.qtlPremie.qtlPremieBetrag|numeraljs:'0,0.00'}} Kč</th>
						    </tr>						    
						</tbody>
					    </table>
					</fieldset>
				</div>
			    </div>
			</div>
		    </div>
		</div>
		<!--panel grundinfo ---------------------------------->
		<div ng-show="showPanel.grundinfo" id="grundinfo">
		    <div class="panel panel-success">
			<div class="panel-heading">
			    Grundinfo
			    <apl-help editable="isEditor" helpTextUpdater="./updateHelpText.php" el="hIArray['grundinfo_panel']" showhelp="showHelp" showadmininfo="showhI"></apl-help>
			</div>
			<div class="panel-body">
			    <div class="row">
				<div class="col-sm-6">
				    <div class="form-horizontal">
					<fieldset>
					    <legend>person</legend>
					    <div class="form-group">
						<label for="vorname" class="col-sm-2 control-label">jméno</label>
						<div class="col-sm-4">
						    <input ng-model="ma.maInfo.Vorname" type="text" class="form-control" id="vorname" placeholder="jmeno"  ng-change="dpersFieldChanged('Vorname')">
						</div>
						<label for="name" class="col-sm-2 control-label">příjmení</label>
						<div class="col-sm-4">
						    <input ng-model="ma.maInfo.Name" type="text" class="form-control" id="name" placeholder="příjmení"  ng-change="dpersFieldChanged('Name')">
						</div>
					    </div>
					    <div class="form-group">
						<label for="g" class="col-sm-2 control-label">datum narození</label>
						<div class="col-sm-4">
						    <input ng-model="ma.maInfo.geboren" ui-date="dateOptions" type="text" class="form-control" id="g" placeholder="datum narození"  ng-change="dpersFieldChanged('geboren')">
						</div>
					    </div>
					</fieldset>
					<fieldset>
					    <legend>stát</legend>
					    <div class="form-group">
						<label class="col-sm-2 control-label" for="staats_angehoerigkeit_id">státní příslušnost</label>
						<div class="col-sm-10">
						    <ui-select ng-model="ma.bewerberInfo.staats_angehoerigkeit_id" theme="bootstrap" close-on-select="true" title="vybrat status" ng-change="bewerberFieldChanged('staats_angehoerigkeit_id')" on-select="bewerberFieldOnSelect($item,$model)">
							<ui-select-match placeholder="vyberte státní příslušnost">{{$select.selected.staat_abkrz}} {{$select.selected.staat_name}}</ui-select-match>
							<ui-select-choices repeat="s.id as s in staaten | filter:$select.search">
							    <small>
								<strong>{{s.staat_abkrz}}</strong>
							    </small>
							    <div><em>{{s.staat_name}}</em></div>
							</ui-select-choices>
						    </ui-select>
						</div>
					    </div>
					    <div class="form-group">
						<label class="col-sm-2 control-label" for="staats_gruppe_id">staatsgruppe</label>
						<div class="col-sm-10">
						    <ui-select ng-model="ma.bewerberInfo.staats_gruppe_id" theme="bootstrap" close-on-select="true" title="vybrat status" ng-change="bewerberFieldChanged('staats_gruppe_id')">
							<ui-select-match placeholder="vyberte staatsgruppe">{{$select.selected.text_kurz}} {{$select.selected.text_lang}}</ui-select-match>
							<ui-select-choices repeat="s.id as s in staats_gruppen | filter:$select.search">
							    <small>
								<strong>{{s.text_kurz}}</strong>
							    </small>
							    <div><em>{{s.text_lang}}</em></div>
							</ui-select-choices>
						    </ui-select>
						</div>
					    </div>
					    
					</fieldset>
				    </div>
				</div>
				<div class="col-sm-6">
				    <div class="form-horizontal">
					<fieldset>
					    <legend>kontakty</legend>
					    <div class="form-group">
						<label for="tc" class="col-sm-2 control-label">telefonní číslo</label>
						<div class="col-sm-4">
						    <input ng-model="ma.dpersDetail.kom7" type="text" class="form-control" id="tc" placeholder="telefonní číslo"  ng-change="dpersdetailFieldChanged('kom7')">
						</div>
						<label for="em" class="col-sm-2 control-label">email</label>
						<div class="col-sm-4">
						    <input ng-model="ma.maInfo.email" type="text" class="form-control" id="email" placeholder="email"  ng-change="dpersFieldChanged('email')">
						</div>
					    </div>
					</fieldset>
				    </div>
				</div>
			    </div>
			</div>
		    </div>
		</div>
		<!--panel uchazec / bewerber ---------------------------------->
		<div ng-show="showPanel.bewerber" id="bewerber">
		    <div class="panel panel-success">
			<div class="panel-heading">
			    uchazeč ( Bewerber  )
			    <apl-help editable="isEditor" helpTextUpdater="./updateHelpText.php" el="hIArray['bewerber_panel']" showhelp="showHelp" showadmininfo="showhI"></apl-help>
			</div>
			<div class="panel-body">
			    <div class="row">
				<div class="col-sm-6">
				    <div class="form-horizontal">
					
					<fieldset>
					    <legend>Bewerbung</legend>
					    <div class="form-group">
						<label for="bewerbe_datum" class="col-sm-1 control-label">Datum</label>
						<div class="col-sm-3">
						    <input ng-model="ma.bewerberInfo.bewerbe_datum" ui-date="dateOptions" type="text" class="form-control" id="bewerbe_datum" placeholder="Vorstellungsgespraech am"  ng-change="bewerberFieldChanged('bewerbe_datum')">
						</div>
						<label class="col-sm-2 control-label" for="status_fur_aby">geeignet</label>
						<div class="col-sm-6">
						    <ui-select ng-model="ma.bewerberInfo.status_fur_aby_id" theme="bootstrap" close-on-select="true" title="vybrat status" ng-change="bewerberFieldChanged('status_fur_aby_id')">
							<ui-select-match placeholder="vyberte status">{{$select.selected.text_kurz}} {{$select.selected.text_lang}}</ui-select-match>
							<ui-select-choices repeat="s.id as s in status_fur_aby | filter:$select.search">
							    <small>
								<strong>{{s.text_kurz}}</strong>
							    </small>
							    <div><em>{{s.text_lang}}</em></div>
							</ui-select-choices>
						    </ui-select>
						</div>
					    </div>
					</fieldset>
					
					
					<fieldset>
					    <legend>Bewertung</legend>
					    <div class="col-sm-4">
						<div class="form-group">
						    <label for="bewertung1" class="control-label">physisch</label>
						    <select style="width:50%;" ng-options="option for option in hodnoceniArray" ng-model="ma.bewerberInfo.bewertung1" class="form-control" id="bewertung1" placeholder="Bewertung 1-10" ng-change="bewerberFieldChanged('bewertung1')"></select>
						</div>
					    </div>
					    <div class="col-sm-4">
						<div class="form-group">
						    <label for="bewertung2" class="control-label">Arbeitungserfahrungen</label>
						    <div class="">
							<select style="width:50%;"  ng-options="option for option in hodnoceniArray" ng-model="ma.bewerberInfo.bewertung2" class="form-control" id="bewertung2" placeholder="Bewertung 1-10" ng-change="bewerberFieldChanged('bewertung2')"></select>
						    </div>
						</div>
					    </div>
					    <div class="col-sm-4">
						<div class="form-group">
						    <label for="bewertung3" class="control-label">Arbeitsinteresse</label>
						    <div class="">
							<select style="width:50%;"  ng-options="option for option in hodnoceniArray" ng-model="ma.bewerberInfo.bewertung3" class="form-control" id="bewertung3" placeholder="Bewertung 1-10" ng-change="bewerberFieldChanged('bewertung3')"></select>
						    </div>
						</div>
					    </div>
					</fieldset>
					
					<fieldset>
					    <legend>Vorraussichtlich</legend>
					    <div class="form-group">
					    <label for="eintritt_datum" class="col-sm-1 control-label">Datum</label>
					    <div class="col-sm-3">
						<input ng-model="ma.bewerberInfo.eintritt_datum" ui-date="dateOptions" type="text" class="form-control" id="eintritt_datum" placeholder="ET-Plan" ng-change="bewerberFieldChanged('eintritt_datum')">
					    </div>
					    <label class="col-sm-2 control-label" for="oevorauss">OE</label>
					    <div class="col-sm-6">
						<ui-select ng-model="ma.bewerberInfo.oe_voraussichtlich" theme="bootstrap" close-on-select="true" title="vybrat OE" ng-change="bewerberFieldChanged('oe_voraussichtlich')">
						<ui-select-match placeholder="vyberte OE">{{$select.selected.oe}}</ui-select-match>
						<ui-select-choices repeat="s.oe as s in oes.oeArray | filter:$select.search">
						    <small>
							<strong>{{s.oe}}</strong> {{s.beschreibung_cz}}
						    </small>
						</ui-select-choices>
						</ui-select>
					    </div>
					</div>
					</fieldset>
					
					<fieldset>
					    <legend>Sonst.</legend>
					</fieldset>

					<!--info vom-->
					<div class="form-group form-group-sm">
					    <label class="control-label col-sm-1" for="dpersstatus">info vom</label>
					    <div class="col-sm-5">
					    <ui-select multiple class="form-control" ng-model="ma.bewerberInfo.infoVomArray" theme="bootstrap" close-on-select="false" title="info vom" ng-change="bewerberFieldChanged('infoVomArray')">
						<ui-select-match placeholder="vyberte info">{{$item.text_kurz}} <small>({{$item.text_lang}})</small></ui-select-match>
					    <ui-select-choices repeat="s.id as s in infoVomArray | filter:$select.search">
						<small>
							<strong>{{s.text_kurz}}</strong>
						    </small>
						    <div><em>{{s.text_lang}}</em></div>
					    </ui-select-choices>
					    </ui-select>
					    </div>
					    <label class="control-label col-sm-1" for="fah">Fāhig.</label>
					    <div class="col-sm-5">
					    <ui-select multiple class="form-control" ng-model="ma.bewerberInfo.faehigkeitenArray" theme="bootstrap" close-on-select="false" title="Faehigkeiten" ng-change="bewerberFieldChanged('faehigkeitenArray')">
						<ui-select-match placeholder="schopnosti">{{$item.typ_beschreibung}} <small>({{$item.faeh_beschreibung}})</small></ui-select-match>
					    <ui-select-choices group-by="'typ_beschreibung'" repeat="s.faeh_id as s in bewFahigkeiten | filter:$select.search">
						    <small>
							<strong>{{s.faeh_abkrz}}</strong>
						    </small>
						    <div><em>{{s.faeh_beschreibung}}</em></div>
					    </ui-select-choices>
					    </ui-select>
					    </div>
					</div>
					
					
					
					
					<!--checkboxy-->
					<div class="checkbox col-sm-4">
				    <label>
					<input type="checkbox" ng-true-value="'1'" ng-false-value="'0'" ng-model="ma.bewerberInfo.arbamt_evidenz" ng-change="bewerberFieldChanged('arbamt_evidenz')">Arbeitsamtevidenz
				    </label>
				    </div>
				    <div class="checkbox col-sm-4">
				    <label>
					<input type="checkbox" ng-true-value="'1'" ng-false-value="'0'"  ng-model="ma.bewerberInfo.exekution" ng-change="bewerberFieldChanged('exekution')">Exekution / Insolvenz
				    </label>
				    </div>
				    <div class="checkbox col-sm-4">
				    <label>
					<input type="checkbox" ng-true-value="'1'" ng-false-value="'0'"  ng-model="ma.bewerberInfo.vermindertfah" ng-change="bewerberFieldChanged('vermindertfah')">Verminderte Erwerbsfaehigkeit
				    </label>
				    </div>
					    
					
					
				    </div>
				</div>
				<div class="col-sm-6">
				    <div class="form-group">
					<label class="control-label" for="bemerkung_sonst">Bemerkungen zum Gespraech / Sonst</label>
					<textarea class="form-control small" id="bemerkung_sonst" placeholder="Bemerkungen" rows="10" ng-model="ma.bewerberInfo.bemerkung_sonst"  ng-change="bewerberFieldChanged('bemerkung_sonst')"></textarea>
				    </div>
				    <div class="form-group">
					<label class="control-label" for="bemerkung_fah">Bemerkungen zum Faehigkeiten</label>
					<textarea class="form-control small" id="bemerkung_faehigkeiten" placeholder="Bemerkungen" rows="10" ng-model="ma.bewerberInfo.bemerkung_faehigkeiten" ng-change="bewerberFieldChanged('bemerkung_faehigkeiten')"></textarea>
				    </div>
				    <!--<pre>{{ma.bewerberInfo|json}}</pre>-->
				</div>
			    </div>
			</div>
		    </div>
		</div>
		<!-------------------------------------------------------------------->
		<!--panel kvalifikace-->
		<div ng-show="showPanel.kvalifikace" id="kvalifikace">
		    <div class="panel panel-success">
			<div class="panel-heading">
			    kvalifikace
			    <apl-help editable="isEditor" helpTextUpdater="./updateHelpText.php" el="hIArray['kvalifikace_panel']" showhelp="showHelp" showadmininfo="showhI"></apl-help>
			</div>
			<div class="panel-body">
			    <div class="row">
				<div class="col-md-12">
				    <div class="panel panel-primary">
					<div class="panel-heading">OE - kvalifikační požadavky</div>
					<table class="table table-condensed table-responsive table-striped table-hover">
					    <thead>
						<tr   class="bg-info no-print">
						    <th colspan="1">
							<select class="form-control" id="oekvalifikace" name="oekvalifikace" ng-model="oekvalifikace">
							    <option ng-if="oe.oe != '*'" ng-repeat="oe in oes.oeArray" value="{{oe.oe}}">{{oe.oe}} - {{oe.beschreibung_cz}}</option>
							</select>
						    </th>
						    <th>
							<input type="text" ng-model="kvalifikacebewertung" class="form-control input-sm text-right" placeholder="hodnoceni">
						    </th>
						    <th>
							&nbsp;
						    </th>
						    <th>
							<input ng-model="kvalifikaceGiltAb" ui-date="dateOptions" type="text" class="form-control" id="kvalifikacegiltab" placeholder="plati od">
						    </th>
						    <th>
							&nbsp;
						    </th>
<!--						    <th>
							&nbsp;
						    </th>-->
						    <th>
							<button ng-click="addKvalifikace()" id='add_kvalifikace' type="button" class="btn btn-sm btn-primary btn-block">+</button>
						    </th>
						</tr>
						<tr class="bg-info">
						    <th colspan="1" >oe</th>
						    <th colspan="1" class="text-right">hodnoceni</th>
						    <th colspan="1">poznamka</th>
						    <th colspan="1">plati od</th>
						    <th colspan="1" >user</th>
						    <!--<th colspan="1" >stamp</th>-->
						    <th colspan="1" ></th>
						</tr>
					    </thead>
					    <tbody>
						<tr ng-repeat="pa in persKvalifikaceArray">
						    <td >{{pa.oe}}</td>
						    <td class="">
							<input ng-change="dperskvalifikaceChanged(pa, 'bewertung')" type="text" ng-model="pa.bewertung" class="form-control input-sm  text-right" placeholder="hodnoceni">
						    </td>
						    <td class="">
							<input ng-change="dperskvalifikaceChanged(pa, 'poznamka')" type="text" ng-model="pa.poznamka" class="form-control input-sm" placeholder="poznámka">
						    </td>
						    <td class="">
							{{pa.gilt_ab}}
						    </td>
						    <td class="">
							{{pa.user}}
						    </td>
<!--						    <td class="">
							{{pa.stamp}}
						    </td>-->
						    <td class="">
							<button title="smazat" type="button" class="btn btn-block no-print" ng-click="deleteDpersKvalifikace(pa)">
							    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
							</button>
						    </td>
						</tr>
					    </tbody>
					</table>
				    </div>

				</div>
				<!--<div class="col-md-6">
				    <div class="panel panel-primary">
					<div class="panel-heading">Kvalifikace Soll / Ist (školení)</div>
					<table class="table table-condensed table-responsive table-striped table-hover">
					    <thead>
						<tr   class="bg-info no-print">
						    <th colspan="1">
							<select class="form-control" id="fahtypen" name="fahtypen" ng-model="fahtypen.fahtypidSelected">
							    <option ng-selected="ft.id == fahtypen.fahtypidSelected" ng-repeat="ft in fahtypen.fahtypenArray" value="{{ft.id}}">{{ft.beschreibung}}</option>
							</select>
						    </th>
						    <th>
							<select class="form-control" id="fahigkeiten" name="fahigkeiten" ng-model="fahigkeiten.fahigkeitenidSelected">
							    <option ng-selected="$index == 0" ng-repeat="fh in fahigkeiten.fahigkeitenArray | filter:{faehigkeit_typ:fahtypen.fahtypidSelected}:true" value="{{fh.id}}">{{fh.faeh_abkrz}} - {{fh.beschreibung}}</option>
							</select>
						    </th>
						    <th>
							&nbsp;
						    </th>
						    <th>
							&nbsp;
						    </th>
						    <th>
							&nbsp;
						    </th>
						    <th>
							<button ng-click="addKvalifikace()" id='add_kvalifikace' type="button" class="btn btn-sm btn-primary btn-block">+</button>
						    </th>
						</tr>
						<tr class="bg-info">
						    <th colspan="1" >oe</th>
						    <th colspan="1" class="text-right">hodnoceni</th>
						    <th colspan="1">poznamka</th>
						    <th colspan="1" >user</th>
						    <th colspan="1" >stamp</th>
						    <th colspan="1" ></th>
						</tr>
					    </thead>
					    <tbody>
						<tr ng-repeat="pa in persKvalifikaceArray">
						    <td >{{pa.oe}}</td>
						    <td class="">
							<input ng-change="dperskvalifikaceChanged(pa, 'bewertung')" type="text" ng-model="pa.bewertung" class="form-control input-sm  text-right" placeholder="hodnoceni">
						    </td>
						    <td class="">
							<input ng-change="dperskvalifikaceChanged(pa, 'poznamka')" type="text" ng-model="pa.poznamka" class="form-control input-sm" placeholder="poznámka">
						    </td>
						    <td class="">
							{{pa.user}}
						    </td>
						    <td class="">
							{{pa.stamp}}
						    </td>
						    <td class="">
							<button title="smazat" type="button" class="btn btn-block no-print" ng-click="deleteDpersKvalifikace(pa)">
							    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
							</button>
						    </td>
						</tr>
					    </tbody>
					</table>
				    </div>
				</div>-->
			    </div>
			</div>
		    </div>
		</div>
		
		<!--inventar-->
		<div ng-show="showPanel.inventar" id="inventar">
		    <div class="panel panel-default">
			<div class="panel-heading">
			    Inventář
			    <apl-help editable="isEditor" helpTextUpdater="./updateHelpText.php" el="hIArray['inventar_panel']" showhelp="showHelp" showadmininfo="showhI"></apl-help>
			</div>
			<div class="panel-body">
			    <div class="row">
				<div class="col-md-12">
				    <table class="table table-condensed table-responsive table-striped table-hover">
					<thead>
					    <tr   class="bg-info no-print">
						<th colspan="7">
					<ui-select
					    ng-model="inventar.selected" 
					    ng-disabled="disabled" 
					    reset-search-input="true" 
					    theme="bootstrap"
					    ><ui-select-match placeholder="vyhledani inventare (podle typu, cisla, popisu, mistnosti)">{{$select.selected.inventartyp}} - {{$select.selected.cislo}} {{$select.selected.popis}}</ui-select-match>
					    <ui-select-choices group-by="'inventartyp'" repeat="p in inventarArray track by $index"
							       refresh="refreshInventar($select.search)"
							       refresh-delay="0">
						<div ng-bind-html="p.formattedInventar | highlight: $select.search"></div>
					    </ui-select-choices>
					</ui-select>
					</th>
					<th>
					<div ng-show="inventar.selected.pocetpotomku > 0 || inventar.selected.pocetrodicu > 0" class="checkbox">
					    <label>
						<!--povolit pridavani potomku / rodicu-->
						<input ng-model="addparents" type="checkbox"> přidat 
						<span ng-show="inventar.selected.pocetrodicu > 0">rodiče <span class="bg-warning">{{inventar.selected.rodic}}</span></span>
						<span ng-show="inventar.selected.pocetpotomku > 0">potomky <span class="bg-warning">{{inventar.selected.potomek}}</span></span>
					    </label>
					</div>

					<button ng-click="addInventar(inventar.selected, null)" id='add_inventar' type="button" class="btn btn-sm btn-primary btn-block">+</button>
					</th>
					</tr>
					<tr class="bg-info">
					    <th colspan="1" >typ</th>
					    <th colspan="1" >cislo</th>
					    <th colspan="1" >popis</th>
					    <th colspan="1" >pozn</th>
					    <th colspan="1" >vydej datum</th>
					    <th colspan="1" >vraceno datum</th>
					    <th colspan="1" >editoval</th>
					    <th colspan="1" >stamp</th>
					</tr>
					</thead>
					<tbody>
					    <tr ng-repeat="pa in persInventarArray" ng-class="{'text-muted':pa.vydej_datum1 !== null}">
						<td >{{pa.inventar_typ}}</td>
						<td class="">{{pa.inventar_cislo}}</td>
						<td class="">{{pa.inventar_popis}}</td>
						<td class="">
						    <input ng-change="dpersinventarChanged(pa, 'pozn')" type="text" ng-model="pa.pozn" class="form-control input-sm">
						</td>
						<td class="">
						    <input ng-change="dpersinventarChanged(pa, 'vydej_datum')" ng-disabled="pa.vraceno_datum !== null" ng-blur="" ng-model="pa.vydej_datum1" ui-date="dateOptions" type="text" class="form-control" id="" placeholder="vydej">
						    <!--{{pa.vydej_datum}}-->
						</td>
						<td class="">
						    <input ng-change="dpersinventarChanged(pa, 'vraceno_datum')" ng-disabled="pa.vraceno_datum !== null" ng-blur="" ng-model="pa.vraceno_datum1" ui-date="dateOptions" type="text" class="form-control" id="" placeholder="vraceno">
						</td>
						<td title="naposledy editoval" class="">{{pa.user}}</td>
						<td class="">
						    {{pa.stamp}}
						    <button title="smazat" type="button" ng-if="isAdmin" class="btn btn-block no-print" ng-click="deleteDpersInventar(pa)">
							<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
						    </button>
						</td>
					    </tr>
					</tbody>
				    </table>
				</div>
			    </div>
			</div>
		    </div>
		</div>
		<div ng-show="showPanel.hfpremie" id="hfpremie">
		    <div class="panel panel-info">
			<div class="panel-heading">
			    HF Premie
			    <apl-help editable="isEditor" helpTextUpdater="./updateHelpText.php" el="hIArray['hfpremie_panel']" showhelp="showHelp" showadmininfo="showhI"></apl-help>
			</div>
			<div class="panel-body">
			    <div class="row">
				<div class="form-group col-md-2 form-group-sm">
				    <label class="control-label"  for="hfpremievon">Von:</label>
				    <div class="input-group">
					<input ng-change="premieDatumChanged('von')" ng-model="hfPremieVon" ui-date="dateOptions" type="text" class="form-control" id="hfpremievon" placeholder="von">
				    </div>
				</div>
				<div class="form-group col-md-2 form-group-sm">
				    <label class="control-label"  for="hfpremiebis">Bis:</label>
				    <div class="input-group">
					<input ng-change="premieDatumChanged('bis')" ng-model="hfPremieBis" ui-date="dateOptions" type="text" class="form-control" id="hfpremiebis" placeholder="bis">
				    </div>
				</div>

				<div class="col-sm-6">
				    <table class="table table-condensed table-responsive" ng-if="hfPremieArray[hfPremieArray.persnrArray[0].persnr].persinfo.hfkriteria != null">
					<tbody>
					    <tr class="bg-success">
						<td>repkosten / vzkd</td>
						<td><=</td>
						<td class="text-right">{{hfPremieArray[hfPremieArray.persnrArray[0].persnr].persinfo.hfkriteria.grenzedown|numeraljs:'0,0.00'}}</td>
						<td>premie</td>
						<td>=</td>
						<td class="text-right">{{hfPremieArray[hfPremieArray.persnrArray[0].persnr].persinfo.hfkriteria.pct_plus}} %</td>
						<td>z Sum vzkd</td>
					    </tr>
					    <tr class="bg-warning">
						<td>repkosten / vzkd</td>
						<td>>=</td>
						<td class="text-right">{{hfPremieArray[hfPremieArray.persnrArray[0].persnr].persinfo.hfkriteria.grenzeup|numeraljs:'0,0.00'}}</td>
						<td>premie</td>
						<td>=</td>
						<td class="text-right">-{{hfPremieArray[hfPremieArray.persnrArray[0].persnr].persinfo.hfkriteria.pct_minus}} %</td>
						<td>z Sum vzkd</td>
					    </tr>
					    <tr class="bg-danger">
						<td>repkosten / vzkd</td>
						<td>>=</td>
						<td class="text-right">{{hfPremieArray[hfPremieArray.persnrArray[0].persnr].persinfo.hfkriteria.grenze_reparatur|numeraljs:'0,0.00'}}</td>
						<td>premie</td>
						<td>=</td>
						<td class="text-right">-{{hfPremieArray[hfPremieArray.persnrArray[0].persnr].persinfo.hfkriteria.pct_reparatur}} %</td>
						<td>z repkosten</td>
					    </tr>
					</tbody>
				    </table>
				    <h3  ng-if="hfPremieArray[hfPremieArray.persnrArray[0].persnr].persinfo.hfkriteria == null"><span class="label label-warning">pro OE:{{ma.oeInfo.oe}} se HF premie nepočítá.</span></h3>
				</div>

			    </div>
			    <div ng-show="hfPremieArray !== null" class="row">
				<div class="col-sm-12">
				    <table class="table table-condensed table-responsive table-striped table-hover">
					<thead>
					<th class="bg-info">&nbsp;</th>
					<th class="bg-info text-right">Suma [von-bis]</th>
					<th class="bg-info text-right" ng-repeat="(jm, pocet) in hfPremieArray.jahrmonatArray">{{jm}}</th>
					</thead>
					<tbody>
					    <tr>
						<th>
						    vzaby
						</th>
						<th class="text-right">
						    {{sumHFPremieRow(hfPremieArray[hfPremieArray.persnrArray[0].persnr].monate,'vzaby')|numeraljs:'0,0'}}
						</th>
						<td class="text-right bg-{{p.prclass}}" ng-repeat="p in hfPremieArray[hfPremieArray.persnrArray[0].persnr].monate">
						    {{p.vzaby|numeraljs:'0,0'}}
						</td>
					    </tr>
					    <tr>
						<th>
						    vzkd S0011
						</th>
						<th class="text-right">
						    {{sumHFPremieRow(hfPremieArray[hfPremieArray.persnrArray[0].persnr].monate,'vzkdS0011')|numeraljs:'0,0'}}
						</th>
						<td class="text-right bg-{{p.prclass}}" ng-repeat="p in hfPremieArray[hfPremieArray.persnrArray[0].persnr].monate">
						    {{p.vzkdS0011|numeraljs:'0,0'}}
						</td>
					    </tr>
					    <tr>
						<th>
						    vzkd S0051
						</th>
						<th class="text-right">
						    {{sumHFPremieRow(hfPremieArray[hfPremieArray.persnrArray[0].persnr].monate,'vzkdS0051')|numeraljs:'0,0'}}
						</th>
						<td class="text-right bg-{{p.prclass}}" ng-repeat="p in hfPremieArray[hfPremieArray.persnrArray[0].persnr].monate">
						    {{p.vzkdS0051|numeraljs:'0,0'}}
						</td>
					    </tr>
					    <tr>
						<th>
						    Sum vzkd
						</th>
						<th class="text-right">
						    {{sumHFPremieRow(hfPremieArray[hfPremieArray.persnrArray[0].persnr].monate,'vzkd')|numeraljs:'0,0'}}
						</th>
						<td class="text-right bg-{{p.prclass}}" ng-repeat="p in hfPremieArray[hfPremieArray.persnrArray[0].persnr].monate">
						    {{p.vzkd|numeraljs:'0,0'}}
						</td>
					    </tr>
					    <tr>
						<th>
						    repkosten
						</th>
						<th class="text-right">
						    {{sumHFPremieRow(hfPremieArray[hfPremieArray.persnrArray[0].persnr].monate,'repkosten')|numeraljs:'0,0'}}
						</th>
						<td class="text-right bg-{{p.prclass}}" ng-repeat="(mo, p) in hfPremieArray[hfPremieArray.persnrArray[0].persnr].monate">
						    <!--<span id="repkosten_{{hfPremieArray.persnrArray[0].persnr}}_{{mo}}" style="cursor: pointer;" ng-click="monthValueClicked($event,p)">-->
						    {{p.repkosten|numeraljs:'0,0'}}
						    <!--</span>-->
						    <span ng-if="p.repkosten != 0" title="zobrazit detail k hodnote" id="repkosten_{{hfPremieArray.persnrArray[0].persnr}}_{{mo}}" style="cursor: pointer;" ng-click="monthValueClicked($event, p)" class="glyphicon glyphicon-info-sign bg-success text-success" aria-hidden="true"></span>
						</td>
					    </tr>
					    <tr>
						<th>
						    repkosten/vzkd
						</th>
						<th class="text-right">
						    {{(sumHFPremieRow(hfPremieArray[hfPremieArray.persnrArray[0].persnr].monate,'vzkd')!==0?sumHFPremieRow(hfPremieArray[hfPremieArray.persnrArray[0].persnr].monate,'repkosten')/sumHFPremieRow(hfPremieArray[hfPremieArray.persnrArray[0].persnr].monate,'vzkd'):0)|numeraljs:'0,0.00'}}
						</th>
						<td class="text-right bg-{{p.prclass}}" ng-repeat="p in hfPremieArray[hfPremieArray.persnrArray[0].persnr].monate">
						    {{p.faktor|numeraljs:'0,0.00'}}
						</td>
					    </tr>
					    <tr>
						<th>
						    premie - vypoc.
						</th>
						<th class="text-right">
						    {{sumHFPremieRow(hfPremieArray[hfPremieArray.persnrArray[0].persnr].monate,'premie')|numeraljs:'0,0'}}
						</th>
						<td class="text-right bg-{{p.prclass}}" ng-repeat="p in hfPremieArray[hfPremieArray.persnrArray[0].persnr].monate">
						    {{p.premie}}
						</td>
					    </tr>
					    <tr>
						<th>
						    premie - skut.
						</th>
						<th class="text-right">
						    {{sumHFPremieRow(hfPremieArray[hfPremieArray.persnrArray[0].persnr].monate,'skutBetrag')|numeraljs:'0,0'}}
						</th>
						<td ng-class="{'bg-success':p.skutBetrag > 0, 'bg-danger':p.skutBetrag < 0}" class="text-right" ng-repeat="(m, p) in hfPremieArray[hfPremieArray.persnrArray[0].persnr].monate">
						    <div class="input-group input-group-sm">
							<span class="input-group-btn input-group-sm">
							    <button ng-if="p.locked && isAdmin == true" class="btn btn-default no-print" title="odemkne hodnotu" type="button" ng-click="unlockHfPremie(p, m)">
								<span class="text-success glyphicon glyphicon-asterisk"></span>
							    </button>
							    <button ng-if="p.locked == false" class="btn btn-default no-print" title="zamkne hodnotu" type="button" ng-click="lockHfPremie(p, m)">
								<span class="text-success glyphicon glyphicon-lock"></span>
							    </button>
							    <!--							    <button ng-disabled="p.locked" class="btn btn-default no-print" title="{{p.locked?'zamknuto':'odemknuto, stisknutim hodnotu zamknete'}}" type="button" ng-click="lockHfPremie(p,m)">
															    <span ng-if="p.locked" class="glyphicon glyphicon-lock"></span>
															    <span ng-show="p.locked===true" class="text-danger glyphicon glyphicon-lock"></span>
															    <span ng-show="p.locked===false" class="text-success glyphicon glyphicon-lock"></span>
															    <span ng-if="!p.locked" class="glyphicon glyphicon-unlock"></span>
															</button>-->
							</span>
							<input ng-class="{'bg-success':p.skutBetrag > 0, 'bg-danger':p.skutBetrag < 0}" ng-disabled="p.locked" ng-change="skutPremieChanged(p, m)" type="text" ng-dblclick="updateBemerkung('dperspremie', p.skutId)" ng-model="p.skutBetrag" class="form-control input-sm text-right" title="naposledy editoval :{{p.last_edit}}" id="hfprem_{{hfPremieArray.persnrArray[0].persnr}}_{{m}}" />
							<div ng-if="p.bemerkung.length > 0" class="input-group-addon input-group-sm no-print">
							    <span title="poznámka" id="comment_{{hfPremieArray.persnrArray[0].persnr}}_{{m}}" style="cursor: pointer;" ng-click="commentClicked($event, p)" class="glyphicon glyphicon-comment text-info" aria-hidden="true"></span>
							</div>

						    </div>
						    <div ng-show="bemerkung['dperspremie'][p.skutId].show">
							<textarea ng-change="bemerkungChanged('dperspremie', p.skutId, p)" class="form-control bg-warning" ng-model="bemerkung['dperspremie'][p.skutId].poznamka"></textarea>
						    </div>
						</td>
					    </tr>
					</tbody>
				    </table>
				</div>
			    </div>
			</div>
		    </div>
		</div>
		<div ng-show="showPanel.osobnihodnoceni" id="osobnihodnoceni">
		    <div class="panel panel-primary">
			<div class="panel-heading">
			    osobní hodnocení
			    <apl-help editable="isEditor" helpTextUpdater="./updateHelpText.php" el="hIArray['osobnihodnoceni_panel']" showhelp="showHelp" showadmininfo="showhI"></apl-help>
			</div>
			<div class="panel-body">
			    <div ng-show="osobniHodnoceniArray === null" class="row">
				<div class="col-sm-12">
				    <div class="alert alert-warning">
					<h1>OE <span class="label label-info">{{ma.oeInfo.oe}}</span> nemá žádné faktory k hodnocení :-(</h1>
				    </div>
				</div>
			    </div>
			    <div ng-show="osobniHodnoceniArray !== null" class="row">
				<div class="form-group col-md-2 form-group-sm">
				    <label class="control-label"  for="oshodvon">Von:</label>
				    <div class="input-group">
					<input ng-change="oshodDatumChanged('von')" ng-model="osobniHodnoceniVon" ui-date="dateOptions" type="text" class="form-control" id="oshodvon" placeholder="von">
				    </div>
				</div>
				<div class="form-group col-md-2 form-group-sm">
				    <label class="control-label"  for="oshodbis">Bis:</label>
				    <div class="input-group">
					<input ng-change="oshodDatumChanged('bis')" ng-model="osobniHodnoceniBis" ui-date="dateOptions" type="text" class="form-control" id="oshodbis" placeholder="bis">
				    </div>
				</div>
			    </div>

			    <div ng-show="osobniHodnoceniArray !== null" class="row">
				<div class="col-sm-12">
				    <table class="table table-condensed table-responsive table-striped table-hover">
					<thead>
					    <tr>
						<th class="bg-info">osobní faktor</th>
						<th class="bg-info text-right" ng-repeat="(jm, pocet) in osobniHodnoceniArray.jahrmonatArray">{{jm}}</th>
					    </tr>
					    <tr>
						<th class="bg-info"></th>
						<th class="bg-info text-right" ng-repeat="(jm, pocet) in osobniHodnoceniArray.jahrmonatArray">{{sumaOsobniHodnoceniMonat('castka',jm)}} Kč</th>
					    </tr>
					</thead>
					<tbody>
					    <tr ng-repeat="of in osobniHodnoceniArray.hodnoceni.osobniFaktory">
						<th>
						    {{of.popis}}<br>
						    <span class="badge">váha: {{of.vaha|numeraljs:'0,0.00'}}</span>
						</th>
						<td class="text-right" ng-repeat="(jm, pocet) in osobniHodnoceniArray.jahrmonatArray">
						    <div class="">
							<div class="input-group input-group-sm">
							    <span class="input-group-btn input-group-sm">
								<button tabindex="-1" ng-if="osobniHodnoceniArray.hodnoceni[of.id_faktor][jm].hodnoceni_osobni.locked && isAdmin == true" class="btn btn-default no-print" title="odemkne hodnotu" type="button" ng-click="unlockOsobniHodnoceni(osobniHodnoceniArray.hodnoceni[of.id_faktor][jm].hodnoceni_osobni, jm)">
								    <span class="text-success glyphicon glyphicon-asterisk"></span>
								</button>
								<button tabindex="-1" ng-disabled="osobniHodnoceniArray.hodnoceni[of.id_faktor][jm].hodnoceni_osobni.locked" class="btn btn-default no-print" title="{{osobniHodnoceniArray.hodnoceni[of.id_faktor][jm].hodnoceni_osobni.locked?'zamknuto':'odemknuto, stisknutim hodnotu zamknete'}}" type="button" ng-click="lockOsobniHodnoceni(osobniHodnoceniArray.hodnoceni[of.id_faktor][jm].hodnoceni_osobni, jm)">
								    <!--<span ng-if="p.locked" class="glyphicon glyphicon-lock"></span>-->
								    <span ng-show="osobniHodnoceniArray.hodnoceni[of.id_faktor][jm].hodnoceni_osobni.locked === true" class="text-danger glyphicon glyphicon-lock"></span>
								    <span ng-show="osobniHodnoceniArray.hodnoceni[of.id_faktor][jm].hodnoceni_osobni.locked === false" class="text-success glyphicon glyphicon-lock"></span>
								    <!--<span ng-if="!p.locked" class="glyphicon glyphicon-unlock"></span>-->
								</button>
							    </span>
							    <input ng-class="" ng-disabled="osobniHodnoceniArray.hodnoceni[of.id_faktor][jm].hodnoceni_osobni.locked === true" ng-change="osobniHodnoceniChanged(osobniHodnoceniArray.hodnoceni[of.id_faktor][jm].hodnoceni_osobni)" type="text" ng-model="osobniHodnoceniArray.hodnoceni[of.id_faktor][jm].hodnoceni_osobni.hodnoceni" class="form-control input-sm text-right" title="hodnoceni" id="" />
							    <div class="input-group-addon input-group-sm">
								<span title="firemní hodnocení" ng-if="osobniHodnoceniArray.hodnoceni[of.id_faktor][jm].hodnoceni_firma !== null">{{osobniHodnoceniArray.hodnoceni[of.id_faktor][jm].hodnoceni_firma}}</span>
								<span title="nemá fir. hodnocení" class="glyphicon glyphicon-remove-circle" ng-if="osobniHodnoceniArray.hodnoceni[of.id_faktor][jm].hodnoceni_firma == null"></span>
							    </div>
							</div>
							<div class="input-group input-group-sm">
							    <input tabindex="-1" ng-class="" ng-disabled="true" ng-change="" type="text" ng-model="osobniHodnoceniArray.hodnoceni[of.id_faktor][jm].hodnoceni_osobni.castka" class="form-control input-sm text-right" title="castka" id="" />
							    <div title="" class="input-group-addon">
								<span>Kč</span>
							    </div>
							</div>
						    </div>
						</td>
					    </tr>
					</tbody>
				    </table>
				</div>
			    </div>
			</div>
		    </div>
		</div>
	    </div>
	</div>
    </form>
</div>