<div class="container-fluid" ng-controller="persController">
    <div>
    	<button type="button" class="btn btn-warning btn-xs" ng-model="showHelp" uib-btn-checkbox>
	    ?
	</button>
	<button title="admin info" type="button" class="btn btn-info btn-xs" ng-model="showhI" uib-btn-checkbox ng-show="securityInfo.showArray['admininfo_btn']"  >
	    AI
	</button>
    </div>
    <div class="page-header">
	<h4>Personal
	</h4>
	<apl-help editable="isEditor" helpTextUpdater="./updateHelpText.php" el="hIArray['form_help']" showhelp="showHelp" showadmininfo="showhI"></apl-help>
    </div>

    <form name="persForm" ng-model-options="{ updateOn: 'blur default' , debounce: { 'default': 500, 'blur': 0 }}">
    <div class="row">
	    <div class="col-sm-10">
	    <div class="form-group form-group-sm">
		<label class="control-label" for="osoba">os. číslo / jméno</label>
		<input ng-change="osobaChanged()" ng-model="osoba" type="text" class="form-control" id="osoba" placeholder="hledání pracovníka, zadejte osobní, číslo, jméno ..">
		<apl-help  editable="isEditor" helpTextUpdater="./updateHelpText.php"  el="hIArray['osoba_suchen']" showhelp="showHelp" showadmininfo="showhI"></apl-help>
	    </div>
	    </div>
	    <div class="col-sm-2">
	    <div class="form-group form-group-sm">
		<label class="control-label" for="jenma">pouze MA</label>
		<input ng-change="jenMAChanged()" ng-model="jenma" type="checkbox" class="form-control" id="jenma">
		<apl-help  editable="isEditor" helpTextUpdater="./updateHelpText.php"  el="hIArray['jenma']" showhelp="showHelp" showadmininfo="showhI"></apl-help>
	    </div>
	    </div>
	    <div ng-if="osoby.length>0 && ma.selectedIndex==-1" class='col-sm-12'>
		<table class="table table-condensed table-striped" >
		    <thead>
			<tr>
			    <th>persnr</th>
			    <th>jmeno</th>
			    <th>nastup. datum</th>
			    <th>RegelOE</th>
			    <th>status</th>
			</tr>
		    </thead>
		    <tbody>
			<tr ng-repeat="r in osoby" ng-click="listRowClicked($index)">
			    <td>{{r.persnr}}</td>
			    <td>{{r.name}} {{r.vorname}}</td>
			    <td>{{r.eintritt}}</td>
			    <td>{{r.regeloe}}</td>
			    <td>{{r.dpersstatus}}</td>
			</tr>
		    </tbody>
		</table>
	    </div>
	</div>
	<div class='row' ng-show="ma.selectedIndex>=0">
	    <div class="col-sm-10">
		<h1>{{ma.maInfo.PersNr}} {{ma.maInfo.Vorname}} {{ma.maInfo.Name}} {{ma.maInfo.dpersstatus}}</h1>
	    </div>
	</div>
	<div class="row">
	    <div class="col-sm-12" role="tablist">
		<button class="btn btn-primary" role="tab" type="button" data-toggle="collapse" data-target="#zaklad" aria-expanded="false" aria-controls="zaklad">
		zaklad
		</button>
		<button class="btn btn-primary" role="tab"  type="button" data-toggle="collapse" data-target="#inventar" aria-expanded="false" aria-controls="inventar">
		inventar
		</button>
		<div class="collapse in" id="zaklad" role="tabpanel">
		    <div class="well">
		    základ
		    </div>
		</div>
		<div class="collapse" id="inventar" role="tabpanel">
		    <div class="well">
		    inventar
		    </div>
		</div>
	    </div>
	</div>
    </form>
</div>