<div class="container-fluid" ng-controller="rechnungController">
    <div>
	<button type="button" class="btn btn-warning btn-xs no-print" ng-model="showHelp" uib-btn-checkbox>
	    ?
	</button>
	<button title="admin info" type="button" class="btn btn-info btn-xs" ng-model="showhI" uib-btn-checkbox ng-show="securityInfo.showArray['admininfo_btn']"  >
	    AI
	</button>
    </div>
    <div class="page-header">
	<div class="row">
	    <div class="col-sm-12">
		<!--zahlavi formulare-->
		<h4>Rechnung</h4>
		<apl-help editable="isEditor" helpTextUpdater="./updateHelpText.php" el="hIArray['form_help']" showhelp="showHelp" showadmininfo="showhI"></apl-help>
	    </div>
	</div>
    </div>

    <form name="rechnungForm" ng-model-options="{ updateOn: 'blur default' , debounce: { 'default': 500, 'blur': 0 }}" ng-submit="formSubmitted()">
	<div class="row">
	    <div class="col-md-9 maxheightfull">
		<div ng-show="showRechnungTeilenForm" class="panel panel-info">
		    <div class="panel-heading">Rechnung teilen - Taetigkeiten auswaehlen</div>
		    <div class="panel-body">
			<div class="row">
			    <div class="col-md-12">
				<div class="form-inline">
				    <div class="form-group">
					<label>markiere Taetigkeiten: von:</label>
					<input style="width:6em;" type="number" ng-model="tat_von" class="form-control" id="tatnr_von" placeholder="von">
				    </div>
				    <div class="form-group">
					<label>bis:</label>
					<input style="width:6em;" type="number" ng-model="tat_bis" class="form-control" id="tatnr_bis" placeholder="bis">
				    </div>
				    <span class="label label-info">Anzahl mark. Positionen: <span class="badge">{{getCountTeilenSelected()}}</span></span>
				</div>
				<div class="form-inline">
				    <div class="form-group">
					<label>Re.Nr fūr <strong>markierte Positionen</strong> :</label>
					<input readonly="readonly" class="form-control" maxlength='8' size="8" type="text" id="rechnr_ma" ng-model="rechnungInfo.ma_rechnrVorschlag"/>
				    </div>
				    <div class="form-group">
					<label>Re.Nr fūr nicht markierte Positionen :</label>
					<input readonly="readonly" class="form-control" maxlength='8' size="8" type="text" id="rechnr_regular" ng-model="rechnungInfo.auftragsnr"/>
				    </div>
				    <button class="btn btn-primary" ng-show="getCountTeilenSelected()>0" ng-click="rechnungTeilen()">Teilen</button>
				</div>
			    </div>
			</div>
		    </div>
		</div>
		<table id='rechtable' class="table table-condensed table-hover table-striped">
		    <thead>
			<tr>
			    <th>Teil</th>
			    <th class="text-right">Pal</th>
			    <th>TatKZ</th>
			    <th class="text-right">Im-Stk</th>
			    <th class="text-right">Ex-Stk</th>
			    <th class="text-right">Preis</th>
			    <th class="text-right">GesPreis</th>
			    <th class="text-right">Auss</th>
			    <th>Bestell</th>
			    <th>Pos</th>
			    <th class="text-right">Ex-Im</th>
			    <th>vom Im</th>
			    <th>Taetigkeit</th>
			</tr>
		    </thead>
		    <tbody>
<!--			<tr ng-init="isnewpal=isNewPal(t.pal)" ng-repeat="t in teile" ng-click="teilRowClicked(t,$index)">-->
			<tr ng-class="" ng-repeat="t in dauftrRows">
			    <td ng-class="{'mehrSelected':isForTeilenSelected(t)}">{{t.teil}}</td>
			    <td ng-class="{'mehrSelected':isForTeilenSelected(t),'text-right':true}">{{t.pal}}</td>
			    <td ng-class="{'mehrSelected':isForTeilenSelected(t)}">{{t.tatkz}} ({{t.abgnr}})</td>
			    <td ng-class="{'mehrSelected':isForTeilenSelected(t),'text-right':true}">{{t.importstk}}</td>
			    <td ng-class="{'mehrSelected':isForTeilenSelected(t),'text-right':true}">{{t.exportstk}}</td>
			    <td ng-class="{'mehrSelected':isForTeilenSelected(t),'text-right':true}">{{t.preis|numeraljs:'#.####'}}</td>
			    <td ng-class="{'mehrSelected':isForTeilenSelected(t),'text-right':true}">{{t.gespreis|numeraljs:'#.####'}}</td>
			    <td ng-class="{'mehrSelected':isForTeilenSelected(t),'text-right':true}">{{t.auss}}</td>
			    <td ng-class="{'mehrSelected':isForTeilenSelected(t)}">{{t.fremdauftr}}</td>
			    <td ng-class="{'mehrSelected':isForTeilenSelected(t)}">{{t.fremdpos}}</td>
			    <td ng-class="{'mehrSelected':isForTeilenSelected(t),'text-right':true}">{{t.diff}}</td>
			    <td ng-class="{'mehrSelected':isForTeilenSelected(t)}">{{t.auftragsnr}}</td>
			    <td ng-class="{'mehrSelected':isForTeilenSelected(t)}">{{t.text}}</td>
			</tr>
		    </tbody>
		</table>
	    </div>
	    <div class="col-md-3">
		<div class="panel panel-success">
		    <div class="panel-heading">ExportInfo</div>
			<table class="table">
			    <tr>
				<th>Export:</th>
				<td class="text-right"><span class="label label-success">{{rechnungInfo.auftragsnr}}</span></td>
			    </tr>
			    <tr>
				<th>Auslief-Datum:</th>
				<td class="text-right">
				    <input ng-model="rechnungInfo.auftrInfo[0].ausliefer_raw" style="" ui-date="dateOptions" type="text" class="form-control text-right" id="" placeholder="Ausliefer Datum">
				</td>
			    </tr>
			</table>
		</div>
		<div class="panel panel-info">
		    <div class="panel-heading">Rechnung/Drueck</div>
			<table class="table">
			    <tr>
				<th>Rechnungspreis</th>
				<td class="text-right">{{rechnungInfo.rechnung|numeraljs:'#.####'}}</td>
			    </tr>
			    <tr>
				<th>Drueckpreis</th>
				<td class="text-right">{{rechnungInfo.drueck|numeraljs:'#.####'}}</td>
			    </tr>
			    <tr>
				<th>Diff</th>
				<td ng-class="{'text-right':true,'text-warning':rechnungInfo.drueckRechnungDiff<0,'text-success':rechnungInfo.drueckRechnungDiff=0}">{{rechnungInfo.drueckRechnungDiff|numeraljs:'#.####'}}</td>
			    </tr>
			    <tbody ng-if="rechnungInfo.auftrInfo[0].hatrechnung=='0'">
				<tr>
				    <td colspan="2"><button class="btn btn-block btn-success">Rechnung berechnen</button></td>
				</tr>
				<tr>
				    <td colspan="2"><button disabled class="btn btn-block btn-success">Umrechnung</button></td>
				</tr>
				<tr>
				    <td colspan="2"><button class="btn btn-block btn-success">Rechnung teilen</button></td>
				</tr>
			    </tbody>
			    <tbody ng-if="rechnungInfo.auftrInfo[0].hatrechnung=='1' && !rechnungInfo.hatMARechnung">
				<tr>
				    <td colspan="2">
					<button class="btn btn-block btn-success" ng-click="toggleRechnungTeilenForm()">Rechnung teilen</button>
				    </td>
				</tr>
			    </tbody>
			    <tbody ng-if="rechnungInfo.hatMARechnung">
				<tr >
				    <th>MA RechnungNr:</th>
				    <td class="text-right"><span class="label label-success">{{rechnungInfo.ma_rechnrVorschlag}}</span></td>
				</tr>
				<tr>
				    <td colspan="2">
					<div class="radio">
					    <label>
						<input ng-model="maradio.druckMA" type="radio" value="ma"/>
						MA Rechnung
					    </label>
					</div>
					<div class="radio">
					    <label>
						<input ng-model="maradio.druckMA" type="radio" value="regular"/>
						ohne MA Rechnung
					    </label>
					</div>
					<div class="radio">
					    <label>
						<input ng-model="maradio.druckMA" type="radio" value="voll"/>
						volle Rechnung
					    </label>
					</div>
				    </td>
				</tr>
			    </tbody>
			    
			</table>
		</div>
		<div ng-if="rechnungInfo.auftrInfo[0].hatrechnung=='1'" class="panel panel-info">
		    <div class="panel-heading">Rechnungen drucken</div>
		    <div class="panel-body">
			<div class="btn-group-vertical btn-block" role="group" aria-label="...">
			    <a target="_blank" role="button" class="btn btn-info" ng-href="../../get_parameters.php?popisky=Rechnung Nr.;XMA RechNr;DT;hat MA Rech;PDF Password,password&promenne=auftragsnr;ma_rechnr;dt;hatma;pdfpass&values={{rechnungInfo.auftragsnr}};{{rechnungInfo.ma_rechnrVorschlag}};{{maradio.druckMA}};{{rechnungInfo.hatMARechnung?'1':'0'}}&report=D740">D740 kurz</a>
			    <a target="_blank" role="button" class="btn btn-info" ng-href="../../get_parameters.php?popisky=Rechnung Nr.;Typ,*RA;XMA RechNr;DT;hat MA Rech&promenne=auftragsnr;typ;ma_rechnr;dt;hatma&values={{rechnungInfo.auftragsnr}};normal,Summe Teil,nur Summe Teil;{{rechnungInfo.ma_rechnrVorschlag}};{{maradio.druckMA}};{{rechnungInfo.hatMARechnung?'1':'0'}}&report=D742">D742 kurz</a>
			    <a target="_blank" role="button" class="btn btn-info" ng-href="../../get_parameters.php?popisky=Rechnung Nr.&promenne=auftragsnr&values={{rechnungInfo.auftragsnr}}&report=D750">D750 normal</a>
			    <a target="_blank" role="button" class="btn btn-info" ng-href="../../get_parameters.php?popisky=Rechnung Nr.&promenne=auftragsnr&values={{rechnungInfo.auftragsnr}}&report=D752">D752 normal</a>
			    <a target="_blank" role="button" class="btn btn-info" ng-href="../../Reports/D760_pdf.php?report=D760&auftragsnr={{rechnungInfo.auftragsnr}}&auftragsnr_label=Rech Nr&ma_rechnr={{rechnungInfo.ma_rechnrVorschlag}}&dt={{maradio.druckMA}}&hatma={{rechnungInfo.hatMARechnung?'1':'0'}}">D760 kurz</a>
			    <a disabled target="_blank" role="button" class="btn btn-info" ng-href="../../Reports/D770_pdf.php?report=D770&auftragsnr={$auftragsnr_value}&auftragsnr_label=Rech Nr&abgnr_von='+$('#abgnr_von').val()+'&abgnr_bis='+$('#abgnr_bis').val()+'&flag_teilen='+$('#flag_teilen').val()+'&druck_typ='+$('input[@name=druck_typ]:checked').val()+'&rechnr_regular='+$('#rechnr_regular').val()+'&rechnr_ma='+$('#rechnr_ma').val()">D770 normal</a>
			    <a target="_blank" role="button" class="btn btn-info" ng-href="../../get_parameters.php?popisky=Rechnung Nr.&promenne=auftragsnr&values={{rechnungInfo.auftragsnr}}&report=D792">D792 kurz</a>
			    <a target="_blank" role="button" class="btn btn-info" ng-href="../../get_parameters.php?popisky=Rechnung Nr.;Typ,*RA&promenne=auftragsnr;typ&values={{rechnungInfo.auftragsnr}};Gute Teile,Ausschuss,Mehrarbeit&report=D794">D794 kurz</a>
			</div>
		    </div>
		</div>
	    </div>
	</div>
    </form>
</div>