/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12.2.2016, 12:25:30
    Author     : jr
*/

div.page-header{
    background-color: lightyellow;
    text-align: center;
    margin: 0px 0px 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}

div.page-header h4{
    margin: 0px;
}