/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23.7.2015, 9:40:51
    Author     : jr
*/


div.page-header{
    background-color: lightyellow;
    text-align: center;
    margin: 0px 0px 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}

div.page-header h4{
    margin: 0px;
}

.st-sort-ascent:before{
    content: '\25B2';
  }

  .st-sort-descent:before{
    content: '\25BC';
  }

  .table > thead > tr > th {
    background-color: #DCEAF5;
  }
  
  th[st-sort]{
      cursor: pointer;
  }
  

@media print
{    
    * {
	background: inherit;
	color: inherit;
    }
    
    .no-print, .no-print *
    {
        display: none !important;
    }
    
    #dauftr{
	font-size: 0.7em;
    }
    
    #dauftr a[href]:after {
	content: none;
    }
}

#dpos td{
    padding: 1px;
}
#dpos tr.kzgut{
	font-weight: bold;
	background-color: yellow;
}

#dpos tr.disabled{
	background-color: gray;
}

#spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -100px 0 0 -100px;
	height: 200px;
	width: 200px;
	text-indent: 250px;
	white-space: nowrap;
	overflow: hidden;
	background-image: url(../../images/spinner2.gif);
	background-repeat: no-repeat;
	z-index: 9999;
	display:none;
}

.ui-select-bootstrap > .ui-select-choices{
    width: auto;
    max-height: 250px;
}

.ui-select-bootstrap .ui-select-choices-row{
    border-bottom: 1px solid blue !important;
}

div.list_kunde{
    display: inline-block;
    /*width: 3em;*/
}
div.list_teil{
    display: inline-block;
    width: 10em;
}
div.list_bezeichnung{
    display: inline-block;
    width: 15em;
}
div.list_original{
    display: inline-block;
    width: 15em;
}
div.list_gew{
    display: inline-block;
    width: 6em;
}

div.hatrechnung{
    background-color: lightpink;
}

.ng-dirty{
    /*background-color: #FECA40;*/
}

.ng-invalid{
    border-color:red;
}

div.ALT{
    background-color: lightsalmon;
}

div.GSP{
    background-color: lightpink;
}