
<div class="container-fluid" ng-controller="persPlanController">
    <div class="no-print">
	<button type="button" class="btn btn-warning btn-xs no-print" ng-model="showHelp" uib-btn-checkbox>
	    ?
	</button>
	<button title="admin info" type="button" class="btn btn-info btn-xs" ng-model="showhI" uib-btn-checkbox ng-show="securityInfo.showArray['admininfo_btn']"  >
	    AI
	</button>
	<apl-help el="hIArray['admininfo_btn']" showadmininfo="showhI"></apl-help>
    </div>
    <div class="page-header">
	<div class="row">
	    <div class="col-sm-10">
		<h4>Personal Plan Tag / OE <span class="label label-danger">{{planTag|date:'dd.MM.yyyy'}} ( {{jmenoDneCZ}}, {{jmenoDneE}} )</span> <span class="label label-info">OE: {{oeplantag}}</span>
		</h4>
		<apl-help editable="isEditor" helpTextUpdater="./updateHelpText.php" el="hIArray['form_help']" showhelp="showHelp" showadmininfo="showhI"></apl-help>
	    </div>
	</div>
    </div>

    <form name="persForm" ng-model-options="{ updateOn: 'blur default' , debounce: { 'default': 500, 'blur': 0 }}" ng-submit="formSubmitted()">
	<div class="row">
	    <div class="col-sm-8 form-horizontal" style="border-right: 1px solid black;">
		<div class="form-group col-md-4 form-group-sm">
		    <label class="control-label"  for="plantag">den / Tag</label>
		    <div class="input-group">
			<input ng-change="planTagChanged('matagplan')" ng-model="planTag" ui-date="dateOptions" type="text" class="form-control" id="persplanvon" placeholder="den">
		    </div>
		</div>
		<div class="form-group col-md-2 form-group-sm">
		    <label class="control-label"  for="oeplantag">OE</label>
		    <!--OE se budou vybirat jen z "pracovnich"-->
		    <select class="form-control" ng-change="planTagChanged('matagplan')" ng-model="oeplantag" ng-options="option for option in oesArray"></select>
		</div>
	    </div>
	    <div class="col-sm-4 form-horizontal">
		<div class="form-group col-md-12 form-group-sm">
		    <label class="control-label" for="osoba">seznam osobních čísel</label>
		    <input ng-change="persnrListChanged('matagplan')" ng-model="persnrList" type="text" class="form-control" id="persnrList" placeholder="hledání pracovníka, zadejte osobní seznam osobních čísel">
		    <apl-help  editable="isEditor" helpTextUpdater="./updateHelpText.php"  el="hIArray['osoba_suchen']" showhelp="showHelp" showadmininfo="showhI"></apl-help>
		</div>
	    </div>
	</div>
    </form>


    <div class="row">
        <div class="col-sm-8" style="border-right: 1px solid black;">
	    <table class="table table-condensed table-hover" ng-if="ma.length>0">
		<tbody>
		    <tr ng-repeat="m in ma" ng-class='{"warning":m.edata_min===null,"success":m.edata_min!==null}'>
			<td class="text-right" style="width: 5em;">
			    <h4>{{m.persnr}}</h4>
			</td>
			<td>
			    <h5>{{m.vorname}} {{m.name}}</h5>
			</td>
			<td title="naplánovane OE a počet hodin">
			     <span class="label label-primary">{{m.oe}} ({{m.stunden}})</span>
			</td>
			<td>
			    <span ng-show="m.edata_min!==null" class='edatabadge badge badge-important'>(od:{{jencas(m.edata_min)}})</span>
			    <span ng-show="m.edata_max!==null && m.edata_max!=m.edata_min" class='edatabadge badge badge-important'>(do:{{jencas(m.edata_max)}})</span>			    
			</td>
			<td class="text-right no-print">
			    <button title="odstranit z plánu" ng-click="deleteFromPlan(m)" class="btn btn-danger btn-xs">-</button>
			</td>
		    </tr>
		</tbody>
	    </table>
	</div>
	<div class="col-sm-4">
	    <table class="table table-condensed table-hover">
		<tbody title="kandidáti ze seznamu osobních čísel" ng-if="osoby.length>0" class="zeseznamupersnr">
		    <tr ng-repeat="o in osoby">
			<td class="text-right" style="width: 5em;">
			    <h4>{{o.persnr}}</h4>
			</td>
			<td>
			    <h5>{{o.vorname}} {{o.name}}</h5>
			</td>
			<td>
			     <span class="label label-primary">{{o.regeloe}}/{{o.alteroe}}/{{o.oe3}} ({{o.regelarbzeit}})</span>
			</td>
			<td class="text-right">
			    <button title="přidat do plánu" ng-click="addToPlan(o)" class="btn btn-success btn-xs">+</button>
			</td>
		    </tr>
		</tbody>
		<!--<tbody   title="kandidáti podle regeloe,alternativoe nebo oe3" ng-if="osobypodleoe.length>0" class="osobypodleoe">-->
		<tbody   title="kandidáti podle regeloe" ng-if="osobypodleoe.length>0" class="osobypodleoe">
		    <tr ng-repeat="o in osobypodleoe">
			<td class="text-right" style="width: 5em;">
			    <h4>{{o.persnr}}</h4>
			</td>
			<td>
			    <h5>{{o.vorname}} {{o.name}}</h5>
			</td>
			<td>
			     <span class="label label-primary">{{o.regeloe}}/{{o.alteroe}}/{{o.oe3}} ({{o.regelarbzeit}})</span>
			</td>
			<td class="text-right">
			    <button title="přidat do plánu" ng-click="addToPlan(o)" class="btn btn-success btn-xs">+</button>
			</td>
		    </tr>
		</tbody>
	    </table>
	</div>
    </div>

    
</div>