<div class="container-fluid" ng-controller="hodnocenifiremniController">
    <div>
	<button type="button" class="btn btn-warning btn-xs no-print" ng-model="showHelp" uib-btn-checkbox>
	    ?
	</button>
	<button title="admin info" type="button" class="btn btn-info btn-xs" ng-model="showhI" uib-btn-checkbox ng-show="securityInfo.showArray['admininfo_btn']"  >
	    AI
	</button>
    </div>
    <div class="page-header">
	<div class="row">
	    <div class="col-sm-12">
		<h4>Hodnocení - firemní</h4>
		<apl-help editable="isEditor" helpTextUpdater="./updateHelpText.php" el="hIArray['form_help']" showhelp="showHelp" showadmininfo="showhI"></apl-help>
	    </div>
	</div>
    </div>

    <form name="persForm" ng-model-options="{ updateOn: 'blur default' , debounce: { 'default': 500, 'blur': 0 }}">
	<div class="row">
	    <div class='col-sm-12'>
		<div class="panel panel-info">
		    <div class="panel-heading">
			<h3 class="panel-title">zadání firemního hodnocení</h3>
		    </div>
		    <div class="panel-body form-inline">
			<div class="form-group">
			    <label class="control-label" for="von">od</label>
			    <input ng-change="datumChanged('von')" ng-model="von" ui-date="dateOptions" type="text" class="form-control" id="von" placeholder="od">
			    <apl-help editable="isEditor" helpTextUpdater="./updateHelpText.php" el="hIArray['von']" showhelp="showHelp" showadmininfo="showhI"></apl-help>
			</div>
			<div class="form-group">
			    <label class="control-label" for="bis">do</label>
			    <input ng-change="datumChanged('bis')"  ng-model="bis" ui-date="dateOptions" type="text" class="form-control" id="bis" placeholder="do">
			    <apl-help editable="isEditor" helpTextUpdater="./updateHelpText.php" el="hIArray['bis']" showhelp="showHelp" showadmininfo="showhI"></apl-help>
			</div>
		    </div>
		</div>
	    </div>
	</div>
	
	<div class="row">
	    <div class='col-sm-12'>
		<table class="table table-condensed table-striped table-responsive">
		    <thead>
			<tr>
			    <th class="bg-info">
				Faktor / rok-měsíc
				<input ng-model="faktorfilter.popis" type="text" class="form-control input-sm no-print" id="faktorfilter" placeholder="filtr pro faktory">
				<apl-help editable="isEditor" helpTextUpdater="./updateHelpText.php" el="hIArray['faktorfilter']" showhelp="showHelp" showadmininfo="showhI"></apl-help>
			    </th>
			    <th class="text-right bg-info"></th>
			    <th class="text-right bg-info" ng-repeat="jm in jmArray">
				Suma hodnocení: {{sumaMonat('hodnoceni',jm)|numeraljs:'0,0'}}
			    </th>
			</tr>
			<tr>
			    <th class="bg-info">
			    </th>
			    <th class="text-right bg-info">cíl</th>
			    <th class="text-right bg-info" ng-repeat="jm in jmArray">
				{{jm}}
			    </th>
			</tr>
		    </thead>
		    <tbody>
			<tr ng-repeat="f in firemniFaktory|filter:faktorfilter:strict">
			    <th>
				{{f.popis}}
				<span ng-show="f.kriterium_bereich!==null"  title="{{f.kriterium_bereich}}" class="glyphicon glyphicon-ok bg-success" aria-hidden="true"></span>
			    </th>
			    <th class="text-right">{{f.cil_hodnoceni}}</th>
			    <td ng-repeat="jm in jmArray" ng-class="{'bg-success':f.cil_hodnoceni<=firmaFaktorMonat[f.id][jm].hodnoceni,'bg-warning':f.cil_hodnoceni>firmaFaktorMonat[f.id][jm].hodnoceni,'bg-danger':6>=firmaFaktorMonat[f.id][jm].hodnoceni}">
				<input ng-change="updateHodnoceniFirma(firmaFaktorMonat[f.id][jm])" ng-min="0" ng-max="9"  min="0" max="9" ng-model="firmaFaktorMonat[f.id][jm].hodnoceni" type="text" class="form-control text-right input-sm" id="ffm_{{f.id}}_{{jm}}" placeholder="hodnoceni">
			    </td>
			</tr>
		    </tbody>
		</table>
	    </div>
	</div>
	
	
    </form>
</div>