/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12.2.2016, 12:25:30
    Author     : jr
*/

@media print
{    
    * {
	background: inherit;
	color: inherit;
    }
    
    .no-print, .no-print *
    {
        display: none !important;
    }
    
    a[href]:after {
	content: none;
    }
}

#activities {
    height:inherit;
}

.widget{
    height: auto;
    max-height: none;
    overflow-y: visible;
}

#activities .content{
    height: auto;
    max-height: none;
}
body{
    /*border: 2px solid blue;*/
    margin: 0px;
    padding: 0px;
}

div.aheader,div.afooter{
    width: 100%;
    background-color: #ddd;
    margin: 0;
    padding-top: 0em;
    padding-bottom: 0em;
    margin-top: 0em;
}

h1{
    margin-top: 0px;
    margin-bottom: 0px;
}

div.aheader{
    margin-top: 0em;
    margin-bottom: 2em;
}

div.aheader{
    margin-bottom: 0em;
}

h1{
    font-weight: bold;
}

svg{
    border: 0px solid blue;
}

text.vzkdHodnota{
    //font-size: 10em;
    fill:#000;
    font-weight:bold;
    
}

text.statVzkdText{
    //font-size: 2em;
    fill:#000;
    font-weight:bold;
    
}

text.vzkd16hour{
    //font-size: 2em;
    fill:#000;
    font-weight:normal;
    stroke:#F00;
    stroke-width:0;
    
}

text.vzkdPlan{
    //font-size: 5em;
    fill:#000;
    font-weight:bold;
    
}

text.dt{
    font-size: 5em;
    fill:#555;
    font-weight:bold;
    
}