<div id="spinner"></div>

<div class="container-fluid">
    <div class="page-header">
	<h4>Auftrag pflegen / sprava zakazky {{auftragsnr}}</h4>
    </div>
    
    <div class="row">
	<div class="col-sm-10">
	    mainForm
	</div>
	<div class="col-sm-2">
	    <a href="" class="btn btn-block btn-xs">Behaelter bew.</a>
	    <a href="" class="btn btn-block btn-xs">edit Auftrpositionen</a>
	    <a href="" class="btn btn-block btn-xs">split Pal</a>
	</div>
	
	<div class="col-sm-12">
	    Rechnung am ....
	</div>
	
	<div class="col-sm-12">
	    KundeNr ....
	</div>
    </div>
    
    <div class="row">
	<div class="col-sm-12">
	    tabulka s dauftr pozicema
	</div>
    </div>
    
    <div class="row">
	<div class="col-sm-3">
	    <a href="" class="btn btn-xs btn-block">Position erstellen</a>
	    <a href="" class="btn btn-xs btn-block">D230 - Arbeitspapiere/DUPLEX</a>
	    <a href="" class="btn btn-xs btn-block">Auftragsmenge speichern</a>
	    <a href="" class="btn btn-xs btn-block">D607i</a>
	</div>
	<div class="col-sm-3">
	    <a href="" class="btn btn-xs btn-block">D605 Import</a>
	    <a href="" class="btn btn-xs btn-block">D606 Export</a>
	    <a href="" class="btn btn-xs btn-block">D607 Plan</a>
	    <a href="" class="btn btn-xs btn-block">Exporttablo</a>
	</div>
	<div class="col-sm-3">
	    <a href="" class="btn btn-xs btn-block">Export/Plan fullen</a>
	    <a href="" class="btn btn-xs btn-block">Export loeschen</a>
	    <a href="" class="btn btn-xs btn-block">D710 - Lieferungsuebersicht</a>
	    <a href="" class="btn btn-xs btn-block">D6XX - Freigabezettel</a>
	</div>
	<div class="col-sm-3">
	    <a href="" class="btn btn-xs btn-block">Rechnung</a>
	    <a href="" class="btn btn-xs btn-block">Rechnung exportieren</a>
	    <a href="" class="btn btn-xs btn-block">Rechnung importiere</a>
	    <a href="" class="btn btn-xs btn-block btn-danger">Ende / konec</a>
	</div>
    </div>
    
    
    
</div>
