<div class="container-fluid">
    <table st-table="dZeilen" st-safe-src="zeilen" class="table table-bordered table-striped table-condensed table-hover">
	<thead>
	    <tr>
		<th style="width:10em;" colspan="{{1}}"><input class="form-control" ng-keypress="getZeilen($event)" ng-model="terminMatch" placeholder="termin" type="text"/></th>
		<th style="width:10em;" colspan="{{1}}"><input class="form-control" ng-keypress="getZeilen($event)" ng-model="importMatch" placeholder="import" type="text"/></th>
		<th style="width:10em;" colspan="{{1}}"><input class="form-control" ng-keypress="getZeilen($event)" ng-model="teilMatch" placeholder="teil" type="text"/></th>
		<th class="text-left" colspan="{{2 + abgnrKeysArray.length}}"><span class="badge">{{zeilen.length}}</span></th>
	    </tr>
	    <tr>
		<th>Termin</th>
		<th>Import</th>
		<th>Teil</th>
		<th>Pal</th>
		<th>IM Stk</th>
		<th class="text-center" ng-repeat="tat in abgnrKeysArray">{{tat}}</th>
	    </tr>
	</thead>
	<tbody>
	    <tr ng-repeat="r in dZeilen" ng-init="zeilenIndex = $index">
		<td>{{r.termin}}</td>
		<td>{{r.import}}</td>
		<td>{{r.teil}}</td>
		<td class="text-right">{{r.pal}}</td>
		<td class="text-right">{{r.palInfo.sum_im_stk}}</td>
		<td class="text-info text-right" ng-repeat="tat in abgnrKeysArray">
		    <span ng-if="r.palInfo.hasOwnProperty(tat)">
			{{zeilenD[zeilenIndex].palInfo[tat].sum_gut_stk}}
			<!--{{zeilenIndex}}-->
		    </span>
		</td>
	    </tr>
	</tbody>
	<tfoot>
<!--	    <tr>
		<td colspan="{{5 + abgnrKeysArray.length}}" class="text-center">
		    <div st-pagination="true" st-items-by-page="100" st-displayed-pages="10"></div>
		</td>
	    </tr>-->
	</tfoot>
    </table>
</div>
