/* CSS Document */
div.closebutton {
    float: right;
    border: 1px solid black;
    margin-left: 8px;
    background-color: #faa;
    cursor: pointer;
}
#spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -100px 0 0 -100px;
	height: 200px;
	width: 200px;
	text-indent: 250px;
	white-space: nowrap;
	overflow: hidden;
	background-image: url(../images/spinner2.gif);
	background-repeat: no-repeat;
	z-index: 9999;
}

textarea#ema_antrag_text{
    margin: 2px;
    width: 99%;
    height: 6em;
}

textarea#ema_genehmigt_bemerkung{
    margin: 2px;
    width: 99%;
    height: 6em;
}


td.genehmigt{
    background-color: #8f8;
}    

.genehmigt{
    background-color: #8f8;
}    

.nichtgenehmigt{
    background-color: #f88;
}    

.inprocess{
    background-color: #ff8;
}    

fieldset.genehmigt{
    background-color: #8f8;
}    
body{
		background-color: rgb(179,179,179);
		font-family: Arial;
		}

		
/******************************************************************************/
/* stred formulare */
#formular_telo {
			background-color:rgb(179,179,179);
			position: absolute;
			width: 800px;
			top: 60px;
			left: 0px;
			visibility: visible;
			margin-left: 5px;
		  }

	
div.nodocsinfo{
		      padding: 10px;
		      text-align:center;
		      vertical-align: middle;
		      font-size: 20px;
		      font-weight: bold;
		      bottom: 0;
		      height: 100px;
		      left: 0;
		      margin: auto;
		      position: absolute;
		      top: 0;
		      right: 0;
		      width: 600px;
}   

a.dir{
    display: inline-block;
    width: 100%;
    text-decoration: none;
    font-size: 12px;
    color: black;
    font-weight: bold;
}

a.prevdir{
    display: inline-block;
    width: 100%;
    background-color: lightblue;
    text-decoration: none;
    font-size: 12px;
    color: black;
    font-weight: bold;
}

a.file{
    display: inline-block;
    text-decoration: none;
    font-size: 12px;
    color: blue;
}

a.abutton{
    display: inline-block;
    border: 1px solid red;
    text-decoration: none;
    font-size: 12px;
    padding: 3px;
    margin-right: 5px;
    background-color: #eee;
    color: black;
    font-weight: bold;
}
		      
#souradnice
{
	position: absolute;
	top:0px;
	left:0px;
	background-color:rgb(0,255,0);
	z-index:99;
}

#docutablescroller{
    max-height: 200px;
    overflow-y: auto;
}    


#dokutable{
    border-collapse: collapse;
/*    border: 1px solid black;*/
    width: 100%;
    
}    

td.filetableheader{
    font-size: 10px;
    font-weight: bold;
    color: white;
    background-color: gray;
}    

td.filetableitem{
    font-size: 11px;
}    
    
tr.sudy{
    background-color:rgb(255,255,255);
}    

tr.lichy{
    background-color:rgb(220,220,220);
}    

tr.pridany{
    background-color:rgb(255,255,0);
    font-weight: bold;
}

td{
    vertical-align: top;
}    
#dokutable td{
/*    border: 1px solid black;*/
    padding-bottom: 4px;
    padding-top: 4px;
    font-size: 11px;
    
}    

#dokutable input{
/*    border: 1px solid black;*/
    font-size: 11px;
}    

#dokuform{
    position: absolute;
    left: 10px;
    top: 76px;
    /*width: 775px;*/
    height: 320px;
    overflow:auto;
    background-color:rgb(255,255,180);
    border: 2px solid #000;
    padding: 5px;
    opacity: 0.95;
    z-index: 999;
}    

#vpmform{
    position: absolute;
    left: 10px;
    top: 76px;
    width: 775px;
    height: 320px;
    overflow:auto;
    background-color:rgb(255,255,180);
    border: 2px solid #000;
    padding: 5px;
    opacity: 0.95;
    z-index: 999;
}    

#mittelform{
    position: absolute;
    left: 10px;
    top: 76px;
    /*width: 775px;*/
    /*height: 320px;*/
    overflow:auto;
    background-color:rgb(255,255,180);
    border: 2px solid #000;
    padding: 5px;
    opacity: 0.95;
    z-index: 999;
}    

#imapart{
    background-color: #ffd;
    border: 2px solid #ff0;
}

#emapart{
    background-color: #dfd;
    border: 2px solid #0f0;
}

#imaform{
    position: absolute;
    left: 10px;
    top: 76px;
    /*width: 775px;*/
    /*height: 320px;*/
    overflow:auto;
    background-color:rgb(255,255,180);
    border: 2px solid #000;
    padding: 5px;
    opacity: 0.95;
    z-index: 999;
}    

#imaeditform{
    position: absolute;
    left: 10px;
    top: 76px;
    /*width: 706px;*/
    background-color:rgb(230,230,255);
    border: 2px solid #00f;
    padding: 5px;
    opacity: 1;
    z-index: 999;
}    

#imaselectimform{
    position: absolute;
    left: 74px;
    top: 136px;
    background-color:rgb(255,255,180);
    border: 2px solid #ff0;
    padding: 5px;
    opacity: 0.90;
    z-index: 999;
}    

#previewtable{
    position: absolute;
    background-color:rgb(255,255,255);
    border: 2px solid #000;
    padding: 5px;
    opacity: 0.90;
    z-index: 999;
}    

#previewtable table{
    border-collapse: collapse;
}    

#previewtable th{
    background-color: lightblue;
    border: 1px solid black;
    font-size: 1em;
    padding: 5px;
}    
#previewtable td{
    border: 1px solid black;
    text-align: right;
    font-size: 0.8em;
    padding: 5px;
}    

#imaselectpalform{
    position: absolute;
    left: 78px;
    top: 162px;
    background-color:rgb(255,255,180);
    border: 2px solid #ff0;
    padding: 5px;
    opacity: 0.90;
    z-index: 999;
}    

#imaselecttatform{
    position: absolute;
    left: 78px;
    top: 187px;
    height: 200px;
    overflow-y: auto;
    background-color:rgb(255,255,180);
    border: 2px solid #ff0;
    padding: 5px;
/*    opacity: 0.75;*/
    z-index: 999;
}    

#imanewdiv{
    /*width: 90%;*/
    background-color:rgb(230,255,230);
    border: 1px solid #000;
    padding: 5px;
    white-space: nowrap;
}    

#formular_header {
			position: absolute;
			width: 800px;
			height: 40px;
			top: 20px;
			left: 0px;
			background-color:rgb(255,255,220);
			border-bottom: solid 1px black;
			margin-left: 5px;
			font-size: 15pt;
			font-weight:bold;
			text-align:center;
		}
	  
#header {
			position: absolute;
			width: 800px;
			height: 65px;
			top: 0px;
			left: 0px;
			background-image: url(/img/zahlavi30.jpg);
			border-bottom: solid 0px black;
			margin-left: 5px
		}

#podheader {
			position: absolute;
			width: 800px;
			height: 20px;
			top: 0px;
			left: 0px;
			background-color:rgb(220,220,220);
			border-bottom: solid 1px black;
			border-top: solid 1px black;
			margin-left: 5px;
			font-size: 7pt;
		}
		

#form_footer_tlacitka_reporty {
			position: absolute;
			width: 800px;
			height: 50px;
			left: 0px;
			top: 500px;
			background-color:rgb(220,220,220);
			border: solid 1px black;
			margin-left: 5px;
			font-size: 7pt;
		}


#attach_table {
			position: absolute;
			width: 800px;
			height: 100px;
			left: 0px;
			bottom:75px;
			background-color:rgb(220,220,220);
			border: solid 1px black;
			margin-left: 5px;
			font-size: 7pt;
		}


#dkopf_form_footer {
			position: absolute;
			width: 800px;
			height: 55px;
			left: 0px;
			bottom:10px;
			background-color:rgb(220,220,220);
			border: solid 1px black;
			margin-left: 5px;
			font-size: 7pt;
		}

table.formulartable
{
	position:relative;
	top:10px;
	width:800px;
	background-color:rgb(220,220,220);
	border: solid 1px black;
	padding: 10px;
	font-size:13px;
}

.abyStartButton {width:180px; margin:2px 2px 2px 2px;}
.formularbutton
{
	width:180px;
	font-size:10px;
}

.formularEndbutton
{
	width:180px;
	font-size:10px;
	background-color:rgb(255,0,0);
	color:rgb(255,255,255);
	font-weight:bold;
}

#content
{
}

#scroll
{
	
	left:0;
	top:0;
	margin: 0 ;
	visibility: visible;
	background-color: white;
	z-index: 1;
	height: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-collapse: collapse;
	border-bottom-style: solid;
	border-color: #000000;
	border-width: 1px;
	overflow: auto
}

#scroll_apl
{
	
	left:0;
	top:0;
	margin: 0 ;
	visibility: visible;
	background-color: rgb(179,179,179);
	z-index: 1;
	height: 300px;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	border-collapse: collapse;
	border-bottom-style: none;
	border-color: #000000;
	border-width: 0px;
	overflow: auto
}

div#dposnew
{
	position: absolute;
	left: 90px;
	bottom: 80px;
	background-color:rgb(240,240,240);
	border: solid 2px red;
	padding:10px;
	margin-left: 5px;
	font-size: 7pt;
	z-index:1500;
	visibility:hidden;
}


#apl_table {
			position: absolute;
			width: 800px;
			left: 0px;
			top: 550px;
			background-color:rgb(220,220,220);
			border: solid 1px black;
			margin-left: 5px;
			font-size: 7pt;
		}

#scroll_attach
{
	
	left:0;
	top:0;
	margin: 0 ;
	visibility: visible;
	background-color: rgb(179,179,179);
	z-index: 1;
	height: 100px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-collapse: collapse;
	border-bottom-style: solid;
	border-color: #000000;
	border-width: 1px;
	overflow: auto
}

#scroll div
{
	margin: 0 auto;
	z-index: 1;
	text-align:left
}


#suggest table
{
	width: 100%;
	font-size: 11px;
	font-weight: normal;
	color: #676767;
	text-decoration: none;
	border: 1px;
	padding: 0px;
	text-align:left;
	margin: 0px
}

.highlightrow
{
	background-color: #FFFF00;
	cursor: pointer
}

tr.result_table_header
{
	background-color: #0000ff;
	color: #ffffff;
	font-weight: bold
}

tr.apl_table_header
{
	background-color: #0000ff;
	color: #ffffff;
	font-weight: bold
}

table.apl_table
{
	position:relative;
	top:0px;
	width:100%;
	background-color:rgb(220,220,220);
	border: solid 1px black;
	padding: 0px;
	font-size:11px;
}

.hidden
{
	display:none
}
.error
{
	display:inline;
	margin-left:0px;
	border:none;
	color:#ff0000;
	background-color:rgb(220,220,220);
	font-size:10px;
	font-weight:bold
}

.disabled_bold
{
	font-weight:bold;
	background-color:white;
}

tr.Grow
{
	background-color:rgb(255,255,0);
	font-weight:bold;
}

input.edit_dpos
{
	position:relative;
	top:0px;
	width:100%;
	background-color:rgb(255,255,255);
	border: solid 1px black;
	padding: 0px;
	font-size:11px;
	font-weight:bold;
}

select.edit_dpos
{
	width:100%;
	background-color:rgb(255,255,255);
	border: solid 1px black;
	padding: 0px;
	font-size:11px;
	font-weight:bold;
}

h1.teilheader{
    text-align: center;
    width: 100%;
    background-color: lightyellow;
    margin: 0;
}